Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

test: add UpdateSeriesRule API tests (200/404/400)
  internal/api/series_update_test.go
Due: none

feat: local-first recording playback with stability gate
  SMOKE_TEST_RECORDINGS.md
  docs/guides/CONFIGURATION.md
  internal/api/http.go
  internal/api/recordings.go
  internal/config/config.go
  internal/config/recording_test.go
  internal/recordings/pathmap.go
  internal/recordings/pathmap_test.go
  internal/recordings/stability.go
  internal/recordings/stability_test.go
Due: unittests, API Layer

fix(recordings): extract path from Enigma2 service reference for local playback
  internal/api/recordings.go
  internal/api/recordings_serviceref_test.go
Due: unittests, API Layer

docs: add v3.1.0 release notes and Enigma2 ServiceRef documentation
  RELEASE_NOTES_v3.1.0.md
  SMOKE_TEST_RECORDINGS.md
  docs/guides/CONFIGURATION.md
Due: none

feat(recordings): add ffprobe duration detection for local recordings
  internal/api/recordings.go
Due: unittests, API Layer

feat(v3): add VOD seeking and local playback optimizations
  internal/api/handlers_v3.go
  internal/api/recordings.go
  internal/netutil/url.go
  internal/netutil/url_test.go
  internal/v3/api/hls.go
  internal/v3/api/types.go
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/runner.go
  internal/v3/exec/ffmpeg/runner_test.go
  internal/v3/exec/interfaces.go
  internal/v3/exec/stubs.go
  internal/v3/model/events.go
  internal/v3/worker/orchestrator.go
Due: unittests, API Layer

feat(webui): add VOD scrubber and recording enhancements
  webui/src/components/RecordingsList.tsx
  webui/src/components/SeriesManager.tsx
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: none

v3: enforce recording_id bounds + align OpenAPI/SDK
  api/openapi.yaml
  internal/api/handlers_v3.go
  internal/api/http.go
  internal/api/integration_test.go
  internal/api/recording_id_test.go
  internal/api/recordings.go
  internal/api/recordings_probe_verification_test.go
  internal/api/server_gen.go
  internal/api/testdata/v3_contract/get_session_response.json
  internal/dvr/manager.go
  internal/dvr/manager_test.go
  internal/v3/api/intent_handler.go
  internal/v3/api/types.go
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/runner.go
  internal/v3/exec/interfaces.go
  internal/v3/exec/stubs.go
  internal/v3/model/enums.go
  internal/v3/worker/orchestrator.go
  webui/src/client-ts/index.ts
  webui/src/client-ts/sdk.gen.ts
  webui/src/client-ts/types.gen.ts
  webui/src/client/index.ts
  webui/src/client/sdk.gen.ts
  webui/src/client/types.gen.ts
  webui/src/components/RecordingsList.tsx
  webui/src/components/V3Player.css
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: unittests, API Layer

docs: restructure architecture documentation and add new specs
  ARCHITECTURE.md
  README.md
  api/openapi.yaml
  design/v3_fsm.md
  design/v3_roadmap.md
  design/v3_vision.md
  docs/ARCHITECTURE.md
  docs/STREAMING.md
  docs/V3_FSM.md
  docs/frontend_migration_phase3.md
  docs/issue-admission-control-try-acquire.md
  docs/v3_fsm.md
  internal/api/errors.go
  internal/api/http.go
  internal/api/recordings.go
  internal/api/server_gen.go
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/args_test.go
  internal/v3/model/enums.go
  internal/v3/profiles/resolve.go
  webui/src/client-ts/index.ts
  webui/src/client-ts/types.gen.ts
  webui/src/client/index.ts
  webui/src/client/types.gen.ts
Due: unittests, API Layer

feat(webui): add bulk delete for recordings and VOD build status
  docs/DEVELOPMENT.md
  run_dev.sh
  webui/src/components/Recordings.css
  webui/src/components/RecordingsList.tsx
  webui/src/components/V3Player.tsx
  webui/src/locales/de.json
  webui/src/locales/en.json
  webui/src/types/v3-player.ts
Due: none

fix: backend lease release on terminal states (v3.0.2)
  internal/v3/worker/orchestrator.go
  internal/v3/worker/sweeper.go
Due: unittests

docs: document startup lease flush invariant (v3.0.3)
  internal/v3/store/badger_store.go
  internal/v3/store/bolt_store.go
  internal/v3/store/instrumented.go
  internal/v3/store/memory_store.go
  internal/v3/store/store.go
  internal/v3/worker/orchestrator.go
Due: unittests

feat: add LAN guard middleware and comprehensive auth enforcement tests
  docs/rfc/ADR-003-lease-centralization.md
  internal/api/auth_strict_test.go
  internal/api/http.go
  internal/api/middleware/lan_guard.go
  internal/config/config.go
  internal/v3/exec/interfaces.go
  internal/v3/exec/stubs.go
  internal/v3/model/enums.go
  internal/v3/profiles/resolve.go
  internal/v3/store/badger_store.go
  internal/v3/store/bolt_store.go
  internal/v3/store/instrumented.go
  internal/v3/store/memory_store.go
  internal/v3/store/store.go
  internal/v3/worker/orchestrator.go
  internal/v3/worker/reason_errors.go
Due: unittests, API Layer

feat(v3): implement Phase 2 idempotency and lease centralization (ADR-003)
  docs/rfc/ADR-003-lease-centralization.md
  internal/api/auth_strict_test.go
  internal/api/handlers_v3.go
  internal/api/metrics.go
  internal/config/config.go
  internal/v3/store/badger_store.go
  internal/v3/store/bolt_store.go
  internal/v3/store/bolt_store_test.go
  internal/v3/store/instrumented.go
  internal/v3/store/memory_store.go
  internal/v3/store/store.go
  internal/v3/worker/sweeper_test.go
Due: unittests, API Layer

chore: remove dead code and add cleanup TODOs
  internal/config/config.go
Due: unittests

refactor: improve config management and enhance auth test coverage
  .env.example
  ARCHITECTURE.md
  Makefile
  README.md
  config.example.yaml
  docker-compose.yml
  docs/CONFIGURATION_AUDIT.md
  docs/DEVELOPMENT.md
  docs/RELEASE-v3.0.0.md
  docs/V3_ENVIRONMENT_VARIABLES.md
  docs/adr/001-api-versioning.md
  docs/guides/CONFIGURATION.md
  docs/guides/RBAC.md
  docs/guides/config.schema.json
  docs/guides/v3-setup.md
  internal/api/auth.go
  internal/api/auth_strict_idempotency_off_test.go
  internal/api/auth_strict_idempotency_test.go
  internal/api/auth_strict_test.go
  internal/api/auth_test.go
  internal/api/config_reload.go
  internal/api/contract_v3_test.go
  internal/api/fileserver.go
  internal/api/handlers_test.go
  internal/api/handlers_v3.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/integration_test.go
  internal/api/rbac.go
  internal/api/rbac_test.go
  internal/api/security_hardening_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/logging_test.go
  internal/config/validation.go
  internal/v3/api/intent_handler.go
  internal/v3/api/types.go
  internal/v3/integration/flow_test.go
  run_dev.sh
  test/integration/security_test.go
Due: unittests, API Layer

feat: implement progressive VOD recording system with adaptive retry
  Makefile
  api/openapi.yaml
  cmd/daemon/main.go
  internal/api/errors.go
  internal/api/http.go
  internal/api/recordings.go
  internal/api/recordings_classifier_test.go
  internal/api/recordings_concurrency_test.go
  internal/api/recordings_url_test.go
  internal/api/server_gen.go
  internal/config/config.go
  run_dev.sh
  scripts/check_env.sh
Due: unittests, API Layer

feat(vod): comprehensive VOD system with multi-strategy playback and resilience
  api/openapi.yaml
  docs/VOD_ARCHITECTURE_V3.md
  docs/VOD_RUNBOOK.md
  internal/api/http.go
  internal/api/recordings.go
  internal/api/recordings_concurrency_test.go
  internal/api/server_gen.go
  internal/api/server_impl.go
  internal/metrics/business.go
  internal/resilience/vod_breaker.go
  internal/resilience/vod_breaker_test.go
  webui/src/client/index.ts
  webui/src/client/sdk.gen.ts
  webui/src/client/types.gen.ts
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: unittests, API Layer

fix(setup): unify receiver base URL handling and fix session state coverage
  internal/config/manager.go
  internal/v3/origin/handler.go
Due: unittests

feat(v3): unified LIVE-DVR architecture with Safari MediaError 4 fix
  docs/RELEASE_NOTES_LIVE_DVR.md
  docs/REMUX_FIRST_DECISION.md
  docs/RETENTION_POLICY_REQUIREMENT.md
  internal/api/recordings.go
  internal/v3/api/hls.go
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/args_dvr_test.go
  internal/v3/exec/ffmpeg/args_test.go
  internal/v3/exec/ffmpeg/probe.go
  internal/v3/exec/ffmpeg/probe_test.go
Due: unittests, API Layer

fix(openapi): add missing Service schema definition
  api/openapi.yaml
  internal/api/server_gen.go
Due: none

fix(openapi): regenerate V3 spec and add CI drift-check
  .github/workflows/ci.yml
  internal/api/v3/server_gen.go
Due: none

fix(openapi): remove instantTune from V3 spec
  internal/api/v3/openapi.yaml
  internal/api/v3/server_gen.go
Due: unittests, API Layer

fix(api): build errors after OpenAPI regeneration
  internal/api/v3/errors.go
  internal/api/v3/recordings.go
Due: unittests, API Layer

docs(ops): add health and readiness endpoint documentation
  docs/ops/HEALTH.md
Due: none

docs(audit): WebUI Thin Client Audit - 2 violations found
  docs/architecture/WEBUI_THIN_CLIENT_AUDIT.md
Due: none

feat(config): add streaming profile configuration
  internal/config/config.go
Due: unittests

feat(api): add streaming config to V3 API
  internal/api/v3/openapi.yaml
  internal/api/v3/system.go
  internal/config/validation.go
  webui/src/client/index.ts
  webui/src/client/sdk.gen.ts
  webui/src/client/types.gen.ts
Due: unittests, API Layer

feat(api): add streaming config to V3 API
  internal/api/v3/openapi.yaml
  internal/api/v3/server_gen.go
  internal/api/v3/system.go
Due: unittests, API Layer

feat(webui): fix thin client violations (PR 5.1)
  webui/src/types/v3-player.ts
Due: none

feat(adr-009): Backend Phase 1 - Session Lease Semantics
  PR1_DESCRIPTION.md
  docs/architecture/ARCHITECTURE.md
  docs/contracts/README.md
  docs/decisions/ADR-009-session-lease.md
  docs/decisions/ADR-010-capacity-snapshot.md
  docs/decisions/ADR-INDEX.md
  internal/api/v3/auth_strict_test.go
  internal/api/v3/handlers_core.go
  internal/api/v3/sessions_heartbeat.go
  internal/config/config.go
  internal/pipeline/model/enums.go
  internal/pipeline/store/bolt_store.go
  internal/pipeline/store/instrumented.go
  internal/pipeline/store/memory_store.go
  internal/pipeline/store/store.go
  internal/pipeline/worker/lease_expiry.go
  internal/pipeline/worker/metrics.go
Due: unittests, API Layer

docs(adr-009): Phase 2 - Contract & OpenAPI Updates
  GREP_PROOF_FINAL.md
  internal/api/v3/openapi.yaml
Due: unittests, API Layer

feat(adr-009): Phase 3 - Frontend Heartbeat Integration (FRONTEND-ONLY)
  PR2_DESCRIPTION.md
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: none

ci: Add large file prevention and repo health checks
  .githooks/pre-commit
  .github/README.md
  .github/workflows/repo-health.yml
Due: none

chore: Complete repository hygiene (PR#4)
  .gitignore
  PR3_DESCRIPTION.md
  scripts/fetch-testdata.sh
  server.pid
Due: none

ci: Add complexity gates and quality enforcement (PR#5)
  .github/workflows/quality-gates.yml
  docs/metrics/gocyclo-baseline-20260107.txt
Due: none
