Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix(ci): Critical CI gate fixes - fail-closed enforcement (PR#6)
  .github/workflows/quality-gates.yml
  scripts/fetch-testdata.sh
Due: none

Refactor Orchestrator.handleStart to reduce complexity < 20 and satisfy CTO quality gates
  PR3_DESCRIPTION.md
  internal/pipeline/worker/orchestrator.go
  internal/pipeline/worker/orchestrator_helpers.go
Due: unittests

feat(session): implement CTO binary gates - bounded concurrency, eliminate magic defaults, platform abstraction
  docs/arch/PORT_MEDIAPIPELINE.md
  docs/arch/STRATEGIC_MANDATE_Q1_26.md
  docs/arch/STRATEGIC_REVIEW_Q1_26.md
  internal/daemon/manager.go
  internal/domain/session/manager/concurrency_test.go
  internal/domain/session/manager/metrics.go
  internal/domain/session/manager/orchestrator.go
  internal/domain/session/manager/orchestrator_extra_test.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/manager/orchestrator_test.go
  internal/domain/session/manager/orchestrator_test_extra.go
  internal/domain/session/manager/reason_errors.go
  internal/domain/session/manager/reason_errors_test.go
  internal/domain/session/manager/recovery.go
  internal/domain/session/manager/recovery_contention_test.go
  internal/domain/session/manager/recovery_test.go
  internal/domain/session/manager/stop_test.go
  internal/domain/session/manager/stub_bus_test.go
  internal/domain/session/manager/stub_platform_test.go
  internal/domain/session/manager/sweeper.go
  internal/domain/session/manager/sweeper_once_test.go
  internal/domain/session/manager/sweeper_test.go
  internal/domain/session/manager/test_platform_test.go
  internal/domain/session/manager/validation_test.go
  internal/domain/session/model/enums.go
  internal/domain/session/model/lease.go
  internal/domain/session/ports/bus.go
  internal/domain/session/ports/pipeline.go
  internal/domain/session/ports/platform.go
  internal/domain/session/ports/types.go
  internal/infrastructure/bus/adapter.go
  internal/infrastructure/media/ffmpeg/adapter.go
  internal/infrastructure/media/stub/adapter.go
  internal/infrastructure/platform/osplatform.go
  internal/pipeline/bus/bus.go
  scripts/verify_deps.sh
Due: unittests, Daemon

docs(adr): add ADR-014 app structure & ownership boundaries
  docs/arch/ADR-014-PHASE0-STATUS.md
  docs/arch/ADR-014-app-structure-ownership.md
Due: none

refactor(domain): complete ADR-014 Phase 0
  docs/arch/ADR-014-PHASE0-STATUS.md
Due: none

feat(adr-014): Phase 1 PR #1 - Foundation skeleton + Gate A
  Makefile
  docs/arch/ADR-014-PHASE1-PLAN.md
  docs/arch/ADR-014-PHASE1-PR1-STATUS.md
  scripts/verify_gate_a_control_store.sh
Due: none

feat(adr-014): Phase 1 PR #1 - Foundation skeleton + Gate A enforcement
  Makefile
Due: none

fix(gate-a): add ripgrep dependency check per CTO review
  scripts/verify_gate_a_control_store.sh
Due: none

refactor(adr-014): PR #2 Slice 2.1 - move internal/auth to internal/control/auth
  internal/api/auth.go
  internal/api/security_utils.go
  internal/api/server_impl.go
  internal/api/v3/auth.go
  internal/api/v3/rbac.go
  internal/api/v3/recordings.go
  internal/api/v3/recordings_resume.go
  internal/api/v3/security.go
  internal/control/auth/context.go
  internal/control/auth/principal.go
  internal/control/auth/token.go
  internal/control/auth/token_test.go
Due: unittests, API Layer

refactor(adr-014): PR #2 Slice 2.2 - move internal/api/middleware to internal/control/middleware
  internal/api/http.go
  internal/api/v3/factory.go
  internal/control/middleware/cors.go
  internal/control/middleware/csrf.go
  internal/control/middleware/csrf_test.go
  internal/control/middleware/lan_guard.go
  internal/control/middleware/metrics.go
  internal/control/middleware/otel.go
  internal/control/middleware/otel_test.go
  internal/control/middleware/ratelimit.go
  internal/control/middleware/ratelimit_test.go
  internal/control/middleware/recovery.go
  internal/control/middleware/request_id.go
  internal/control/middleware/security_headers.go
  internal/control/middleware/stack.go
  internal/control/middleware/tracing.go
  internal/control/middleware/tracing_test.go
Due: unittests, API Layer

refactor(adr-014): PR #3 Slice 3.1 - extract secure file server to control/http
  internal/api/fileserver_test.go
  internal/api/http.go
  internal/control/http/file_metrics.go
  internal/control/http/file_metrics_prom.go
  internal/control/http/fileserver.go
  internal/control/http/fileserver_test.go
Due: unittests, API Layer

refactor(adr-014): PR #3 Slice 3.2 - move UI embed + serving to control/http
  Makefile
  internal/api/http.go
  internal/control/http/ui.go
  internal/control/http/ui_test.go
Due: unittests, API Layer

chore: migrate v3 read-only endpoints (Slice 5.1)
  internal/api/http.go
  internal/api/v3/auth_strict_test.go
  internal/api/v3/contract_v3_test.go
  internal/api/v3/equivalence_test.go
  internal/api/v3/http.go
  internal/api/v3/recordings_resume_test.go
  internal/api/v3/sessions_wrapper.go
  internal/api/v3/system.go
  internal/api/v3/v3.go
  internal/control/import_test.go
  internal/control/read/config.go
  internal/control/read/dvr.go
  internal/control/read/health.go
  internal/control/read/logs.go
  internal/control/read/scan.go
  internal/control/read/services.go
Due: unittests, API Layer

feat: Complete Slice 5.3 & 5.4 (GetStreams Hardening)
  internal/api/http.go
  internal/api/v3/auth_strict_test.go
  internal/api/v3/conflicts.go
  internal/api/v3/contract_v3_streams_test.go
  internal/api/v3/contract_v3_test.go
  internal/api/v3/equivalence_test.go
  internal/api/v3/recordings_resume_test.go
  internal/api/v3/system.go
  internal/api/v3/v3.go
  internal/control/read/clock.go
  internal/control/read/epg.go
  internal/control/read/serviceref.go
  internal/control/read/serviceref_test.go
  internal/control/read/services.go
  internal/control/read/streams.go
  internal/control/read/streams_test.go
  internal/control/read/timerid.go
  internal/control/read/timerid_test.go
  internal/control/read/timers.go
Due: unittests, API Layer

feat: Phase 6 Step 1 - ProblemDetails standardization
  Dockerfile
  Makefile
  README.md
  internal/api/metrics.go
  internal/api/v3/contract_v3_write_test.go
  internal/api/v3/equivalence_test.go
  internal/api/v3/system.go
  internal/control/http/fileserver_test.go
  internal/domain/session/manager/metrics.go
  internal/domain/session/manager/orchestrator.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/manager/validation_test.go
Due: unittests, API Layer

feat: Complete Rust removal - Pure Go v2.0.0
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/rust-ci.yml
  .goreleaser.yml
  docs/CI_CONTRACT.md
  internal/config/snapshot.go
  test/integration/shutdown_test.go
Due: unittests

chore: bump version to v3.1.0
  cmd/daemon/main.go
Due: none

chore: set default version to 'dev' for dynamic versioning
  cmd/daemon/main.go
Due: none

perf: optimize Dockerfile for faster builds
  Dockerfile
Due: none

Phase 6: Hardened write-path contracts (Steps 1-4)
  internal/api/v3/contract_v3_dvr_add_timer_test.go
  internal/api/v3/contract_v3_streams_stop_test.go
  internal/api/v3/contract_v3_system_refresh_test.go
  internal/api/v3/system.go
  internal/api/v3/v3.go
Due: unittests, API Layer

Phase 6: Final contract hardening (Steps 5-7) and test suite fixes
  internal/api/v3/contract_v3_dvr_delete_timer_test.go
  internal/api/v3/contract_v3_dvr_preview_conflicts_test.go
  internal/api/v3/contract_v3_dvr_update_timer_test.go
  internal/api/v3/contract_v3_streams_test.go
  internal/api/v3/system.go
  internal/api/v3/v3.go
Due: unittests, API Layer

chore: bump version to 3.1.2
  cmd/daemon/main.go
Due: none

Add DEPLOYMENT.md: GPU/CPU Selection + Homelab SOA (Canonical Contract)
  docs/ops/DEPLOYMENT.md
Due: none

Fix Dockerfile: Remove libfdk-aac (not available in Debian Bookworm)
  Dockerfile
  docs/ops/SMOKE_TEST.md
Due: none

Fix Docker build: Pipeline/Infra migration + FFmpeg checksum
  Dockerfile
  internal/pipeline/exec/real_factory.go
  internal/pipeline/exec/transcoder_adapter.go
  scripts/build-ffmpeg.sh
Due: unittests

Hardening Docker Release v3.1.3 (State-of-the-Art 2026)
  Dockerfile
  docs/ops/DEPLOYMENT.md
  internal/config/runtime_env.go
Due: unittests

Enterprise Hardening 2026 (Phase 1)
  Dockerfile
  docs/adr/003-transcoder-infrastructure-migration.md
  internal/pipeline/exec/transcoder_adapter.go
Due: unittests

release: v3.1.4 - hardened RC2 with mechanical proofs
  Dockerfile
  cmd/daemon/diagnostic_cmd.go
  cmd/daemon/healthcheck_cmd.go
  cmd/daemon/main.go
  docs/ops/DEPLOYMENT.md
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/integration_test.go
  internal/api/ordering_test.go
  internal/api/rbac_test.go
  internal/control/http/file_metrics_prom.go
  internal/control/http/v3/config_update_test.go
  internal/control/http/v3/nil_safety_test.go
  internal/control/http/v3/system.go
  internal/control/http/v3/v3.go
  scripts/ffmpeg-wrapper.sh
  scripts/ffprobe-wrapper.sh
  scripts/verify-runtime.sh
Due: unittests, Daemon, API Layer

release: v3.1.5 - hardened no-tools runtime stabilization
  Dockerfile
  cmd/daemon/main.go
  docker-compose.yml
  docs/guides/DEVELOPMENT.md
  docs/ops/xg2g.service
  internal/health/startup.go
Due: unittests

release: v3.1.5 - hardened no-tools runtime stabilization
  Dockerfile
  cmd/daemon/main.go
  docker-compose.yml
  docs/guides/DEVELOPMENT.md
  docs/ops/xg2g.service
  internal/health/startup.go
  scripts/test-shutdown.sh
Due: unittests

docs: finalize v3.1.5 system operations hardening and runbooks
  docs/ops/DEPLOYMENT.md
  docs/ops/xg2g.service
  scripts/safe-shutdown.sh
Due: none

fix(compose): switch healthcheck to liveness probe (-mode live)
  docker-compose.yml
Due: none

fix(api): correct misleading error message in GetEpg
  internal/control/http/v3/system.go
Due: unittests

fix(ui): preserve cache headers and stabilize asset test
  internal/control/http/ui.go
  internal/control/http/ui_test.go
Due: unittests

fix(streams): gate client_ip output
  internal/control/http/v3/system.go
Due: unittests
