Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

docs: add v3 contract purity ribbon-cut checklist
  docs/release/RELEASE_NOTES_v3.1.0.md
Due: none

feat: standardize v3 openapi and enforce contract governance hardrails
  docker-compose.yml
  docs/README.md
  docs/arch/ENIGMA2_STREAMING_TOPOLOGY.md
  internal/config/config.go
  internal/config/registry.go
  internal/config/validation.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/problem_compliance_test.go
  internal/control/http/v3/recordings.go
  internal/daemon/manager.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  internal/infra/media/ffmpeg/adapter_test.go
  scripts/ffmpeg-wrapper.sh
  scripts/ffprobe-wrapper.sh
  scripts/inspect-ffmpeg-args.sh
  scripts/openapi-legacy-allowlist.json
  scripts/verify-v3-dto-casing.sh
  scripts/verify-wrappers.sh
  webui/src/client-ts/types.gen.ts
  webui/src/components/RecordingsList.tsx
Due: unittests, Daemon

governance: fix decision ownership gate allowlisting invariants + contract fixtures
  scripts/verify-decision-ownership.sh
Due: none

governance: harden decision ownership import check (fixed-string grep)
  scripts/verify-decision-ownership.sh
Due: none

governance: fix openapi lint error count parsing
  scripts/verify-openapi-lint.sh
Due: none

chore(hygiene): fix linter warnings across scripts and docs
  docs/arch/ARCHITECTURE.md
  scripts/build-ffmpeg.sh
  scripts/ci_gate_repo_hygiene.sh
  scripts/monitor-stream-metrics.sh
  scripts/verify-decision-ownership.sh
Due: none

docs(adr): fix broken references in ADR-002 and ADR-004
  docs/adr/002-config-precedence.md
  docs/adr/004-opentelemetry.md
  docs/ops/OBSERVABILITY.md
Due: none

docs(guides): fix broken relative link to ARCHITECTURE.md
  docs/guides/REFERENCE.md
Due: none

docs & ci: fix broken links and add verification gate
  Makefile
  docs/adr/README.md
  docs/arch/ARCHITECTURE.md
  docs/release/RELEASE_NOTES_v3.1.0.md
  scripts/verify-doc-links.sh
Due: none

docs: remove obsolete backup files (DESIGN.md backups)
  docs/ui/DESIGN.md.v1-backup
Due: none

docs(ops): add decision ownership gate to invariants
  docs/ops/CONTRACT_INVARIANTS.md
Due: none

ci: fix shellcheck warnings in workflows (SC2086, SC2046, SC2155)
  .github/workflows/ci.yml
Due: none

feat(decision): Finalize Phase 3 Proof System (CTO-Grade)
  Makefile
  docs/adr/008-config-package-structure.md
  docs/adr/009-playback-decision-spec.md
  docs/guides/CONFIG_SURFACES.md
  internal/config/deprecation.go
  internal/config/doc.go
  internal/config/env.go
  internal/config/loader.go
  internal/config/loader_test.go
  internal/config/merge.go
  internal/config/merge_test.go
  internal/config/types.go
  internal/config/validation.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/recordings/decision/drift_test.go
  internal/control/recordings/decision/engine.go
  internal/control/recordings/decision/generators_test.go
  internal/control/recordings/decision/hash.go
  internal/control/recordings/decision/invariants.go
  internal/control/recordings/decision/observe.go
  internal/control/recordings/decision/output_invariants_internal_test.go
  internal/control/recordings/decision/predicates.go
  internal/control/recordings/decision/proof_test.go
  internal/control/recordings/decision/reasons.go
  internal/control/recordings/decision/reference_helper_test.go
  internal/control/recordings/decision/reference_model_test.go
  internal/control/recordings/decision/types.go
  internal/control/recordings/decision/validation.go
  test/contract/p4_1/contract_matrix_test.go
  test/contract/regression_directplay_test.go
  test/invariants/capabilities_test.go
  test/invariants/decision_goldens_test.go
  test/invariants/decision_observability_test.go
  test/invariants/decision_output_invariants_test.go
Due: unittests

wip: add migration tests and cleanup temp files
  internal/migration/gates_test.go
  scripts/verify_storage_cutover.sh
  tmp_gate_test.go
  tmp_version_check.go
Due: none

fix: enforce ADR path case sensitivity (docs/ADR/ not docs/adr/)
  Makefile
  README.md
  internal/config/doc.go
  internal/control/recordings/decision/drift_test.go
  internal/pipeline/exec/transcoder_adapter.go
  scripts/ci_gate_adr_case.sh
Due: unittests

fix: harden verify-doc-links.sh (fail-closed, index-aware)
  internal/migration/engine.go
  internal/migration/gates_test.go
  internal/migration/semantic_test.go
  scripts/verify-doc-links.sh
Due: unittests

fix: restore ADR integrity (ADR-003 placeholder, ADR-009 link)
  docs/ADR/003-transcoder-infrastructure-migration.md
  docs/decision/SPEC_INDEX.md
  internal/domain/session/store/factory.go
  internal/pipeline/resume/store.go
  internal/pipeline/scan/store.go
Due: unittests

test(decision): add unit tests for decode.go helpers
  cmd/xg2g-migrate/main.go
  docs/ops/DEPRECATION_STATUS.md
  internal/control/recordings/decision/decode_test.go
  internal/migration/capabilities_migrate.go
  internal/migration/gates_test.go
  internal/migration/resume_migrate.go
  internal/migration/sessions_migrate.go
Due: unittests

test(decision): add property tests for normalize.go
  internal/control/recordings/decision/normalize_test.go
Due: none

fix(test): correct INV-NORM-003 naming and documentation
  internal/control/recordings/decision/normalize_test.go
Due: none

adr: enforce BoltDB/BadgerDB sunset (ADR-021, PR-1)
  docs/ADR/021-boltdb-sunset-enforcement.md
  internal/domain/session/store/factory.go
  scripts/ci_gate_storage_purity.sh
Due: unittests

build: integrate storage purity gate into verify-purity
  Makefile
Due: none

test(store): add factory tests verifying ADR-021 enforcement
  internal/domain/session/store/factory_test.go
Due: none

test(store): add SQLite template tests (Option C)
  internal/domain/session/store/sqlite_template_test.go
Due: none

fix: close ADR-021 bypass in resume and capabilities stores
  internal/pipeline/resume/factory_test.go
  internal/pipeline/resume/store.go
  internal/pipeline/scan/factory_test.go
  internal/pipeline/scan/store.go
Due: unittests

fix: remove hardcoded bolt backend from daemon main
  cmd/daemon/main.go
  internal/config/merge_test.go
  internal/config/types.go
Due: unittests

docs: sync config surfaces after merges
  docs/guides/CONFIG_SURFACES.md
Due: none

governance: remove legacy badger store (ADR-021)
  go.mod
  go.sum
  internal/v3/store/badger_store.go
Due: unittests

docs: sync config surfaces and fix UI purity false positive
  webui/src/components/V3Player.tsx
Due: none

docs: update governance baseline manifest for consolidated main
  testdata/contract/GOVERNANCE_BASELINE.json
Due: none

governance: allow intentional schema validation panics
  panic_allowlist.txt
Due: none

docs: sync config surfaces
  docs/guides/CONFIG_SURFACES.md
Due: none

docs: final config surface sync
  docs/guides/CONFIG_SURFACES.md
Due: none

chore: final logic baseline
  RELEASE_MANIFEST.json
  scripts/release-prepare.sh
  scripts/verify-digest-lock.sh
Due: none

feat: institutionalized governance system (Zero-Drift, Runtime Truth, Continuous Verification)
  Makefile
  README.md
  RELEASE_MANIFEST.json
  VERSION
  docker-compose.yml
  docs/guides/CONFIG_SURFACES.md
  docs/ops/CONTRACT_INVARIANTS_RELEASE.md
  docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md
  docs/ops/OPERATIONS_MODEL.md
  docs/ops/xg2g.service
  internal/control/http/v3/contract_v3_dvr_add_timer_test.go
  internal/control/http/v3/contract_v3_streams_test.go
  internal/control/http/v3/handlers_epg.go
  internal/control/http/v3/handlers_timers.go
  internal/control/read/services.go
  internal/control/read/streams.go
  internal/control/read/streams_test.go
  internal/hdhr/hdhr.go
  internal/platform/paths/playlist_test.go
  main.go
  scripts/recover.sh
  scripts/release-prepare.sh
  scripts/render-docs.sh
  scripts/verify-digest-lock.sh
  scripts/verify-runtime.sh
Due: unittests
