Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix(runtime): dvr edit fail-closed and audio-only mapping
  internal/control/read/dvr.go
  internal/control/read/dvr_test.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
  internal/pipeline/api/intent_handler.go
Due: unittests

fix(runtime): dvr edit fail-closed and audio-only mapping (#166)
  internal/control/read/dvr.go
  internal/control/read/dvr_test.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
  internal/pipeline/api/intent_handler.go
Due: unittests

fix(normalize): shared token normalizer
  internal/control/clientplayback/decision.go
  internal/control/http/v3/handlers_intents.go
  internal/control/playback/decision_engine_truth_test.go
  internal/control/playback/engine.go
  internal/control/recordings/decision/invariants.go
  internal/control/recordings/decision/normalize.go
  internal/control/recordings/decision/predicates.go
  internal/control/recordings/decision/proof_test.go
  internal/control/recordings/decision/reference_model_test.go
  internal/control/recordings/decision/validation.go
  internal/control/recordings/resolver.go
  internal/core/normalize/normalize.go
  internal/pipeline/profiles/resolve.go
Due: unittests

fix(normalize): move SSoT out of deprecated core
  internal/control/clientplayback/decision.go
  internal/control/http/v3/handlers_intents.go
  internal/control/playback/engine.go
  internal/control/recordings/decision/normalize.go
  internal/control/recordings/resolver.go
  internal/normalize/normalize.go
  internal/pipeline/profiles/resolve.go
Due: unittests

chore(ci): align PR gate check name
  .github/workflows/ci.yml
Due: none

Normalize tokens via shared SSoT (#168)
  .github/workflows/ci.yml
  internal/control/clientplayback/decision.go
  internal/control/http/v3/handlers_intents.go
  internal/control/playback/decision_engine_truth_test.go
  internal/control/playback/engine.go
  internal/control/recordings/decision/invariants.go
  internal/control/recordings/decision/normalize.go
  internal/control/recordings/decision/predicates.go
  internal/control/recordings/decision/proof_test.go
  internal/control/recordings/decision/reference_model_test.go
  internal/control/recordings/decision/validation.go
  internal/control/recordings/resolver.go
  internal/normalize/normalize.go
  internal/pipeline/profiles/resolve.go
Due: unittests

docs: fix quickstart env/port and align DVR default
  Dockerfile.distroless
  README.md
  docs/PRODUCT_POLICY.md
  templates/README.md.tmpl
Due: none

ci: run PR gate for docs/templates and docker artifacts
  .github/workflows/ci.yml
Due: none

Docs drift: Quickstart port/env + DVR default (#169)
  .github/workflows/ci.yml
  Dockerfile.distroless
  README.md
  docs/PRODUCT_POLICY.md
  templates/README.md.tmpl
Due: none

ci: publish required commit status context
  .github/workflows/ci.yml
Due: none

config: remove overdue deprecation docs; warn on removed env vars
  docs/DEPRECATION_POLICY.md
  docs/deprecations.json
  docs/ops/DEPRECATION_STATUS.md
  internal/config/config_audit_test.go
  internal/config/deprecation.go
  internal/config/loader.go
  internal/config/registry.go
  internal/config/removed_env.go
  scripts/check_deprecations.py
Due: unittests

refactor: stop importing internal/core/profile
  internal/config/runtime_env.go
  internal/config/snapshot.go
  internal/streamprofile/hls.go
Due: unittests

docs: regenerate config surfaces
  docs/guides/CONFIG_SURFACES.md
Due: none

Add 2026 tech-debt backlog and hygiene/drift checks
  TECHNICAL_DEBT_2026.md
  hack/verify-docs-drift.sh
  hack/verify-repo-hygiene.sh
Due: none

docs: render README.md (normalize whitespace)
  README.md
Due: none

governance: add hygiene/drift checks and automate security scans
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/repo-health.yml
  renovate.json
Due: none

docs: render README.md (template sync)
  README.md
Due: none

ci: avoid concurrency collisions across workflows
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/repo-health.yml
Due: none

ci: fix govulncheck checkout and tune gosec threshold
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
Due: none

2026 governance: required drift/hygiene checks + automated security scans (#173)
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/repo-health.yml
  TECHNICAL_DEBT_2026.md
  hack/verify-docs-drift.sh
  hack/verify-repo-hygiene.sh
  renovate.json
Due: none

ci: fix Scorecard SARIF upload and run gosec on runner
  .github/workflows/gosec.yml
  .github/workflows/scorecard.yml
Due: none

ci: fix Scorecard SARIF upload + runner-based gosec
  .github/workflows/gosec.yml
  .github/workflows/scorecard.yml
Due: none

ci: avoid cross-workflow cancellations
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
Due: none

ci(codeql): queue runs instead of canceling
  .github/workflows/codeql.yml
Due: none

ffmpeg: contract hygiene (ffprobe bin + fail-closed checksum)
  Makefile
  docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md
  docs/ops/FFMPEG_BUILD.md
  internal/api/http.go
  internal/config/ffprobe_resolve.go
  internal/config/ffprobe_resolve_test.go
  internal/config/guardrail.go
  internal/config/loader.go
  internal/config/merge.go
  internal/config/registry.go
  internal/config/types.go
  internal/daemon/manager.go
  internal/infra/ffmpeg/probe.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  scripts/build-ffmpeg.sh
  scripts/ffprobe-wrapper.sh
  templates/docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md.tmpl
  test/integration/hardening_test.go
Due: unittests, Daemon, API Layer

config: regenerate generated surfaces
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
Due: none

docs: regenerate CONFIG_SURFACES
  docs/guides/CONFIG_SURFACES.md
Due: none

FFmpeg contract hygiene (ffprobe SSoT + fail-closed checksum) (#178)
  Makefile
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/CONFIG_SURFACES.md
  docs/guides/config.schema.json
  docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md
  docs/ops/FFMPEG_BUILD.md
  internal/api/http.go
  internal/config/ffprobe_resolve.go
  internal/config/ffprobe_resolve_test.go
  internal/config/guardrail.go
  internal/config/loader.go
  internal/config/merge.go
  internal/config/registry.go
  internal/config/types.go
  internal/daemon/manager.go
  internal/infra/ffmpeg/probe.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  scripts/build-ffmpeg.sh
  scripts/ffprobe-wrapper.sh
  templates/docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md.tmpl
  test/integration/hardening_test.go
Due: unittests, Daemon, API Layer

fix(smoke): add required APITokenScopes to smoke test environment
  test/smoke/smoke_test.go
Due: none

fix(smoke): add required APITokenScopes to smoke test environment (#179)
  test/smoke/smoke_test.go
Due: none

recordings: align HLS artifact allowlist truth
  internal/control/http/v3/recordings/hls_helpers.go
  internal/control/http/v3/recordings/validation.go
  internal/control/http/v3/recordings/validation_test.go
Due: unittests

docs: remove stale layering exemptions references
  docs/arch/ARCHITECTURE.md
  internal/validate/imports_test.go
Due: none
