Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

chore: cleanup project structure, harden security and fix CI permissions
  .github/AUDIT_REPORT.md
  .github/BRANCH_POLICY.md
  .github/BRANCH_PROTECTION_CHECKLIST.md
  .github/CI_MIGRATION.md
  .github/ISSUES_AND_PR_PLAN.md
  .github/RELEASE_NOTES_v1.5.0.md
  .github/TOPICS.md
  README.md
  REPO_FEEDBACK.md
  contrib/examples/docker-compose/.env.example
  contrib/examples/full-stack/.env.example
  contrib/examples/live-test/.env.example
  contrib/workflows/.env.example
  docs/CHANGELOG.md
  docs/RFC_PROXY_REFACTOR.md
  docs/checklist_codex.md
  docs/guides/CONFIGURATION.md
  docs/releases/RELEASE_v1.7.0.md
  go.mod
  internal/api/http.go
  internal/api/server_gen.go
  internal/api/server_impl.go
  internal/config/legacy_yaml.go
  internal/config/manager.go
  internal/jobs/picons.go
  internal/proxy/handlers.go
  internal/proxy/hls.go
  internal/proxy/hls_helper.go
  internal/proxy/ll_hls_profile.go
  internal/proxy/safari_dvr_profile.go
  internal/proxy/transcoder.go
  internal/tls/cert.go
  internal/tls/cert_test.go
  internal/validation/startup.go
  test/integration/full_flow_test.go
  test/integration/security_test.go
  tools/README.md
  tools/schema-docs/main.go
  tools/scripts/README.md
  tools/scripts/epg-full-refresh.sh
Due: unittests, API Layer, Stream Proxy

ci: Fix security alerts (Token Permissions & Pinned Actions)
  .github/workflows/rust-ci.yml
Due: none

security: Pin all GitHub Actions to SHA hashes (Fix #1912 etc)
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
Due: none

fix(ci): Update pinned actions to verified stable SHAs (v4.2.2/v5.3.0/v4.2.0/v4.6.0)
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
Due: none

chore(deps): Grand update of all Go/Node dependencies + Fix Race Conditions
  go.mod
  go.sum
  gosec_report.txt
  govulncheck_report.txt
  internal/proxy/proxy.go
  internal/transcoder/rust_nocgo_test.go
  npm_audit.txt
  trivy_report.txt
  webui/package-lock.json
Due: unittests, Stream Proxy

chore(ci): Configure Dependabot Grouped Updates (The 'Filter')
  .github/dependabot.yml
Due: none

chore(release): Bump version to v3.3.1 (Maintenance Release)
  webui/src/components/Navigation.jsx
Due: none

fix(ci): Revert to verified GH Action SHAs (Fix 404 errors)
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
Due: none

fix(ci): Resolve Gosec G101 and update Server Config unit tests
  internal/api/http.go
  internal/api/server_gen.go
  internal/config/server_test.go
Due: unittests, API Layer

feat: implement frontend streams and recording status integration
  api/openapi.yaml
  cmd/daemon/main.go
  internal/api/conflicts.go
  internal/api/conflicts_test.go
  internal/api/dist/assets/index-BQytoLIk.js
  internal/api/dist/assets/index-Bz3lOOLE.css
  internal/api/dist/assets/index-CJ4ow5HZ.css
  internal/api/dist/assets/index-CxnlBJ_P.js
  internal/api/dist/index.html
  internal/api/http.go
  internal/api/server_gen.go
  internal/api/server_impl.go
  internal/api/timerid.go
  internal/api/timerid_test.go
  internal/openwebif/client.go
  internal/proxy/idle_test.go
  internal/proxy/proxy.go
  internal/proxy/session.go
  webui/src/App.css
  webui/src/App.jsx
  webui/src/client/index.ts
  webui/src/client/models/DvrCapabilities.ts
  webui/src/client/models/ProblemDetails.ts
  webui/src/client/models/RecordingStatus.ts
  webui/src/client/models/Timer.ts
  webui/src/client/models/TimerConflict.ts
  webui/src/client/models/TimerConflictPreviewRequest.ts
  webui/src/client/models/TimerConflictPreviewResponse.ts
  webui/src/client/models/TimerCreateRequest.ts
  webui/src/client/models/TimerList.ts
  webui/src/client/models/TimerPatchRequest.ts
  webui/src/client/services/DefaultService.ts
  webui/src/client/services/DvrService.ts
  webui/src/client/services/TimersService.ts
  webui/src/components/Dashboard.jsx
  webui/src/components/EPG.jsx
  webui/src/components/EditTimerDialog.jsx
  webui/src/components/Navigation.jsx
  webui/src/components/Timers.jsx
Due: unittests, API Layer, Stream Proxy

docs: configure PayPal sponsor account
  .github/FUNDING.yml
  README.md
Due: none

ci(security): pin gosec action to stable release v2.22.11
  .github/workflows/gosec.yml
Due: none

fix(security): address gosec findings and document false positives
  internal/api/server_gen.go
  internal/dvr/manager.go
  internal/dvr/scheduler.go
Due: unittests

chore(repo): remove dev artifacts and deprecated restart script
  .gitignore
  docker-compose.yml
  gosec_report.txt
  govulncheck_report.txt
  npm_audit.txt
  restart.sh
  trivy_report.txt
Due: none

docs: add deployment options comparison table
  README.md
Due: none

docs: update configuration guide and examples for v2 config surface
  config.example.yaml
  docs/guides/CONFIGURATION.md
Due: none

test: rename smoke_test.go to api_fast_test.go for clarity
  Makefile
  test/integration/api_fast_test.go
Due: none

test: fix unit tests for readiness and HDHR secure-by-default changes
  internal/api/http_test.go
  internal/hdhr/hdhr_test.go
Due: none

test: fix API contract tests after legacy endpoint removal
  internal/api/http.go
  internal/health/health.go
  test/contract/api_contract_test.go
Due: unittests, API Layer

config: complete v2 config wiring, reload, and startup validation
  cmd/daemon/main.go
  internal/config/config.go
  internal/config/reload.go
  internal/config/server.go
  internal/config/snapshot.go
  internal/core/openwebif/webapi.go
  internal/proxy/hls.go
  internal/validation/startup.go
Due: unittests, Stream Proxy
