Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

feat: add Web UI dashboard for v2.0
  internal/api/http.go
  internal/api/ui.html
Due: unittests, API Layer

fix(docker): switch to bookworm base to fix cross-compilation apt errors
  Dockerfile
Due: none

ci: improve integration test readiness check (timeout 30s, verbose logs)
  .github/workflows/ci.yml
Due: none

fix(docker): update ffmpeg package versions for bookworm (v5.x)
  Dockerfile
Due: none

fix(docker): remove libavdevice-dev from rust-builder (not needed/conflicting)
  Dockerfile
Due: none

ci: fix rate limit exceeded in readiness check (increase sleep to 1.5s)
  .github/workflows/ci.yml
Due: none

ci: fix integration test (use v1 api endpoints, add stub epg endpoints)
  .github/workflows/ci.yml
  test/stub_openwebif.go
Due: none

fix(docker): simplify build dependencies to avoid package conflicts
  Dockerfile
Due: none

fix(lint): check resp.Body.Close error in health check
  internal/api/http.go
Due: unittests, API Layer

fix(docker): add missing ffmpeg dev libraries to rust-builder
  Dockerfile
Due: none

fix(docker): split native and target dependencies for cross-compilation
  Dockerfile
Due: none

fix(docker): ensure render group exists before use
  Dockerfile
Due: none

fix(docker): add missing libc6-dev to rust-builder for cross-compilation
  Dockerfile
Due: none

fix(docker): set FFMPEG_INCLUDE_DIR for ac-ffmpeg-build crate
  Dockerfile
Due: none

chore: update documentation and fix formatting
  docs/guides/DOCKER_IMAGES.md
  docs/guides/PRODUCTION_DEPLOYMENT.md
  internal/jobs/refresh.go
Due: unittests

fix(docker): set CFLAGS and PKG_CONFIG_PATH for cross-compilation
  Dockerfile
Due: none

fix(docker): install native FFmpeg headers for build scripts
  Dockerfile
Due: none

fix(docker): add FFMPEG_LIB_DIR environment variable
  Dockerfile
Due: none

fix(docker): use find to locate Rust artifacts in build cache
  Dockerfile
Due: none

fix(docker): build only Rust library, skip binary
  Dockerfile
Due: none

fix(ci): disable distroless build (Dockerfile.distroless missing)
  .github/workflows/docker.yml
Due: none

docs: update testing guide and clarify transcoder build modes
  CONTRIBUTING.md
  README.md
Due: none

ci: add v2 workflow with shadow running strategy
  .github/BRANCH_PROTECTION_CHECKLIST.md
  .github/CI_MIGRATION.md
  .github/workflows/ci-v2.yml
Due: none

test: consolidate tests and adopt transcoder build tags
  .gitignore
  Makefile
  PROXY_TEST_CONSOLIDATION_PLAN.md
  cmd/daemon/main_test.go
  cmd/validate/main_test.go
  internal/config/config_schema_test.go
  internal/jobs/validate.go
  internal/jobs/validate_test.go
  internal/proxy/proxy_edge_cases_test.go
  internal/proxy/proxy_server_test.go
  internal/proxy/proxy_test.go
  internal/transcoder/rust.go
  internal/transcoder/rust_nocgo.go
  internal/transcoder/rust_nocgo_test.go
  internal/transcoder/rust_test.go
  test/integration/shutdown_test.go
Due: unittests, Stream Proxy

feat: add human-readable tvg-id generation for better Plex/Jellyfin UX
  internal/jobs/refresh.go
  internal/jobs/refresh_test.go
  internal/jobs/slugify.go
  internal/jobs/slugify_test.go
  internal/jobs/util.go
Due: unittests

feat: v2.2.0 Security & Reliability Update
  .golangci.yml
  CHANGELOG.md
  README.md
  cmd/daemon/main.go
  internal/config/config.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/epg/xmltv.go
  internal/epg/xmltv_test.go
  internal/proxy/proxy.go
  test/load/load_test.go
Due: unittests, Daemon, EPG Module, Stream Proxy

feat: Release v3.0.0 with WebUI
  .gitignore
  CHANGELOG.md
  README.md
  ROADMAP.md
  WEBUI_DESIGN.md
  cmd/daemon/main.go
  docs/WEBUI_WALKTHROUGH.md
  internal/api/http.go
  internal/api/ui/assets/index-Bud1YVQS.js
  internal/api/ui/assets/index-Csg7w1QR.css
  internal/api/ui/index.html
  internal/api/ui/vite.svg
  internal/api/webui.go
  internal/api/webui_test.go
  internal/openwebif/circuit_breaker.go
  internal/openwebif/circuit_breaker_test.go
  internal/openwebif/client.go
  internal/openwebif/client_integration_test.go
  internal/openwebif/stream_detection.go
  internal/proxy/hls.go
  test_output.txt
  test_output_2.txt
  webui/.gitignore
  webui/README.md
  webui/eslint.config.js
  webui/index.html
  webui/package-lock.json
  webui/package.json
  webui/public/vite.svg
  webui/src/App.css
  webui/src/App.jsx
  webui/src/api.js
  webui/src/assets/react.svg
  webui/src/components/Channels.jsx
  webui/src/components/Dashboard.jsx
  webui/src/components/Logs.jsx
  webui/src/index.css
  webui/src/main.jsx
  webui/vite.config.js
Due: unittests, API Layer, Stream Proxy

fix: Build WebUI in Dockerfile and ignore artifacts
  .dockerignore
  .gitignore
  Dockerfile
  internal/api/ui/assets/index-Bud1YVQS.js
  internal/api/ui/assets/index-Csg7w1QR.css
  internal/api/ui/index.html
  internal/api/ui/vite.svg
Due: unittests, API Layer

chore: Release v3.0.1
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.2
  CHANGELOG.md
  cmd/daemon/main.go
  internal/openwebif/client.go
Due: unittests

chore: Release v3.0.3
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.4
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.6
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.7
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.8
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.9
  .github/workflows/ci.yml
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

chore: Release v3.0.10
  .github/workflows/docker.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  CHANGELOG.md
  cmd/daemon/main.go
Due: none

fix: add version field to golangci-lint config
  .golangci.yml
Due: none
