Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix: remove unused tokenPrincipal bridge
  internal/api/server_impl.go
Due: unittests, API Layer

chore: reduce merge blockers with fail-fast and metadata repair
  .github/workflows/ci.yml
  Makefile
  WORKFLOW.md
  scripts/ops/repair-metadata.sh
  scripts/pre-push-sanity.sh
Due: none

chore: reduce merge blockers with fail-fast and metadata repair (#242)
  .github/workflows/ci.yml
  Makefile
  WORKFLOW.md
  scripts/ops/repair-metadata.sh
  scripts/pre-push-sanity.sh
Due: none

fix(webui): improve V3Player stats polling and API error handling
  .gitignore
  Dockerfile
  docker-compose.yml
  docs/arch/ENIGMA2_STREAMING_TOPOLOGY.md
  internal/infra/ffmpeg/probe.go
  internal/infra/media/ffmpeg/adapter.go
  internal/pipeline/exec/enigma2/client_ext.go
  internal/pipeline/scan/manager.go
  webui/src/components/V3Player.tsx
Due: unittests

fix(ci): fix verify-decision-ownership.sh false positive on codecdecision
  scripts/verify-decision-ownership.sh
Due: none

chore(docs): sync compose template to resolve CI drift
  docker-compose.yml
  templates/docker-compose.yml.tmpl
Due: none

fix(webui): use proper client wrapper import for ApiError
  webui/src/components/V3Player.tsx
Due: none

fix/v3player stats and stability (#243)
  .gitignore
  docker-compose.yml
  docs/arch/ENIGMA2_STREAMING_TOPOLOGY.md
  internal/infra/ffmpeg/probe.go
  internal/infra/media/ffmpeg/adapter.go
  internal/pipeline/exec/enigma2/client_ext.go
  internal/pipeline/scan/manager.go
  scripts/verify-decision-ownership.sh
  templates/docker-compose.yml.tmpl
  webui/src/components/V3Player.tsx
Due: unittests

webui: use playback_decision_token for live intents
  docs/ops/live-playback-attestation.md
  webui/src/components/V3Player.tsx
Due: none

tests: assert ui does not send playback_decision_id
  webui/src/components/V3Player.serviceRef.test.tsx
  webui/tests/contracts/v3player.intent-keys.contract.test.tsx
Due: none

dev: make golangci-lint hook deterministic (go1.25 compatible)
  .pre-commit-config.yaml
  Makefile
  docs/dev/SETUP.md
  scripts/pre-commit-golangci-lint.sh
Due: none

hooks: scope pre-push sanity checks to worktree files
  scripts/pre-push-sanity.sh
Due: none

dev: make golangci-lint hook deterministic (go1.25 compatible) (#246)
  .pre-commit-config.yaml
  Makefile
  docs/dev/SETUP.md
  scripts/pre-commit-golangci-lint.sh
  scripts/pre-push-sanity.sh
Due: none

webui: keep phase2 intent token flow within client wrapper boundary
  webui/src/components/V3Player.serviceRef.test.tsx
  webui/src/components/V3Player.tsx
  webui/tests/contracts/v3player.intent-keys.contract.test.tsx
Due: none

docs: sync config surfaces for live playback attestation runbook
  docs/guides/CONFIG_SURFACES.md
Due: none

tests(webui): align V3Player suites with playback-info SSOT contract
  webui/src/components/V3Player.safari.test.tsx
  webui/tests/V3Player.contract.test.tsx
  webui/tests/V3Player.errors.test.tsx
  webui/tests/V3Player.seal.test.tsx
  webui/tests/contracts/error-map.matrix.test.tsx
  webui/tests/contracts/v3player.contract.fuzz.test.tsx
  webui/tests/contracts/v3player.failclosed.test.tsx
  webui/tests/telemetry.contract-consumption.test.tsx
  webui/tests/telemetry.failclosed.test.tsx
Due: none

webui: use canonical playback_decision_token for live intents (#245)
  docs/guides/CONFIG_SURFACES.md
  docs/ops/live-playback-attestation.md
  webui/src/components/V3Player.safari.test.tsx
  webui/src/components/V3Player.serviceRef.test.tsx
  webui/src/components/V3Player.tsx
  webui/tests/V3Player.contract.test.tsx
  webui/tests/V3Player.errors.test.tsx
  webui/tests/V3Player.seal.test.tsx
  webui/tests/contracts/error-map.matrix.test.tsx
  webui/tests/contracts/v3player.contract.fuzz.test.tsx
  webui/tests/contracts/v3player.failclosed.test.tsx
  webui/tests/contracts/v3player.intent-keys.contract.test.tsx
  webui/tests/telemetry.contract-consumption.test.tsx
  webui/tests/telemetry.failclosed.test.tsx
Due: none

ci(nightly): tame markdownlint defaults and install ffmpeg
  .github/workflows/ci-v2.yml
  .markdownlint.json
Due: none

docs(config): sync CONFIG_SURFACES with generated config surfaces
  docs/guides/CONFIG_SURFACES.md
Due: none

ci(nightly): build webui assets before nightly gates
  .github/workflows/ci-v2.yml
Due: none

ci(nightly): build embed assets without tsc gate
  .github/workflows/ci-v2.yml
Due: none

webui: call live stream-info via fetch to avoid sdk export drift
  webui/src/components/V3Player.tsx
Due: none

ci(nightly): run govulncheck binary without vendor-mode go run
  Makefile
Due: none

ci(nightly): bump govulncheck to v1.1.4 for go1.25 compatibility
  Makefile
Due: none

ci(nightly): skip apt install when ffmpeg already present
  .github/workflows/ci-v2.yml
Due: none

ci(nightly): run contract-matrix test via go test
  Makefile
Due: none

test(smoke): remove legacy proxy env keys for strict config
  test/smoke/smoke_test.go
Due: none

test(smoke): set writable store path in smoke environment
  test/smoke/smoke_test.go
Due: none

test(smoke): accept playlist.m3u8 output in smoke check
  test/smoke/smoke_test.go
Due: none

chore: fixes for ffmpeg logging, url validation, and v3player formatting
  internal/infra/media/ffmpeg/adapter.go
  internal/platform/net/outbound.go
  internal/platform/net/outbound_test.go
  webui/src/components/V3Player.tsx
Due: unittests

[ADR-SEC-001] Live Pipeline Hardening: JWT SSOT, Boundary Proof & Test Remediation
  api/openapi.yaml
  internal/api/http_preparing_test.go
  internal/api/server_gen.go
  internal/control/authz/policy.go
  internal/control/http/problem/problem.go
  internal/control/http/v3/admission_int_test.go
  internal/control/http/v3/auth/jwt.go
  internal/control/http/v3/auth/jwt_test.go
  internal/control/http/v3/auth/keys.go
  internal/control/http/v3/auth_strict_test.go
  internal/control/http/v3/contract_v3_coverage_test.go
  internal/control/http/v3/contract_v3_streams_test.go
  internal/control/http/v3/contract_v3_test.go
  internal/control/http/v3/contract_v3_write_test.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_intents_preflight_test.go
  internal/control/http/v3/handlers_intents_strict_jwt_test.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_playback_info_contract_test.go
  internal/control/http/v3/handlers_services_bouquets_test.go
  internal/control/http/v3/intent_error_mapping_test.go
  internal/control/http/v3/jwt_test_helpers_test.go
  internal/control/http/v3/recordings_resume.go
  internal/control/http/v3/recordings_resume_cors_test.go
  internal/control/http/v3/router_v3_ports.go
  internal/control/http/v3/router_v3_routes_sessions_streams.go
  internal/control/http/v3/server.go
  internal/control/http/v3/server_gen.go
  internal/control/recordings/validation.go
  internal/control/recordings/validation_test.go
  internal/control/vod/preflight/mapping.go
  internal/normalize/normalize.go
  internal/pipeline/api/types.go
  webui/src/components/V3Player.tsx
  webui/src/locales/de.json
  webui/src/locales/en.json
  webui/src/services/TelemetryService.ts
  webui/src/types/v3-player.ts
Due: unittests

fix: restore legacy token source flag in app config
  internal/config/types.go
Due: unittests

chore: apply hook formatting fixes
  internal/control/http/v3/router_v3_authz_test.go
  internal/platform/httpx/client.go
  internal/platform/httpx/client_test.go
  internal/validate/architecture_docs_test.go
  scripts/render-docs.sh
  scripts/verify-decision-ownership.sh
Due: unittests

fix: satisfy ui contract and lint blockers for release branch
  internal/control/http/v3/handlers_live_playback_info.go
  internal/control/http/v3/live_playback_attestation.go
  webui/src/features/resume/RecordingResumeBar.tsx
  webui/src/features/resume/resume.module.css
Due: unittests

fix: enforce wrapper boundary imports and sync generated config surfaces
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/CONFIG_SURFACES.md
  docs/guides/config.schema.json
  webui/src/components/V3Player.tsx
  webui/src/components/v3playerModeBridge.ts
  webui/src/lib/httpProblem.ts
  webui/tests/V3Player.contract.test.tsx
  webui/tests/V3Player.errors.test.tsx
  webui/tests/contracts/v3player.contract.fuzz.test.tsx
  webui/tests/contracts/v3player.failclosed.test.tsx
  webui/tests/contracts/v3player.rfc7807.test.tsx
  webui/tests/contracts/v3player.seekable-gate.test.tsx
  webui/tests/telemetry.contract-consumption.test.tsx
  webui/tests/telemetry.failclosed.test.tsx
Due: none

fix: include shared test helpers in webui tsconfig
  webui/tsconfig.json
Due: none
