Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix(ci): resolve gosec findings and fix transcoder test assertions
  internal/transcoder/rust_test.go
  internal/v3/api/hls.go
  internal/v3/exec/enigma2/readychecker.go
  internal/v3/exec/ffmpeg/runner.go
  internal/validate/validate.go
  internal/validation/startup.go
Due: unittests

test(config): add verification for strict mode breaking change
  internal/config/strict_test.go
Due: none

fix(lint): resolve all golangci-lint issues (errcheck, gosec, staticcheck)
  internal/api/handlers_v3.go
  internal/api/http.go
  internal/api/security_utils.go
  internal/config/runtime_env.go
  internal/daemon/manager.go
  internal/v3/api/hls.go
  internal/v3/api/hls_test.go
  internal/v3/exec/enigma2/client.go
  internal/v3/exec/enigma2/client_ext.go
  internal/v3/exec/enigma2/client_test.go
  internal/v3/exec/enigma2/readychecker_test.go
  internal/v3/exec/enigma2/tuner_test.go
  internal/v3/exec/ffmpeg/linering_test.go
  internal/v3/exec/ffmpeg/runner.go
  internal/v3/exec/ffmpeg/runner_test.go
  internal/v3/shadow/client.go
  internal/v3/shadow/client_test.go
  internal/v3/store/bolt_store.go
  internal/v3/store/bolt_store_test.go
  internal/v3/store/memory_store.go
  internal/v3/worker/metrics.go
  internal/v3/worker/orchestrator.go
  internal/v3/worker/recovery.go
  internal/v3/worker/recovery_contention_test.go
  internal/v3/worker/recovery_test.go
  internal/v3/worker/stop_test.go
  internal/v3/worker/sweeper.go
  internal/v3/worker/sweeper_test.go
Due: unittests, Daemon, API Layer

fix(ci): correct WebUI path in release and fix Dockerfile Node version
  .github/workflows/release.yml
  Dockerfile
Due: none

chore: add markdownlint config to allow duplicate headings in changelog
  .markdownlint.json
Due: none

fix(ci): update release workflow to prevent dirty git state and update webui assets
  .github/workflows/release.yml
Due: none

fix(ci): remove redundant webui build in release workflow to ensure clean git state
  .github/workflows/release.yml
Due: none

chore(ops): migrate to CI-first release strategy (remove dist from git, restore CI build)
  internal/api/dist/.keep
  internal/api/dist/assets/index-BwcGs5Ai.css
  internal/api/dist/assets/index-CzJUeWP_.js
  internal/api/dist/index.html
  internal/api/dist/vite.svg
Due: unittests, API Layer

fix(ops): complete CI-first migration (update gitignore and release workflow)
  .github/workflows/release.yml
  .gitignore
Due: none

chore(ops): refine CI strategy (robust copy, sanity checks, strict ignores)
  .dockerignore
  .github/workflows/release.yml
  .gitignore
Due: none

chore(ops): finalize CI strategy (expose .github, simplify runtime deps)
  .dockerignore
  Dockerfile
Due: none

fix(ops): update stickier go:embed directive and document binary capabilities
  .goreleaser.yml
  internal/api/http.go
Due: unittests, API Layer

fix(ops): polish release engineering (robust embed, stricter CI check, correct docs)
  .github/workflows/release.yml
  .goreleaser.yml
  internal/api/http.go
Due: unittests, API Layer

docs: add release governance framework (test matrix, checklist, goreleaser footer)
  .github/release_checklist.md
  .goreleaser.yml
  docs/TESTING.md
Due: none

fix(ci): align workflows with strategy-a path standards (fix embed failures)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
Due: none

fix(ci): harden workflow paths and build triggers (full coverage)
  .github/workflows/ci.yml
Due: none

fix(ci): harden triggers (api/**) and build guards (strict checks)
  .github/workflows/ci.yml
Due: none

fix(ci): add webui integrity checks (hash/count) and vite assumption comments
  .github/workflows/ci.yml
Due: none

fix(ops): finalize ci script hygiene and update governance docs with Vite assumption
  .github/workflows/ci.yml
  docs/TESTING.md
Due: none

fix(ci): use -tags=nogpu for analysis workflows (codeql, gosec, govulncheck)
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
Due: none

fix(ci-v2): align pathing (dist) and tags (nogpu) with Strategy A
  .github/workflows/ci-v2.yml
Due: none

fix(ci-v2): repair triggers, race tests (nogpu), artifact path, and summary gate
  .github/workflows/ci-v2.yml
Due: none

chore(ci-v2): convert to nightly/extended workflow (remove PR triggers, redundant setup)
  .github/workflows/ci-v2.yml
Due: none

docs(governance): add CI architecture matrix (Gate vs Nightly) to TESTING.md
  docs/TESTING.md
Due: none

docs(guides): add INSTALL_NAS.md for Unraid/Synology users
  README.md
  docs/guides/INSTALL_NAS.md
Due: none

feat(ops): add Unraid CA template (xg2g.xml)
  support/unraid/xg2g.xml
Due: none

fix(ops): refine Unraid CA template (remove redundant config, improve CA compliance)
  support/unraid/xg2g.xml
Due: none

style(ops): apply optional refinements to Unraid XML (clean metadata, remove port config)
  support/unraid/xg2g.xml
Due: none

fix(ops): hardcode 8088 in Unraid WebUI URL for host mode safety
  support/unraid/xg2g.xml
Due: none

feat(ops): use bash in Unraid template for improved console experience
  support/unraid/xg2g.xml
Due: none

fix(ops): enforce port 8088 via XG2G_LISTEN in Unraid template to match WebUI link
  support/unraid/xg2g.xml
Due: none

fix(v3): improve test reliability and recovery logic
  internal/v3/exec/enigma2/readychecker_test.go
  internal/v3/integration/flow_test.go
  internal/v3/worker/recovery.go
Due: unittests

feat(v3): enhance profile system with configurable encoding parameters
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/runner.go
  internal/v3/model/enums.go
  internal/v3/profiles/resolve.go
Due: unittests

feat(v3): add comprehensive Enigma2 client configuration and resilience
  cmd/daemon/main.go
  config.example.yaml
  docs/V3_ENVIRONMENT_VARIABLES.md
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  docs/guides/v3-setup.md
  internal/config/config.go
  internal/config/manager.go
  internal/config/validation.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/v3/exec/enigma2/client.go
  internal/v3/exec/enigma2/client_ext.go
  internal/v3/exec/enigma2/metrics.go
  internal/v3/exec/real_factory.go
Due: unittests, Daemon

refactor(v3): streamline Enigma2 client initialization and telemetry
  internal/daemon/manager.go
  internal/v3/exec/enigma2/client.go
  internal/v3/exec/enigma2/client_ext.go
  internal/v3/exec/enigma2/metrics.go
  internal/v3/exec/real_factory.go
Due: unittests, Daemon

refactor(config): fix version to v3, remove legacy version handling
  cmd/daemon/config_cmd.go
  cmd/daemon/main.go
  config.example.yaml
  docs/CONFIGURATION_AUDIT.md
  docs/V3_ENVIRONMENT_VARIABLES.md
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  docs/guides/v3-setup.md
  internal/api/http.go
  internal/api/ui.html
  internal/config/config.go
  internal/config/config_version.go
  internal/config/manager.go
  internal/config/migrate.go
  internal/config/validation.go
  internal/config/validation_v3_test.go
Due: unittests, Daemon, API Layer

refactor(api): migrate recording endpoints to generated router
  api/openapi.yaml
  internal/api/http.go
  internal/api/recordings.go
  internal/api/server_gen.go
Due: unittests, API Layer

feat(config): make bouquet configuration optional and support all bouquets
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  Dockerfile
  Makefile
  README.md
  config.example.yaml
  docker-compose.yml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  internal/api/server_impl.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/reload_test.go
  internal/config/validation.go
  internal/config/validation_v3_test.go
  internal/jobs/refresh.go
  internal/jobs/refresh_test.go
  internal/validation/startup.go
  support/unraid/xg2g.xml
  webui/src/components/Config.css
  webui/src/components/Config.jsx
Due: unittests, API Layer
