Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

docs(coverage): add operational runbook and technical validation
  docs/CI_CD_AUDIT_REPORT.md
  docs/COVERAGE_OPERATIONS.md
Due: none

feat(coverage): integrate Codecov Test Analytics
  .github/workflows/test-report.yml
  docs/CI_CD_AUDIT_REPORT.md
  docs/COVERAGE_OPERATIONS.md
Due: none

docs(coverage): add CODECOV_TOKEN configuration and prerequisites
  docs/COVERAGE_OPERATIONS.md
Due: none

docs(coverage): finalize production readiness with technical recommendations
  docs/CI_CD_AUDIT_REPORT.md
  docs/COVERAGE_OPERATIONS.md
Due: none

test(coverage): add coverage improvement scaffolding and strategy
  .github/ISSUE_TEMPLATE/coverage_improvement.md
  docs/COVERAGE_OPERATIONS.md
  internal/api/circuit_breaker_test.go
  internal/api/handlers_test.go
  internal/proxy/fake/transcoder_fake_test.go
  test/fixtures/fake-ffmpeg.sh
Due: none

test(api): enable circuit breaker state machine tests (+79% CB coverage)
  internal/api/circuit_breaker.go
  internal/api/circuit_breaker_test.go
Due: unittests, API Layer

test(api): add handler tests to improve coverage (+9pp)
  internal/api/handlers_test.go
Due: none

test(api): add AuthMiddleware and Handler tests to reach 70% coverage
  internal/api/handlers_test.go
Due: none

docs(coverage): update baselines post-PR-1.5 with Codecov API data
  docs/COVERAGE_OPERATIONS.md
Due: none

test: add coverage for config/reload.go and jobs/fetch.go (Quick Wins)
  internal/config/reload_test.go
  internal/jobs/fetch_test.go
Due: none

feat(config): add strict YAML parsing and validation CLI
  cmd/validate/main.go
  internal/config/config.go
  internal/config/config_strict_test.go
  internal/config/testdata/invalid-type.yaml
  internal/config/testdata/invalid-unknown-key.yaml
  internal/config/testdata/invalid-validation.yaml
  internal/config/testdata/valid-minimal.yaml
Due: unittests

chore(ci): add YAML linting and pre-commit hooks
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  Makefile
Due: none

feat(config): add JSON Schema for IDE integration and CI validation
  .github/workflows/lint.yml
  config.example.yaml
  docs/config.schema.json
  internal/config/testdata/valid-minimal.yaml
Due: none

feat(config): add schema tests, deprecation framework, and reload hardening
  internal/config/config.go
  internal/config/config_schema_test.go
  internal/config/deprecations.go
  internal/config/deprecations_test.go
  internal/config/reload_test.go
Due: unittests

feat(docs): add schema-docs generator for automatic config documentation
  .github/workflows/lint.yml
  Makefile
  docs/config.md
  tools/schema-docs/main.go
Due: none

feat(config): add secrets handling with masking and writeOnly schema
  docs/config.md
  docs/config.schema.json
  internal/config/logmask.go
  internal/config/logmask_test.go
Due: unittests

test(api): improve internal/api coverage from 71.8% to 79.5% (+7.7pp)
  internal/api/auth_test.go
  internal/api/circuit_breaker_test.go
  internal/api/errors_test.go
  internal/api/handlers_test.go
  internal/api/http_test.go
  internal/api/middleware_test.go
  internal/api/v1/handlers_test.go
Due: none

fix(tools): remove redundant newlines in fmt.Fprintln calls
  tools/schema-docs/main.go
Due: none

fix(lint): resolve golangci-lint staticcheck and errcheck issues
  Makefile
  internal/config/config_strict_test.go
  internal/health/health_test.go
  internal/jobs/fetch_test.go
  tools/schema-docs/main.go
Due: none

fix(ci): resolve pre-commit configuration issues
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint.yaml
Due: none

fix(ci): remove go-imports hook (requires goimports installation)
  .pre-commit-config.yaml
Due: none

fix(ci): exclude GitHub Actions workflows from yamllint/yamlfmt
  .pre-commit-config.yaml
Due: none

fix(style): normalize whitespace and EOF across codebase
  .editorconfig
  .gitattributes
  .github/workflows/.env.example
  .github/workflows/hardcore-ci.yml
  .goreleaser.yml
  LICENSE
  Makefile
  cspell.json
  deploy/examples/.env.example
  deploy/examples/cron-auto-refresh.txt
  deploy/monitoring/grafana/dashboards/xg2g-dashboard.json
  deploy/systemd-timer.conf
  docs/RUNBOOK_INCIDENT_ROLLBACK.md
  docs/api.html
  docs/config.md
  docs/releases/v0.3.0-epg-deployment.md
  docs/security/SECURITY.md
  internal/dashboard/dashboard.go
  scripts/SECURITY_TESTS.md
  scripts/deploy-monitoring.sh
  scripts/prod-deploy.sh
  scripts/prod-ops.sh
  scripts/quick-security-check.sh
  scripts/security-test.sh
  scripts/xg2g-auto-refresh.sh
  scripts/xmltv-smoke-test.sh
Due: unittests

fix(ci): exclude integration tests from go-build hook + YAML formatting
  .pre-commit-config.yaml
  examples/config.example.yaml
  examples/config.minimal.yaml
  examples/config.production.yaml
  examples/docker-compose/docker-compose.yml
  examples/full-stack/docker-compose.yml
  examples/live-test/docker-compose.yml
  internal/config/testdata/invalid-type.yaml
  internal/config/testdata/invalid-unknown-key.yaml
  internal/config/testdata/invalid-validation.yaml
  internal/config/testdata/valid-minimal.yaml
Due: none

fix(ci): remove go-build hook + apply auto-formatting
  .pre-commit-config.yaml
  .secrets.baseline
  examples/full-stack/docker-compose.yml
  examples/live-test/docker-compose.yml
Due: none

fix(ci): remove detect-secrets hook from pre-commit
  .pre-commit-config.yaml
Due: none

feat(proxy): add proxy-only mode for dedicated transcoding instances
  cmd/daemon/main.go
  internal/daemon/manager.go
Due: unittests, Daemon

feat(proxy): add proxy-only mode for dedicated transcoding instances (#33)
  cmd/daemon/main.go
  internal/daemon/manager.go
Due: unittests, Daemon

docs: add XG2G_PROXY_ONLY_MODE documentation
  README.md
Due: none

feat: implement native AC3/MP2→AAC audio transcoding via Rust FFI
  KNOWN_ISSUES.md
  README.md
  internal/api/handlers_test.go
  transcoder/Cargo.lock
  transcoder/src/audio_remux.rs
  transcoder/src/ffi.rs
Due: none

fix(ci): wait for ARM64 build before creating multi-arch manifests
  .github/workflows/docker-multi-cpu.yml
Due: none

fix(security): add explicit permissions to lint workflow
  .github/workflows/lint.yml
Due: none

security: pin GitHub Actions to commit SHAs in release.yml
  .github/workflows/release.yml
Due: none

security: pin GitHub Actions to commit SHAs in lint.yml
  .github/workflows/lint.yml
Due: none

refactor: revert lint.yml to version tags (hybrid security approach)
  .github/workflows/lint.yml
Due: none

chore(deps): update release.yml actions to latest versions
  .github/workflows/release.yml
Due: none

feat(playlist): add XG2G_USE_PROXY_URLS for audio transcoding
  internal/jobs/refresh.go
Due: unittests

fix(proxy): remove /auto prefix from proxy URLs in M3U playlist
  internal/jobs/refresh.go
Due: unittests

fix(proxy): initialize ReverseProxy for Smart Detection mode
  internal/proxy/proxy.go
Due: unittests, Stream Proxy

feat(docker): add multi-variant Dockerfile for Alpine/Debian builds
  Dockerfile
Due: none

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
