Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix(vod): relax validation for callback/test; remove redundant jobID check
  internal/control/vod/manager.go
Due: unittests

fix(ffmpeg): do not mutate profile; use DecisionOutput as planner input
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

fix(ci): unblock PR gates for token URL and docs drift
  docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md
  internal/core/urlutil/urlutil_test.go
Due: none

ci: restore head compile for config merge + ffmpeg adapter
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  internal/api/server_v3_wiring.go
  internal/config/types.go
  internal/control/vod/manager.go
  internal/control/vod/prober.go
  internal/infra/media/ffmpeg/adapter.go
  internal/log/fields.go
Due: unittests, API Layer

governance: remove env access from storage_cmd
  cmd/daemon/storage_cmd.go
  internal/config/data_dir.go
Due: unittests, Daemon

governance: fix deprecation mapping for STREAM_PORT
  docs/DEPRECATION_POLICY.md
  docs/guides/CONFIG_SURFACES.md
Due: none

ui: restore scoped styles to contract baseline
  webui/src/App.css
  webui/src/components/Config.module.css
  webui/src/components/Dashboard.module.css
  webui/src/components/Files.module.css
  webui/src/components/Logs.module.css
  webui/src/components/Navigation.module.css
  webui/src/components/Recordings.module.css
  webui/src/components/SeriesManager.module.css
  webui/src/components/Settings.module.css
  webui/src/components/Streams.module.css
  webui/src/components/Timers.module.css
  webui/src/components/V3Player.module.css
  webui/src/components/V3Player.tsx
  webui/src/components/ui/Button.module.css
  webui/src/components/ui/Card.module.css
  webui/src/features/epg/EPG.module.css
  webui/src/features/resume/resume.module.css
  webui/src/features/system/SystemInfo.module.css
  webui/src/index.css
Due: none

ci: remove dead vod helpers for lint clean
  internal/control/vod/manager.go
Due: unittests

security: bump Go toolchain to 1.25.7
  Dockerfile
  Dockerfile.distroless
  go.mod
Due: none

ci: make gate-a robust without ripgrep
  scripts/verify_gate_a_control_store.sh
Due: none

ci: scope gate-a to production control paths
  scripts/verify_gate_a_control_store.sh
Due: none

docs: clarify CI required-check enforcement
  docs/README.md
Due: none

ci: add scheduled deep suite (race, integration, security, governance) with artifacts and UTC schedule
  .github/workflows/ci-deep-scheduled.yml
Due: none

ci: add scheduled deep suite (race, integration, security, governance) with artifacts and UTC schedule (#193)
  .github/workflows/ci-deep-scheduled.yml
Due: none

ci: add deep-suite prereqs for race signal
  .github/workflows/ci-deep-scheduled.yml
Due: none

ci: add deep-suite prereqs for race signal (#194)
  .github/workflows/ci-deep-scheduled.yml
Due: none

ci: add deep-suite failure issue alerting
  .github/workflows/ci-deep-scheduled.yml
Due: none

ci: add deep-suite failure issue alerting (#195)
  .github/workflows/ci-deep-scheduled.yml
Due: none

chore: remove large log files (moved to separate PR)
  test_output.log
  test_results.log
  vuln_full.txt
Due: none

chore: restore large logs in this branch (moved deletion to cleanup PR)
  test_output.log
  test_results.log
  vuln_full.txt
Due: none

chore(ci): mark logs and generated files in .gitattributes to improve PR summary
  .gitattributes
Due: none

webui: handle 410 Gone in session readiness
  webui/src/components/V3Player.tsx
Due: none

webui: handle 410 Gone in session readiness (#196)
  webui/src/components/V3Player.tsx
Due: none

governance: codify solo maintainer merge policy
  .github/CODEOWNERS
  docs/ops/CI_FAILURE_PLAYBOOK.md
  docs/ops/SOLO_MAINTAINER_MERGE_POLICY.md
Due: none

governance: codify solo maintainer merge policy (#197)
  .github/CODEOWNERS
  docs/ops/CI_FAILURE_PLAYBOOK.md
  docs/ops/SOLO_MAINTAINER_MERGE_POLICY.md
Due: none

ops: add workspace cleanup script and fail-closed hygiene
  docs/ops/WORKSPACE_CLEANUP.md
  hack/verify-repo-hygiene.sh
  scripts/ops/cleanup-workspace.sh
Due: none

ops: add workspace cleanup script and fail-closed hygiene (#198)
  docs/ops/WORKSPACE_CLEANUP.md
  hack/verify-repo-hygiene.sh
  scripts/ops/cleanup-workspace.sh
Due: none

test(webui): prevent 410 Gone retry loop in V3Player
  webui/tests/V3Player.errors.test.tsx
Due: none

test(webui): prevent 410 Gone retry loop in V3Player (#199)
  webui/tests/V3Player.errors.test.tsx
Due: none

test(webui): retry on 503 during session readiness
  webui/tests/V3Player.errors.test.tsx
Due: none

test(webui): retry on 503 during session readiness (#200)
  webui/tests/V3Player.errors.test.tsx
Due: none

test(decision): add codec negotiation contract tests
  internal/decision/engine_test.go
Due: none

fix(engine): add fail-closed codec negotiation with profile constraints
  internal/decision/engine.go
Due: unittests

fix(adapter): plan ffmpeg args from decision output without profile mutation
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
Due: unittests

fix(ffmpeg): satisfy staticcheck switch recommendation
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

codec: engine-driven negotiation and adapter planning (#201)
  internal/decision/engine.go
  internal/decision/engine_test.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
Due: unittests

governance: fail closed on empty PR delta
  .github/workflows/pr-required-gates.yml
  scripts/ci/check-empty-delta.sh
Due: none
