Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

feat(ui): add setup wizard with connection validation and simplified docker config
  docker-compose.yml
  internal/api/http.go
  internal/api/recordings.go
  internal/api/server_impl.go
  webui/src/App.jsx
  webui/src/client/interceptor.js
  webui/src/components/Config.css
  webui/src/components/Config.jsx
Due: unittests, API Layer

chore: remove unused Rust transcoder code
  Dockerfile
  Makefile
  README.md
  cmd/daemon/main.go
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/INTERNALS.md
  docs/TESTING.md
  internal/api/auth.go
  internal/api/http.go
  internal/api/recordings.go
  internal/jobs/fetch.go
  internal/jobs/refresh.go
  internal/openwebif/recordings.go
  internal/playlist/m3u.go
  internal/transcoder/errors.go
  internal/transcoder/rust.go
  internal/transcoder/rust_bindings.h
  internal/transcoder/rust_nocgo.go
  internal/transcoder/rust_nocgo_test.go
  internal/transcoder/rust_test.go
  transcoder/.gitignore
  transcoder/Cargo.lock
  transcoder/Cargo.toml
  transcoder/Makefile
  transcoder/README.md
  transcoder/src/audio_remux.rs
  transcoder/src/decoder.rs
  transcoder/src/demux.rs
  transcoder/src/encoder.rs
  transcoder/src/ffi.rs
  transcoder/src/ffi_test.rs
  transcoder/src/lib.rs
  transcoder/src/main.rs
  transcoder/src/main_simple.rs
  transcoder/src/metrics.rs
  transcoder/src/muxer.rs
  transcoder/src/server.rs
  transcoder/src/transcoder.rs
  webui/src/components/Dashboard.jsx
Due: unittests, API Layer, Playlist, Stream Proxy

feat: add monitoring stack and fix integration test
  docker-compose.monitoring.yml
  grafana-dashboard.json
  internal/api/integration_test.go
  monitoring/prometheus.yml
Due: none

chore(docker): modernize Dockerfile with latest versions and optimizations
  Dockerfile
Due: none

feat(recordings): add dynamic discovery of recording locations
  internal/api/recordings.go
  internal/openwebif/recordings.go
Due: unittests, API Layer

feat(ui): migrate V3Player to TypeScript with full type safety
  package-lock.json
  package.json
  webui/src/App.jsx
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: none

feat(frontend): implement Context API for centralized state management
  webui/src/App.jsx
  webui/src/App.tsx
  webui/src/context/AppContext.tsx
  webui/src/main.jsx
  webui/src/main.tsx
  webui/src/types/app-context.ts
Due: none

perf(frontend): implement lazy loading and chunk splitting (Phase 4.1)
  webui/src/App.tsx
  webui/vite.config.js
Due: none

feat(frontend): migrate Logs to TypeScript with direct client-ts SDK (Phase 4.2)
  webui/src/components/Logs.tsx
  webui/src/types/epg.ts
Due: none

feat(frontend): complete Phase 4 TypeScript migration with guardrails
  .github/workflows/phase4-guardrails.yml
  webui/.eslintrc-phase4.json
  webui/src/components/Dashboard.tsx
  webui/src/components/Timers.tsx
Due: none

feat(epg): add EPG feature types (Phase 5 Step 1)
  webui/src/features/epg/types.ts
Due: none

feat(epg): implement data layer with zero legacy imports (Phase 5 Step 2)
  webui/src/features/epg/epgApi.ts
Due: none

fix(epg): add searchEvents container for semantic correctness
  webui/src/features/epg/types.ts
Due: none

docs(epg): clarify timestamp units and add DEFAULT_TIME_RANGE
  webui/src/features/epg/types.ts
Due: none

feat(epg): implement state machine reducer (Phase 5 Step 3)
  webui/src/features/epg/epgModel.ts
Due: none

feat(epg): extract UI components with typed props (Phase 5 Step 4)
  webui/src/features/epg/EPG.css
  webui/src/features/epg/EPG.tsx
  webui/src/features/epg/components/EpgChannelList.tsx
  webui/src/features/epg/components/EpgEventList.tsx
  webui/src/features/epg/components/EpgToolbar.tsx
Due: none

feat(epg): cutover to new feature architecture (Phase 5 Step 5)
  webui/src/App.tsx
  webui/src/components/EPG.css
  webui/src/components/EPG.jsx
  webui/src/features/epg/types.ts
Due: none

feat: remove compatibility layer and complete TypeScript migration (Phase 5 Step 6)
  .github/workflows/phase4-guardrails.yml
  webui/.eslintrc-phase4.json
  webui/src/App.tsx
  webui/src/client/core/OpenAPI.ts
  webui/src/client/index.ts
  webui/src/client/interceptor.js
  webui/src/client/services/AuthService.ts
  webui/src/client/services/DefaultService.ts
  webui/src/client/services/DvrService.ts
  webui/src/client/services/EpgService.ts
  webui/src/client/services/RecordingsService.ts
  webui/src/client/services/SeriesService.ts
  webui/src/client/services/ServicesService.ts
  webui/src/client/services/TimersService.ts
  webui/src/components/Config.jsx
  webui/src/components/EditTimerDialog.jsx
  webui/src/components/Files.jsx
  webui/src/components/RecordingsList.jsx
  webui/src/components/SeriesManager.jsx
  webui/src/components/V3Player.tsx
  webui/src/context/AppContext.tsx
  webui/src/main.tsx
  webui/src/types/app-context.ts
  webui/src/types/epg.ts
Due: none

perf(recordings): lazy load Player component (Phase 6A)
  webui/src/components/RecordingsList.jsx
Due: none

feat: migrate remaining components to TypeScript (Phase 3)
  docs/frontend_migration_phase3.md
  webui/src/components/Config.tsx
  webui/src/components/EditTimerDialog.tsx
  webui/src/components/ErrorBoundary.tsx
  webui/src/components/Files.tsx
  webui/src/components/Navigation.tsx
  webui/src/components/Player.jsx
  webui/src/components/RecordingsList.jsx
  webui/src/components/RecordingsList.tsx
  webui/src/components/SeriesManager.tsx
  webui/src/components/Timers.tsx
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: none

docs: finalize v3.0.0 release notes and public README
  README.md
  docs/RELEASE-v3.0.0.md
Due: none

feat(player): add advanced UX features and stats overlay (v3.0.0)
  webui/CHANGELOG.md
  webui/src/components/V3Player.css
  webui/src/components/V3Player.tsx
  webui/src/types/v3-player.ts
Due: none

fix: sync OpenAPI client and fix config validation
  config.example.yaml
  webui/src/client/client.gen.ts
  webui/src/client/client/client.gen.ts
  webui/src/client/client/index.ts
  webui/src/client/client/types.gen.ts
  webui/src/client/client/utils.gen.ts
  webui/src/client/core/auth.gen.ts
  webui/src/client/core/bodySerializer.gen.ts
  webui/src/client/core/params.gen.ts
  webui/src/client/core/pathSerializer.gen.ts
  webui/src/client/core/queryKeySerializer.gen.ts
  webui/src/client/core/serverSentEvents.gen.ts
  webui/src/client/core/types.gen.ts
  webui/src/client/core/utils.gen.ts
  webui/src/client/index.ts
  webui/src/client/sdk.gen.ts
  webui/src/client/types.gen.ts
Due: none

fix(security): restrict anonymous users to read-only access
  internal/api/rbac.go
Due: unittests, API Layer

fix(tests): update smoke test to use v3 API
  test/smoke/smoke_test.go
Due: none

fix(lint): resolve errcheck and gosec warnings
  internal/api/server_impl.go
  internal/v3/worker/orchestrator.go
Due: unittests, API Layer

fix(lint): resolve staticcheck warnings in recordings.go
  internal/api/recordings.go
Due: unittests, API Layer

feat(security): comprehensive 2026-ready security hardening
  internal/api/auth.go
  internal/api/config_reload.go
  internal/api/handlers_v3.go
  internal/api/rbac.go
  internal/api/security_hardening_test.go
Due: unittests, API Layer

refactor: code quality improvements
  internal/api/auth.go
  internal/api/conflicts.go
  internal/api/handlers_v3.go
  internal/api/rbac.go
Due: unittests, API Layer

feat(api): 2026-ready v3 API hardening
  ARCHITECTURE.md
  README.md
  api/openapi.yaml
  internal/api/handlers_v3.go
  internal/api/v3_routes.go
  internal/v3/exec/ffmpeg/runner.go
  webui/src/components/Dashboard.tsx
  webui/src/components/Navigation.tsx
  webui/src/features/epg/EPG.css
  webui/src/features/epg/components/EpgChannelList.tsx
  webui/src/features/epg/components/EpgEventList.tsx
Due: unittests, API Layer

fix: update Docker image references to use GHCR
  README.md
  docker-compose.yml
  docs/RELEASE-v3.0.0.md
  docs/guides/INSTALL_NAS.md
Due: none

webui: add i18n language switch + harden V3Player auth/session flow
  webui/package.json
  webui/src/components/LanguageSwitcher.tsx
  webui/src/components/Navigation.tsx
  webui/src/components/V3Player.tsx
  webui/src/i18n.ts
  webui/src/locales/de.json
  webui/src/locales/en.json
  webui/src/main.tsx
  webui/src/types/v3-player.ts
Due: none

webui: disable strict mode to prevent V3Player race conditions
  webui/src/main.tsx
Due: none

feat(api): harden recordings API with POSIX path handling and security improvements
  internal/api/recordings.go
  internal/api/recordings_test.go
  internal/netutil/url.go
  internal/netutil/url_test.go
  internal/v3/exec/enigma2/client_ext.go
  internal/v3/exec/enigma2/tuner.go
  webui/src/components/Recordings.css
  webui/src/features/epg/EPG.tsx
  webui/src/features/epg/components/EpgToolbar.tsx
  webui/src/locales/de.json
  webui/src/locales/en.json
Due: unittests, API Layer

feat(v3): comprehensive recording playback and HLS hardening
  internal/api/rbac.go
  internal/api/recordings.go
  internal/v3/api/hls.go
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/runner.go
Due: unittests, API Layer

fix(webui): correct datetime-local formatting and close EPG i18n gaps
  webui/src/components/EditTimerDialog.tsx
  webui/src/features/epg/components/EpgChannelList.tsx
  webui/src/features/epg/components/EpgToolbar.tsx
  webui/src/locales/de.json
  webui/src/locales/en.json
Due: none

feat(api): add PUT /series-rules/{id} for proper rule updates
  api/openapi.yaml
  internal/api/series.go
  internal/api/server_gen.go
  internal/dvr/manager.go
  webui/src/client/index.ts
  webui/src/client/sdk.gen.ts
  webui/src/client/types.gen.ts
  webui/src/components/SeriesManager.tsx
Due: unittests, API Layer

test: fix engine_test for updated AddRule signature
  internal/dvr/engine_test.go
Due: none

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
