Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

test(recordings): align result=false contract
  internal/control/http/v3/recordings_contract_test.go
Due: none

test(hls): stabilize stampede cleanup
  internal/control/http/v3/recordings_hls_reconcile_test.go
Due: none

test(probe): skip without ffmpeg
  internal/control/http/v3/recordings_probe_verification_test.go
Due: none

test(openwebif): align about mock shape
  internal/openwebif/mock_server.go
Due: unittests

test(playlists): align runtime playlist filename
  internal/api/handlers_test.go
  internal/api/http_test.go
  internal/jobs/refresh_integration_test.go
  internal/jobs/refresh_test.go
  test/load/load_test.go
Due: none

P0: ban URL tokens and enforce session-only media
  .github/workflows/ci.yml
  internal/api/auth.go
  internal/api/http.go
  internal/api/http_head_test.go
  internal/api/integration_test.go
  internal/api/security_utils.go
  internal/control/auth/token.go
  internal/control/auth/token_test.go
  internal/control/http/v3/auth.go
  internal/control/http/v3/auth_test.go
  internal/control/http/v3/contract_v3_test.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/security.go
  internal/control/middleware/otel_test.go
  internal/validate/validate_test.go
  test/integration/shutdown_vod_test.go
  walkthrough.md
  webui/src/components/V3Player.tsx
Due: unittests, API Layer

chore: enforce layering rules - achieve 10/10 architecture
  docs/arch/ARCHITECTURE.md
  docs/arch/PACKAGE_LAYOUT.md
  internal/control/http/v3/recordings.go
  internal/control/http/v3/recordings_refactor_test.go
  internal/control/vod/interfaces.go
  internal/core/README.md
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator_test.go
  internal/domain/session/manager/recovery_contention_test.go
  internal/domain/session/manager/stop_test.go
  internal/domain/session/manager/sweeper_once_test.go
  internal/domain/session/manager/sweeper_test.go
  internal/domain/vod/ports.go
  internal/domain/vod/types.go
  internal/infra/bus/adapter.go
  internal/infra/ffmpeg/builder.go
  internal/infra/ffmpeg/probe.go
  internal/infra/ffmpeg/runner.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/stub/adapter.go
  internal/infra/platform/osplatform.go
  internal/validate/imports_test.go
Due: unittests, Daemon

fix(ci): consolidate OpenAPI codegen to Makefile (v2 + v3)
  .github/workflows/ci.yml
  Makefile
Due: none

fix(test): wire v3 recordings resolver to prevent nil pointer panic
  internal/api/http.go
  internal/control/http/v3/v3.go
Due: unittests, API Layer

refactor(v3): remove legacy VOD resolver hooks
  internal/api/http.go
  internal/app/bootstrap/vod_path_test.go
  internal/app/bootstrap/vod_scope_test.go
  internal/control/http/v3/auth_strict_test.go
  internal/control/http/v3/contract_v3_test.go
  internal/control/http/v3/equivalence_test.go
  internal/control/http/v3/handlers_vod.go
  internal/control/http/v3/recordings_hls_reconcile_test.go
  internal/control/http/v3/recordings_resume_test.go
  internal/control/http/v3/recordings_status_test.go
  internal/control/http/v3/resolver_vod.go
  internal/control/http/v3/resolver_vod_test.go
  internal/control/http/v3/v3.go
Due: unittests, API Layer

Formalize offline-deterministic workflow (ADR-016) and add CI purity gate
  .github/workflows/ci.yml
  Makefile
  docs/adr/ADR-016-offline-deterministic-reviews.md
  scripts/ci_gate_zip_purity.py
Due: none

Improve GitHub presence and fix critical OpenAPI spec divergence
  .github/WORKFLOWS.md
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  api/openapi.yaml
  internal/api/server_gen.go
  internal/control/http/v3/openapi.yaml
Due: unittests

Enhance README with problem/solution positioning
  README.md
Due: none

Streamline README for faster onboarding
  README.md
Due: none

Fix critical stability issues (3 CRITICAL + 1 HIGH severity)
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/manager/recovery.go
Due: unittests, Daemon

Fix remaining 2 CRITICAL stability issues
  internal/api/handlers_picons.go
  internal/domain/session/manager/orchestrator_helpers.go
Due: unittests, API Layer

Fix 4 HIGH severity stability issues
  internal/api/handlers_picons.go
  internal/domain/session/manager/orchestrator.go
Due: unittests, API Layer

Fix MEDIUM severity performance and reliability issues
  internal/domain/session/manager/sweeper.go
Due: unittests

fix(api): resolve 3 CRITICAL build-blocking compile errors
  internal/api/deps.go
  internal/api/http.go
  internal/control/http/v3/v3.go
Due: unittests, API Layer

fix(test): update bootstrap test mocks for domain resolver signature
  internal/app/bootstrap/vod_path_test.go
  internal/app/bootstrap/vod_scope_test.go
Due: none

fix(recordings): correct MetadataManager interface signatures
  internal/control/recordings/resolver.go
Due: unittests

Add truth table tests for resolver
  internal/control/recordings/resolver.go
  internal/control/recordings/truth_table_test.go
Due: unittests

feat(v3): Strict PlaybackInfo Contract Hardening
  api/openapi.yaml
  internal/api/server_gen.go
  internal/control/http/v3/conflicts.go
  internal/control/http/v3/conflicts_test.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_playback_info_contract_test.go
  internal/control/http/v3/http_response_capturer.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/server.go
  internal/control/http/v3/server_gen.go
  webui/src/client-ts/index.ts
  webui/src/client-ts/sdk.gen.ts
  webui/src/client-ts/types.gen.ts
  webui/src/components/V3Player.safari.test.tsx
  webui/src/components/V3Player.tsx
Due: unittests

Duration Truth: nanosecond UpdatedAt throttle, async probe truth-matrix hardening
  Makefile
  internal/control/http/v3/contract_v3_test.go
  internal/control/http/v3/recordings/artifacts/resolver_test.go
  internal/control/http/v3/recordings_contract_test.go
  internal/control/http/v3/recordings_hls_reconcile_test.go
  internal/control/http/v3/recordings_status_test.go
  internal/control/recordings/duration_truth_test.go
  internal/control/recordings/profile.go
  internal/control/recordings/resolver.go
  internal/control/recordings/resolver_pr42_test.go
  internal/control/recordings/resolver_singleflight_gate_test.go
  internal/control/recordings/service.go
  internal/control/recordings/truth.go
  internal/control/recordings/truth_table_test.go
  internal/control/recordings/truth_test.go
  internal/control/vod/manager.go
  internal/control/vod/manager_callback_test.go
  internal/control/vod/manager_probed_test.go
  internal/control/vod/manager_race_test.go
  internal/control/vod/manager_test.go
  internal/control/vod/prober.go
  internal/control/vod/prober_resolve_test.go
  internal/control/vod/prober_truth_test.go
Due: unittests

chore: update dependencies
  .github/workflows/codeql.yml
  webui/package-lock.json
Due: none

chore(ci): fix workflow versions and add webui lint
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  webui/public/dvr-diagnostic.js
Due: none

chore(ci): upgrade actions to latest major versions
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

chore(ci): upgrade checkout to v6 (absolute latest)
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

docs: consolidate review artifacts
  docs/review/task.md
  docs/review/walkthrough.md
Due: none

chore: resolve lint debt and consolidate artifacts
  .golangci.yml
  internal/api/http_preparing_test.go
  internal/app/bootstrap/vod_duration_test.go
  internal/control/http/v3/handlers_services_bouquets_test.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/recordings/artifacts/resolver.go
  internal/control/http/v3/recordings/duration_rules.go
  internal/control/http/v3/recordings_hls_reconcile_test.go
  internal/control/http/v3/recordings_remux.go
  internal/control/http/v3/storage_monitor.go
  internal/control/playback/engine.go
  internal/control/recordings/service.go
  internal/control/recordings/truth_test.go
  internal/control/vod/manager_callback_test.go
  internal/control/vod/manager_race_test.go
  internal/infra/ffmpeg/probe.go
  internal/pipeline/api/hls_integration_test.go
  internal/recordings/lifecycle_test.go
  internal/recordings/pathmap_existing_test.go
  internal/validate/contract_test.go
Due: unittests

chore(ci): enforce strict review-zip purity
  Makefile
  scripts/ci_gate_zip_purity.py
  walkthrough.md
Due: none

chore(security): audit and fix gosec/errcheck issues
  .golangci.yml
  cmd/daemon/diagnostic_cmd.go
  cmd/daemon/healthcheck_cmd.go
  cmd/v3probe/main.go
  docs/review/task.md
  docs/review/walkthrough.md
  internal/app/bootstrap/bootstrap.go
  internal/config/deprecations.go
  internal/control/http/v3/recordings/artifacts/resolver.go
  internal/control/http/v3/storage_monitor.go
  internal/control/recordings/service.go
  internal/infra/ffmpeg/probe.go
  internal/infra/ffmpeg/runner.go
Due: unittests, Daemon
