Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

chore: smoke required-check pipeline after branch-protection update (#192)
  .gitattributes
  docs/README.md
Due: none

security: redact credentials from receiver URLs in logs (#183)
  internal/core/urlutil/urlutil_test.go
Due: none

fix(p0): make bus publish fail-on-timeout and remove detached runtime contexts
  cmd/daemon/main.go
  internal/daemon/app.go
  internal/metrics/bus.go
  internal/pipeline/bus/memory_bus.go
  internal/pipeline/bus/memory_bus_test.go
  internal/v3/bus/memory_bus.go
Due: unittests, Daemon

fix(p0): join background workers and close runtime resources on shutdown
  internal/api/server_lifecycle.go
  internal/control/http/v3/server.go
  internal/control/vod/lifecycle_test.go
  internal/control/vod/manager.go
  internal/control/vod/prober.go
  internal/daemon/app.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
  internal/pipeline/scan/manager.go
Due: unittests, Daemon, API Layer

test(vod): harden concurrent cache-evictor test retry on transient fs races
  internal/control/vod/recording_cache_evictor_test.go
Due: none

fix(p0): complete lifecycle join + shutdown resource closure (#212)
  cmd/daemon/main.go
  internal/api/server_lifecycle.go
  internal/control/http/v3/server.go
  internal/control/vod/lifecycle_test.go
  internal/control/vod/manager.go
  internal/control/vod/prober.go
  internal/control/vod/recording_cache_evictor_test.go
  internal/daemon/app.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
  internal/metrics/bus.go
  internal/pipeline/bus/memory_bus.go
  internal/pipeline/bus/memory_bus_test.go
  internal/pipeline/scan/manager.go
  internal/v3/bus/memory_bus.go
Due: unittests, Daemon, API Layer

refactor(p1): enforce single runtime wiring ownership
  cmd/daemon/main.go
  internal/app/bootstrap/bootstrap_test.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

chore(ci): regenerate config surfaces after bootstrap move
  docs/guides/CONFIG_SURFACES.md
Due: none

refactor(v3): split route registration by bounded context
  internal/control/http/v3/router_v3.go
  internal/control/http/v3/router_v3_routes_core.go
  internal/control/http/v3/router_v3_routes_recordings.go
  internal/control/http/v3/router_v3_routes_series_services.go
  internal/control/http/v3/router_v3_routes_sessions_streams.go
  internal/control/http/v3/router_v3_routes_system_timers.go
Due: unittests

refactor(p1): enforce single runtime wiring ownership (#213)
  cmd/daemon/main.go
  docs/guides/CONFIG_SURFACES.md
  internal/app/bootstrap/bootstrap_test.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

refactor(v3): use consumer route ports in router wiring
  internal/control/http/v3/router_v3.go
  internal/control/http/v3/router_v3_ports.go
  internal/control/http/v3/router_v3_routes_core.go
  internal/control/http/v3/router_v3_routes_recordings.go
  internal/control/http/v3/router_v3_routes_series_services.go
  internal/control/http/v3/router_v3_routes_sessions_streams.go
  internal/control/http/v3/router_v3_routes_system_timers.go
Due: unittests

refactor(p2): split v3 router registration by bounded context (#215)
  internal/control/http/v3/router_v3.go
  internal/control/http/v3/router_v3_ports.go
  internal/control/http/v3/router_v3_routes_core.go
  internal/control/http/v3/router_v3_routes_recordings.go
  internal/control/http/v3/router_v3_routes_series_services.go
  internal/control/http/v3/router_v3_routes_sessions_streams.go
  internal/control/http/v3/router_v3_routes_system_timers.go
Due: unittests

refactor(api): inject constructor deps from composition root
  cmd/daemon/api_wiring.go
  cmd/daemon/main.go
  internal/api/server_constructor_deps.go
  internal/api/server_new.go
  internal/api/server_new_with_deps_test.go
Due: unittests, Daemon, API Layer

refactor(api): inject constructor deps from composition root (#216)
  cmd/daemon/api_wiring.go
  cmd/daemon/main.go
  internal/api/server_constructor_deps.go
  internal/api/server_new.go
  internal/api/server_new_with_deps_test.go
Due: unittests, Daemon, API Layer

refactor(daemon): inject v3 orchestrator via factory port
  cmd/daemon/main.go
  cmd/daemon/v3_orchestrator_factory.go
  cmd/daemon/v3_orchestrator_factory_test.go
  internal/app/bootstrap/bootstrap_test.go
  internal/daemon/deps.go
  internal/daemon/errors.go
  internal/daemon/manager_test.go
  internal/daemon/manager_v3_worker.go
  internal/daemon/manager_v3_worker_test.go
Due: unittests, Daemon

refactor(daemon): inject v3 orchestrator via factory port (#217)
  cmd/daemon/main.go
  cmd/daemon/v3_orchestrator_factory.go
  cmd/daemon/v3_orchestrator_factory_test.go
  internal/app/bootstrap/bootstrap_test.go
  internal/daemon/deps.go
  internal/daemon/errors.go
  internal/daemon/manager_test.go
  internal/daemon/manager_v3_worker.go
  internal/daemon/manager_v3_worker_test.go
Due: unittests, Daemon

hdhr: render device.xml via encoding/xml (escape-safe)
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
Due: unittests

hdhr: cache lineup.json by mtime/size with singleflight
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
Due: unittests

openwebif: services endpoint cascade + per-host capability cache
  internal/openwebif/client.go
  internal/openwebif/client_error_test.go
Due: unittests

read: canonicalize ServiceRef across lookup and streams
  internal/control/read/serviceref.go
  internal/control/read/serviceref_test.go
  internal/control/read/services.go
  internal/control/read/streams.go
  internal/control/read/streams_test.go
Due: unittests

refactor(codegen): split generated server interfaces by domain tags
  api/oapi-codegen-api.yaml
  api/oapi-codegen-v3.yaml
  api/openapi.yaml
  internal/api/server_gen.go
  internal/control/http/v3/openapi_tags_test.go
  internal/control/http/v3/server_gen.go
  tools/oapi/templates/chi/chi-interface.tmpl
Due: none

refactor(v3): narrow runtime ports and enforce module boundaries
  internal/control/http/v3/dependencies.go
  internal/control/http/v3/handlers_hls_serving.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_services.go
  internal/control/http/v3/handlers_sessions.go
  internal/control/http/v3/http.go
  internal/control/http/v3/module_boundary_test.go
  internal/control/http/v3/recordings_resume.go
  internal/control/http/v3/server.go
  internal/control/http/v3/server_modules.go
  internal/control/http/v3/sessions_heartbeat.go
  internal/control/http/v3/sessions_wrapper.go
  internal/daemon/deps.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

refactor(config,openwebif): add typed config parse errors and split stream URL strategy
  internal/config/config_strict_test.go
  internal/config/errors.go
  internal/config/loader.go
  internal/config/reload_test.go
  internal/config/strict_test.go
  internal/openwebif/client.go
  internal/openwebif/client_test.go
Due: unittests

fix(openwebif): remove unused services cache helper
  internal/openwebif/client.go
Due: unittests

test(openwebif): return empty services for empty mock bouquets
  internal/openwebif/mock_server.go
Due: unittests

feat(hdhr,openwebif,read): sync baseline to b6c40d8 (#221)
  internal/control/read/serviceref.go
  internal/control/read/serviceref_test.go
  internal/control/read/services.go
  internal/control/read/streams.go
  internal/control/read/streams_test.go
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
  internal/openwebif/client.go
  internal/openwebif/client_error_test.go
  internal/openwebif/mock_server.go
Due: unittests

test(v3): locate openapi spec under trimpath
  internal/control/http/v3/openapi_tags_test.go
Due: none

refactor(codegen): split generated server interfaces by domain tags (#218)
  api/oapi-codegen-api.yaml
  api/oapi-codegen-v3.yaml
  api/openapi.yaml
  internal/api/server_gen.go
  internal/control/http/v3/openapi_tags_test.go
  internal/control/http/v3/server_gen.go
  tools/oapi/templates/chi/chi-interface.tmpl
Due: none

fix(daemon): align v3 health check wiring with deps ports
  cmd/daemon/main.go
  internal/daemon/errors.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

chore(config): regenerate config surfaces inventory
  docs/guides/CONFIG_SURFACES.md
Due: none

fix(v3,daemon): remove dead module deps and restore runtime close hooks
  internal/control/http/v3/handlers_streams.go
  internal/control/http/v3/server_modules.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

test(bootstrap): provide receiver health check in daemon deps
  internal/app/bootstrap/bootstrap_test.go
Due: none

refactor(v3): narrow runtime ports and enforce module boundaries (#219)
  cmd/daemon/main.go
  docs/guides/CONFIG_SURFACES.md
  internal/app/bootstrap/bootstrap_test.go
  internal/control/http/v3/dependencies.go
  internal/control/http/v3/handlers_hls_serving.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_services.go
  internal/control/http/v3/handlers_sessions.go
  internal/control/http/v3/handlers_streams.go
  internal/control/http/v3/http.go
  internal/control/http/v3/module_boundary_test.go
  internal/control/http/v3/recordings_resume.go
  internal/control/http/v3/server.go
  internal/control/http/v3/server_modules.go
  internal/control/http/v3/sessions_heartbeat.go
  internal/control/http/v3/sessions_wrapper.go
  internal/daemon/deps.go
  internal/daemon/errors.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

refactor(config,openwebif): typed config parse errors and stream URL strategies (#220)
  internal/config/config_strict_test.go
  internal/config/errors.go
  internal/config/loader.go
  internal/config/reload_test.go
  internal/config/strict_test.go
  internal/openwebif/client.go
  internal/openwebif/client_test.go
Due: unittests

fix(errors): preserve error chains and remove string-matching paths
  internal/api/server_lifecycle.go
  internal/control/http/v3/dvr.go
  internal/control/http/v3/library.go
  internal/daemon/manager.go
  internal/dvr/engine.go
  internal/dvr/engine_test.go
  internal/library/service.go
  internal/library/service_test.go
Due: unittests, Daemon, API Layer

fix(errors): preserve error chains and remove string-matching paths (#222)
  internal/api/server_lifecycle.go
  internal/control/http/v3/dvr.go
  internal/control/http/v3/library.go
  internal/daemon/manager.go
  internal/dvr/engine.go
  internal/dvr/engine_test.go
  internal/library/service.go
  internal/library/service_test.go
Due: unittests, Daemon, API Layer

fix(ffmpeg): clean up process lifecycle and health checks
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_lifecycle_test.go
Due: unittests

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
