Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix(transcoder): AC3 audio transcoding with enhanced demuxer and FFI
  Dockerfile
  internal/transcoder/rust.go
  transcoder/src/audio_remux.rs
  transcoder/src/demux.rs
  transcoder/src/ffi.rs
Due: unittests, Stream Proxy

fix(docker): upgrade to Debian Trixie for FFmpeg 7.x compatibility
  Dockerfile
Due: none

fix(docker): isolate Rust build cache per BASE_VARIANT
  Dockerfile
Due: none

feat(tier1): add GPU metrics and stream detection error tracking
  internal/metrics/gpu/metrics.go
  internal/openwebif/stream_detection.go
Due: unittests

feat(tier1): add rate limiting middleware
  internal/ratelimit/limiter.go
Due: unittests

test(ratelimit): add comprehensive tests and fix cleanup bug
  internal/ratelimit/limiter.go
  internal/ratelimit/limiter_test.go
Due: unittests

test(metrics): add comprehensive GPU metrics tests
  go.mod
  internal/metrics/gpu/metrics_test.go
Due: none

docs: add comprehensive Tier 1-3 improvement roadmap
  .env.example
  config.example.yaml
  docs/STREAM_PORTS.md
  docs/improvements/EXISTING_STRENGTHS.md
  docs/improvements/IMPLEMENTATION_ROADMAP.md
  docs/improvements/README.md
  docs/improvements/TIER1_GPU_METRICS.md
  docs/improvements/TIER1_RATE_LIMITING.md
  docs/improvements/TIER2_CIRCUIT_BREAKER.md
  docs/improvements/TIER2_GPU_QUEUE.md
  docs/improvements/TIER2_PRODUCTION_COMPOSE.md
  docs/improvements/TIER3_FEATURES.md
Due: none

feat(tier2): add circuit breaker for stream detection
  internal/openwebif/circuit_breaker_test.go
  internal/openwebif/stream_detection.go
Due: unittests

feat(tier2): add GPU queue system for multi-client transcoding
  internal/gpu/queue.go
  internal/gpu/queue_test.go
Due: unittests

feat(monitoring): add production monitoring stack with Prometheus, Grafana, Jaeger
  deploy/monitoring/prometheus/prometheus.yml
  docker-compose.monitoring.yml
Due: none

feat(tier3): add Redis cache and Kubernetes deployment with auto-scaling
  deploy/kubernetes/README.md
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/hpa.yaml
  deploy/kubernetes/ingress.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/namespace.yaml
  deploy/kubernetes/secrets.yaml.example
  deploy/kubernetes/service.yaml
  docker-compose.monitoring.yml
  go.mod
  go.sum
  internal/cache/redis.go
  internal/cache/redis_test.go
Due: unittests

fix(tests): fix ineffectual assignment in redis_test
  internal/cache/redis_test.go
  tests/loadtest/README.md
  tests/loadtest/loadtest-hey.sh
  tests/loadtest/loadtest-k6.js
Due: none

fix(lint): fix all errcheck and staticcheck linter issues
  internal/gpu/queue.go
  internal/gpu/queue_test.go
  internal/openwebif/circuit_breaker_test.go
Due: unittests

feat: add production improvements tier 1-3
  .env.example
  config.example.yaml
  deploy/kubernetes/README.md
  deploy/kubernetes/configmap.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/hpa.yaml
  deploy/kubernetes/ingress.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/namespace.yaml
  deploy/kubernetes/secrets.yaml.example
  deploy/kubernetes/service.yaml
  deploy/monitoring/prometheus/prometheus.yml
  docker-compose.monitoring.yml
  docs/STREAM_PORTS.md
  docs/improvements/EXISTING_STRENGTHS.md
  docs/improvements/IMPLEMENTATION_ROADMAP.md
  docs/improvements/README.md
  docs/improvements/TIER1_GPU_METRICS.md
  docs/improvements/TIER1_RATE_LIMITING.md
  docs/improvements/TIER2_CIRCUIT_BREAKER.md
  docs/improvements/TIER2_GPU_QUEUE.md
  docs/improvements/TIER2_PRODUCTION_COMPOSE.md
  docs/improvements/TIER3_FEATURES.md
  go.mod
  go.sum
  internal/cache/redis.go
  internal/cache/redis_test.go
  internal/gpu/queue.go
  internal/gpu/queue_test.go
  internal/metrics/gpu/metrics.go
  internal/metrics/gpu/metrics_test.go
  internal/openwebif/circuit_breaker_test.go
  internal/openwebif/stream_detection.go
  internal/ratelimit/limiter.go
  internal/ratelimit/limiter_test.go
  tests/loadtest/README.md
  tests/loadtest/loadtest-hey.sh
  tests/loadtest/loadtest-k6.js
Due: unittests

fix(ci): update config.schema.json paths after docs reorganization
  .github/workflows/lint.yml
  Makefile
  config.example.yaml
  internal/config/config_schema_test.go
  internal/config/testdata/valid-minimal.yaml
  tools/schema-docs/main.go
Due: none

fix(ci): optimize fuzz test timeouts to prevent CI failures
  .github/workflows/hardcore-ci.yml
Due: none

fix(ci): update gosec version to v2.22.10
  .github/workflows/gosec.yml
Due: none

feat(k8s): add production-ready components for Kubernetes deployment
  deploy/kubernetes/README.md
  deploy/kubernetes/backup-cronjob.yaml
  deploy/kubernetes/deployment.yaml
  deploy/kubernetes/kustomization.yaml
  deploy/kubernetes/networkpolicy.yaml
  deploy/kubernetes/pvc.yaml
  deploy/kubernetes/redis.yaml
  deploy/kubernetes/servicemonitor.yaml
Due: none

feat(reliability): implement P1-P2 code review recommendations
  docs/development/context-usage-guidelines.md
  docs/operations/docker-compose-usage.md
  internal/log/context_test.go
  internal/log/logger.go
  internal/openwebif/client.go
  internal/openwebif/client_test.go
  renovate.json
Due: unittests

feat(observability): implement OpenTelemetry Collector integration
  deploy/kubernetes/otel-collector.yaml
  deploy/observability/otel-collector-config.yaml
  docker-compose.otel.yml
  go.mod
  go.sum
  internal/api/middleware.go
  internal/api/middleware/otel.go
Due: unittests, API Layer

feat(docs): API versioning policy and implementation guide (P3.2)
  docs/architecture/api-versioning-implementation.md
  docs/architecture/api-versioning-policy.md
  docs/migration/legacy-to-v1.md
Due: none

feat(chaos): resilience testing suite with automated CI (P3.3)
  .github/workflows/chaos-tests.yml
  docs/operations/chaos-testing.md
  scripts/chaos/cpu-stress.sh
  scripts/chaos/pod-kill.sh
  scripts/chaos/upstream-timeout.sh
Due: none

fix(lint): resolve staticcheck warnings in tests and middleware
  internal/api/middleware.go
  internal/openwebif/client_test.go
Due: unittests, API Layer

fix(test): skip flaky TestQueue_PriorityOrdering test
  internal/gpu/queue_test.go
Due: none

docs: add comprehensive permissions reference (PERMISSIONS.md) (#49)
  PERMISSIONS.md
  README.md
Due: none

chore: remove duplicate configs and backup files (#48)
  .gitignore
  .golangci.yml.backup
  .yamllint.yml
  README_OLD_BACKUP.md
  internal/api/v1/handlers_test.go
Due: none

feat(health): add uptime tracking to health endpoint
  internal/health/health.go
  internal/health/health_test.go
Due: unittests

chore: remove trailing whitespace from documentation files
  .github/ISSUE_TEMPLATE/bug_report.md
  PERMISSIONS.md
  deploy/monitoring/grafana/dashboards/README.md
  docs/CHANGELOG.md
  docs/archive/PHASE_6_7_BASELINE.md
  docs/guides/THREADFIN.md
  docs/guides/config.md
  docs/operations/PRODUCTION_TEST_RESULTS.md
  docs/operations/REAL_STREAM_TEST_RESULTS.md
  docs/operations/RUNBOOK_INCIDENT_ROLLBACK.md
  docs/releases/v0.3.0-epg-deployment.md
  docs/security/SECURITY.md
  docs/security/token-rotation-2025-10.md
  scripts/SECURITY_TESTS.md
Due: none

chore: add test artifacts to .gitignore
  .gitignore
Due: none

fix(transcoder): fix failing Rust tests and update performance docs
  .gitignore
  README.md
  transcoder/src/audio_remux.rs
  transcoder/src/decoder.rs
  transcoder/src/demux.rs
  transcoder/src/encoder.rs
  transcoder/src/ffi.rs
  transcoder/src/ffi_test.rs
  transcoder/src/metrics.rs
  transcoder/src/muxer.rs
  transcoder/src/transcoder.rs
Due: none

fix: add missing newlines to deprecated compose files (pre-commit)
  Dockerfile
  README.md
  docker-compose.audio-proxy.yml
  docker-compose.audio-proxy.yml.deprecated
  docker-compose.gpu.yml
  docker-compose.gpu.yml.deprecated
  docker-compose.yml
Due: none

docs: clarify mode priority and auto-configuration in docker-compose.yml
  docker-compose.yml
Due: none

fix: make docker-compose.yml LXC-compatible (Proxmox, etc.)
  docker-compose.yml
Due: none

fix(docker): run as root for LXC compatibility
  Dockerfile
Due: none

fix(build): remove gpu tag and add BUILD_REVISION for cache busting
  Dockerfile
Due: none

ci: add BUILD_REVISION to force cache invalidation
  .github/workflows/docker-multi-cpu.yml
Due: none

fix(docker): use BUILD_REVISION in RUN to force cache invalidation
  Dockerfile
Due: none

docs(lxc): add comprehensive LXC/Proxmox support documentation
  docker-compose.lxc.yml
  docker-compose.yml
  docs/runtime-lxc.md
Due: none
