Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

proxy: add structured errors and tests
  internal/proxy/errors.go
  internal/proxy/errors_test.go
Due: unittests, Stream Proxy

api: refine rate limit middleware and tests
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
Due: unittests, API Layer

metrics: add stream telemetry metrics
  internal/metrics/streaming.go
Due: unittests

web: clean dist assets after WebUI rebuild
  internal/api/dist/assets/index-BEEqRsqx.js
  internal/api/dist/assets/index-DQrFKGOw.css
  internal/api/dist/assets/index-DnkYwVar.js
  internal/api/dist/assets/index-T85dRDwt.css
  internal/api/dist/index.html
Due: unittests, API Layer

test: align unit/contract/integration tests with config and readiness changes
  internal/config/config_strict_test.go
  internal/health/health_test.go
  test/contract/jobs_contract_test.go
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
Due: none

config: remove legacy/deprecated config paths and add UPGRADE guide
  docs/UPGRADE.md
  internal/config/deprecations.go
  internal/config/deprecations_test.go
  internal/config/legacy_yaml.go
Due: unittests

fix(hdhr): change default to disabled for security (opt-in not opt-out)
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
  test/contract/api_contract_test.go
  test/contract/hdhr_contract_test.go
Due: unittests

chore: fix golangci-lint findings
  cmd/daemon/main.go
  internal/api/http_test.go
  internal/api/server_impl.go
  internal/config/config.go
  internal/dvr/scheduler_test.go
  internal/fsutil/confinement_test.go
  internal/health/health.go
  internal/validation/startup.go
  test/contract/hdhr_contract_test.go
Due: unittests, API Layer

docs: document DVR conflict detection as intentionally deferred work
  docs/TROUBLESHOOTING.md
  internal/dvr/engine.go
Due: unittests

docs: note deterministic config snapshots
  CHANGELOG.md
Due: none

docs: add runbook, observability and production readiness review
  docs/OBSERVABILITY.md
  docs/PRODUCTION_READINESS_REVIEW_2025-12-18.md
  docs/RUNBOOK.md
Due: none

config: freeze runtime env at load/reload (deterministic snapshots)
  cmd/daemon/main.go
  internal/api/config_reload.go
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/middleware.go
  internal/api/middleware/csrf.go
  internal/config/config.go
  internal/config/env.go
  internal/config/reload.go
  internal/config/reload_test.go
  internal/config/runtime_env.go
  internal/config/snapshot.go
  internal/daemon/bootstrap.go
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
  internal/jobs/refresh_integration_test.go
  internal/jobs/refresh_test.go
  internal/log/logger.go
  test/contract/jobs_contract_test.go
  test/integration/api_fast_test.go
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
  test/load/load_test.go
Due: unittests, Daemon, API Layer

P2/P2.5: Hardening + Observability (procgroups, picon pool, stream lifecycle metrics)
  .github/workflows/lint.yml
  cmd/daemon/main.go
  docs/SECURITY.md
  docs/SECURITY_INVARIANTS.md
  internal/api/fileserver.go
  internal/api/fileserver_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/middleware.go
  internal/api/middleware/cors.go
  internal/api/middleware/csrf.go
  internal/api/middleware/csrf_test.go
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
  internal/api/middleware/recovery.go
  internal/api/middleware/request_id.go
  internal/api/middleware_test.go
  internal/api/server_impl.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/runtime_env.go
  internal/daemon/manager.go
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
  internal/jobs/picon_pool.go
  internal/jobs/picons.go
  internal/jobs/refresh.go
  internal/log/logger.go
  internal/metrics/business.go
  internal/procgroup/procgroup_linux_test.go
  internal/procgroup/procgroup_unix.go
  internal/procgroup/procgroup_windows.go
  internal/procgroup/shutdown.go
  internal/proxy/hls.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  internal/proxy/safari_dvr_profile.go
  internal/proxy/transcoder.go
Due: unittests, Daemon, API Layer, Stream Proxy

proxy: harden HLS/Safari DVR shutdown
  internal/proxy/hls.go
  internal/proxy/safari_dvr_profile.go
  internal/proxy/safari_dvr_test.go
Due: unittests, Stream Proxy

auth: centralize token extraction and compare
  internal/api/auth.go
  internal/api/security_utils.go
  internal/auth/token.go
  internal/auth/token_test.go
Due: unittests, API Layer

ingress: canonical stack; harden proxy auth/SSRF
  internal/api/errors.go
  internal/api/http.go
  internal/api/metrics.go
  internal/api/middleware/metrics.go
  internal/api/middleware/security_headers.go
  internal/api/middleware/stack.go
  internal/api/middleware/tracing.go
  internal/api/middleware/tracing_test.go
  internal/log/logger.go
  internal/proxy/idle_test.go
  internal/proxy/proxy.go
  internal/proxy/proxy_bench_test.go
  internal/proxy/proxy_edge_cases_test.go
  internal/proxy/proxy_race_test.go
  internal/proxy/proxy_test.go
Due: unittests, API Layer, Stream Proxy

daemon: centralize lifecycle orchestration
  cmd/daemon/config_cmd.go
  cmd/daemon/main.go
  internal/config/config_test.go
  internal/daemon/app.go
  internal/daemon/bootstrap.go
  internal/daemon/bootstrap_test.go
  internal/daemon/deps.go
  internal/daemon/errors.go
  internal/daemon/manager.go
  internal/dvr/scheduler_test.go
  internal/jobs/picon_pool.go
Due: unittests, Daemon

ci/docs: enforce env-access tripwire
  .github/workflows/lint.yml
  docs/SECURITY_INVARIANTS.md
Due: none

test: add targeted goleak checks
  go.mod
  internal/daemon/manager_test.go
  internal/proxy/goleak_test.go
Due: none

chore: remove legacy transcoder dockerfile and dependabot config
  .github/dependabot.yml
  transcoder/Dockerfile
Due: none

chore: remove .claude config and update CI base image
  .github/workflows/ci-v2.yml
Due: none

proxy: capability-based routing and readiness
  cmd/daemon/main.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/proxy/handlers.go
  internal/proxy/hls.go
  internal/proxy/hls_helper.go
  internal/proxy/ll_hls_profile.go
  internal/proxy/proxy.go
  internal/proxy/safari_dvr_profile.go
Due: unittests, Daemon, Stream Proxy

test(proxy): lock capability routing
  internal/proxy/handlers_test.go
  internal/proxy/hls_helper_test.go
  internal/proxy/hls_start_test.go
  internal/proxy/safari_dvr_test.go
Due: none

docs: streaming routing notes and ADRs
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  docs/adr/001-api-versioning.md
  docs/adr/002-config-precedence.md
  docs/adr/003-validation-package.md
  docs/adr/004-opentelemetry.md
  docs/adr/README.md
Due: none

proxy: add bounded routing telemetry
  internal/metrics/streaming.go
  internal/proxy/handlers.go
Due: unittests, Stream Proxy

test(proxy): assert routing precedence
  internal/proxy/handlers_test.go
Due: none

proxy: normalize routing default reason
  internal/proxy/handlers.go
  internal/proxy/handlers_test.go
Due: unittests, Stream Proxy

api: warm up HLS during stream preflight
  internal/api/http.go
  internal/api/http_test.go
Due: unittests, API Layer

feat: canary critical fixes (preflight, observability, hardening)
  cmd/daemon/main.go
  internal/api/http.go
  internal/config/runtime_env.go
  internal/metrics/streaming.go
  internal/openwebif/client.go
  internal/openwebif/mock_server.go
  internal/proxy/handlers.go
  internal/proxy/hls.go
  internal/proxy/hls_helper.go
  internal/proxy/hls_helper_test.go
  internal/proxy/ll_hls_profile.go
  internal/proxy/proxy.go
  internal/proxy/ready_check.go
  internal/proxy/safari_dvr_profile.go
  internal/proxy/safari_dvr_test.go
  scripts/verify-web-startup.sh
Due: unittests, API Layer, Stream Proxy

chore: remove unused hls helper code
  internal/proxy/hls_helper.go
Due: unittests, Stream Proxy

feat(v3): core architecture foundation (docs/model/store)
  design/v3_fsm.md
  design/v3_vision.md
  go.mod
  go.sum
  internal/v3/bus/bus.go
  internal/v3/bus/memory_bus.go
  internal/v3/fsm/fsm.go
  internal/v3/model/enums.go
  internal/v3/model/events.go
  internal/v3/store/badger_store.go
  internal/v3/store/memory_store.go
  internal/v3/store/store.go
Due: unittests

docs(v3): add known risks and 2026 requirements to vision
  design/v3_vision.md
Due: none

v3: Core Architecture & Docs (#110)
  design/v3_fsm.md
  design/v3_vision.md
  go.mod
  go.sum
  internal/v3/bus/bus.go
  internal/v3/bus/memory_bus.go
  internal/v3/fsm/fsm.go
  internal/v3/model/enums.go
  internal/v3/model/events.go
  internal/v3/store/badger_store.go
  internal/v3/store/memory_store.go
  internal/v3/store/store.go
Due: unittests

v3: add skeleton (fsm/store/bus/api)
  Makefile
  go.mod
  internal/v3/api/intent_handler.go
  internal/v3/api/state_handler.go
  internal/v3/api/types.go
  internal/v3/origin/handler.go
  internal/v3/worker/orchestrator.go
Due: unittests

feat(v3): add worker and api implementation aligned with core
  Makefile
  go.mod
  internal/v3/api/intent_handler.go
  internal/v3/api/state_handler.go
  internal/v3/api/types.go
  internal/v3/bus/memory_bus.go
  internal/v3/worker/orchestrator.go
Due: unittests

test(v3): add phase 6b integration flow tests
  internal/v3/integration/flow_test.go
  internal/v3/store/memory_store.go
Due: unittests

fix(v3): document at-most-once lease behavior in orchestrator
  internal/v3/worker/orchestrator.go
Due: unittests

fix(v3): use correct context for heartbeat renewal
  internal/v3/worker/orchestrator.go
Due: unittests

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
