Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

fix: add missing verify:client-wrapper npm script
  webui/package.json
Due: none

test(webui): align live intent tests with explicit engine availability
  webui/src/components/V3Player.serviceRef.test.tsx
  webui/tests/V3Player.seal.test.tsx
  webui/tests/contracts/v3player.intent-keys.contract.test.tsx
Due: none

fix(webui): move client wrapper outside generated client-ts dir
  webui/scripts/verify-client-wrapper-boundary.sh
  webui/src/components/V3Player.tsx
  webui/src/context/AppContext.tsx
  webui/src/features/resume/api.ts
  webui/src/lib/clientWrapper.test.ts
  webui/src/lib/clientWrapper.ts
Due: none

fix(ci): unblock PR gate and config duration defaults
  cmd/configgen/main.go
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  internal/api/http_preparing_test.go
  internal/app/bootstrap/vod_path_test.go
  internal/config/merge_env.go
  internal/config/merge_file.go
  internal/config/registry.go
  internal/config/types.go
Due: unittests

fix(configgen): write schema JSON with trailing newline
  cmd/configgen/main.go
Due: none

chore: consolidate minor fixes and updates
  CHANGELOG_V3.md
  VERSION
  internal/api/server_bootstrap.go
  internal/api/server_routes_wiring.go
  internal/api/server_v3_override_wiring.go
  internal/app/bootstrap/vod_path_test.go
  internal/control/http/v3/auth_invariant_test.go
  internal/control/http/v3/handlers_epg.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_playback_info_test.go
  internal/control/http/v3/recordings_contract_test.go
  internal/control/http/v3/recordings_status_test.go
  internal/control/http/v3/router_v3_ports.go
  internal/control/http/v3/router_v3_routes_sessions_streams.go
  internal/control/http/v3/sessions_heartbeat.go
  internal/control/http/v3/sessions_heartbeat_wrapper.go
  internal/control/playback/decision_engine_truth_test.go
  internal/control/playback/engine.go
  internal/control/playback/types.go
  internal/control/read/epg.go
  internal/control/recordings/duration_truth_test.go
  internal/control/recordings/manager.go
  internal/control/recordings/resolver.go
  internal/control/recordings/service.go
  internal/control/recordings/service_test.go
  internal/control/recordings/service_truth_test.go
  internal/control/recordings/truth.go
  internal/control/recordings/truth_test.go
  internal/control/recordings/validation.go
  webui/src/components/V3Player.serviceRef.test.tsx
  webui/src/components/V3Player.tsx
  webui/src/features/epg/EPG.module.css
  webui/src/locales/de.json
  webui/src/locales/en.json
  webui/src/types/v3-player.ts
Due: unittests, API Layer

feat(recordings): restore blocked-preparing semantics + harden probe orchestration boundary
  CHANGELOG_V3.md
  docs/ops/DURATION_TRUTH.md
  docs/ops/OBSERVABILITY.md
  docs/ops/SLOS.md
  internal/control/http/v3/handlers_client_playbackinfo.go
  internal/control/http/v3/handlers_hls_serving.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_live_playback_info.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_playback_info_contract_test.go
  internal/control/http/v3/handlers_playback_info_test.go
  internal/control/http/v3/handlers_playback_slo_contract_test.go
  internal/control/http/v3/http_response_capturer.go
  internal/control/http/v3/intent_error_mapping.go
  internal/control/http/v3/playback_slo_tracker.go
  internal/control/http/v3/playback_slo_tracker_test.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/recordings_hls.go
  internal/control/http/v3/server.go
  internal/control/http/v3/server_modules.go
  internal/control/playback/types.go
  internal/control/recordings/resolver.go
  internal/control/recordings/truth.go
  internal/control/recordings/truth_table_test.go
  internal/control/recordings/truth_test.go
  internal/metrics/playback_slo.go
  internal/metrics/playback_slo_gate_test.go
  internal/metrics/playback_slo_test.go
  internal/metrics/recordings_preparing.go
  internal/metrics/recordings_preparing_test.go
Due: unittests

test(v3): harden preparing contract smoke assertions
  internal/control/http/v3/handlers_playback_info_contract_test.go
Due: none

feat(recordings): restore blocked-preparing semantics + harden probe orchestration boundary (#255)
  CHANGELOG_V3.md
  docs/ops/DURATION_TRUTH.md
  docs/ops/OBSERVABILITY.md
  docs/ops/SLOS.md
  internal/control/http/v3/handlers_client_playbackinfo.go
  internal/control/http/v3/handlers_hls_serving.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_live_playback_info.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_playback_info_contract_test.go
  internal/control/http/v3/handlers_playback_info_test.go
  internal/control/http/v3/handlers_playback_slo_contract_test.go
  internal/control/http/v3/http_response_capturer.go
  internal/control/http/v3/intent_error_mapping.go
  internal/control/http/v3/playback_slo_tracker.go
  internal/control/http/v3/playback_slo_tracker_test.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/recordings_hls.go
  internal/control/http/v3/server.go
  internal/control/http/v3/server_modules.go
  internal/control/playback/types.go
  internal/control/recordings/resolver.go
  internal/control/recordings/truth.go
  internal/control/recordings/truth_table_test.go
  internal/control/recordings/truth_test.go
  internal/metrics/playback_slo.go
  internal/metrics/playback_slo_gate_test.go
  internal/metrics/playback_slo_test.go
  internal/metrics/recordings_preparing.go
  internal/metrics/recordings_preparing_test.go
Due: unittests

fix(sec-02): redact credentials from stream URL logs
  internal/pipeline/exec/enigma2/client_ext.go
  internal/platform/net/url_test.go
Due: unittests

fix(sec-06): remove per-handler CORS wildcard, use central middleware
  internal/api/http_test.go
  internal/control/http/v3/recordings_resume.go
  internal/control/http/v3/routes_compat.go
Due: unittests

fix(sec-05): disable legacy token sources by default
  internal/api/http_test.go
  internal/config/registry.go
  internal/control/auth/token.go
  internal/control/auth/token_test.go
  internal/control/http/v3/auth_test.go
  test/helpers/request.go
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
Due: unittests

fix(sec-04): bind metrics endpoint to localhost by default
  internal/app/bootstrap/bootstrap.go
  internal/app/bootstrap/bootstrap_test.go
  internal/app/bootstrap/wiring_test.go
Due: unittests

fix(sec-01): warn on cleartext token auth, enforce HSTS+secure cookies with TLS
  internal/app/bootstrap/bootstrap.go
  internal/app/bootstrap/bootstrap_test.go
  internal/app/bootstrap/wiring_test.go
  internal/control/http/v3/auth_test.go
  internal/control/middleware/security_headers.go
  internal/control/middleware/security_headers_test.go
  internal/daemon/manager.go
  internal/daemon/manager_test.go
Due: unittests, Daemon

fix(sec-03): use opaque session IDs in cookies, store token server-side
  internal/api/integration_test.go
  internal/control/auth/session_store.go
  internal/control/auth/session_store_test.go
  internal/control/auth/token.go
  internal/control/auth/token_test.go
  internal/control/http/v3/auth.go
  internal/control/http/v3/auth_test.go
  internal/control/http/v3/contract_v3_test.go
  internal/control/http/v3/rbac.go
  internal/control/http/v3/security.go
  internal/control/http/v3/server.go
Due: unittests

fix(con-04): use write lock in watchdog check() to prevent state mutation race
  internal/media/ffmpeg/watchdog/watchdog.go
  internal/media/ffmpeg/watchdog/watchdog_test.go
Due: unittests

fix(con-05,trn-01): kill stalled FFmpeg deterministically on watchdog timeout
  internal/infra/ffmpeg/runner.go
  internal/infra/ffmpeg/runner_test.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_lifecycle_test.go
Due: unittests

fix(con-06): attach scan lifecycle to daemon context with shutdown join
  internal/app/bootstrap/bootstrap.go
  internal/daemon/manager_runtime_hooks_test.go
  internal/daemon/manager_v3_worker.go
  internal/pipeline/scan/manager.go
  internal/pipeline/scan/manager_lifecycle_test.go
Due: unittests, Daemon

fix(err-01): map timer errors to typed sentinels, eliminate consumer string matching
  internal/openwebif/timer_errors.go
  internal/openwebif/timer_errors_test.go
Due: unittests

fix(qlt-02): fix golangci-lint configuration for current toolchain
  internal/control/http/v3/auth.go
  internal/infra/ffmpeg/runner.go
  internal/pipeline/api/intent_handler.go
  internal/pipeline/api/state_handler.go
Due: unittests

fix(trn-02): classify client disconnects, suppress false success metrics
  internal/control/http/v3/handlers_playback_disconnect_test.go
  internal/control/http/v3/playback_copy_errors.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/recordings_hls.go
Due: unittests

fix(trn-03): add runtime GPU failure demotion with automatic CPU fallback
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_vaapi_runtime_test.go
  internal/pipeline/hardware/gpu.go
  internal/pipeline/hardware/gpu_test.go
Due: unittests

refactor(qlt-03): reduce cyclomatic complexity in validation, intents, bootstrap
  internal/app/bootstrap/bootstrap.go
  internal/app/bootstrap/bootstrap_metrics_addr_test.go
  internal/config/validation.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/handlers_intents_dispatch_test.go
Due: unittests

docs: add full-stack audit findings 2026-02-28
  XG2G_FULLSTACK_AUDIT_2026-02-28.md
Due: none

refactor(v3-split-01): introduce IntentDeps interface in server_modules
  internal/control/http/v3/server_modules.go
Due: unittests

refactor(v3-split-02): extract intents service into own package
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/intents/deps.go
  internal/control/http/v3/intents/service.go
  internal/control/http/v3/intents/types.go
  internal/control/http/v3/intents_adapter.go
  internal/control/http/v3/server.go
Due: unittests

test(v3-split-03): add characterization + unit tests for extracted intents module
  internal/control/http/v3/handlers_intents_dispatch_test.go
  internal/control/http/v3/intents/service_test.go
Due: none

ci(v3-split-04): add fan-out regression gate for control/http/v3
  Makefile
  scripts/check-fanout.sh
Due: none

refactor(v3-split-05): introduce RecordingsDeps interface in server_modules
  internal/control/http/v3/server_modules.go
Due: unittests

refactor(v3-split-06): extract recordings service
  internal/control/http/v3/handlers_client_playbackinfo.go
  internal/control/http/v3/recordings/deps.go
  internal/control/http/v3/recordings/service.go
  internal/control/http/v3/recordings/types.go
  internal/control/http/v3/recordings_service_adapter.go
  internal/control/http/v3/server.go
Due: unittests

test(v3-split-07): add characterization + unit tests for recordings module
  internal/control/http/v3/handlers_client_playbackinfo_test.go
  internal/control/http/v3/recordings/service_test.go
Due: none

ci(v3-split-08): tighten fan-out gate after recordings extraction
  scripts/check-fanout.sh
Due: none

fix(v3): remove orphaned codec prefs helpers from v3 root
  internal/control/http/v3/codec_prefs.go
  internal/control/http/v3/codec_prefs_test.go
Due: unittests

fix(ci): unblock token-url gate and phase4 guardrail concurrency
  .github/workflows/phase4-guardrails.yml
  internal/platform/net/url_test.go
Due: none

chore(config): regenerate config surfaces for legacy token default
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
Due: none

fix(ci): track executable bit for check-fanout script
  scripts/check-fanout.sh
Due: none

fix(ci): avoid gate-a false positive for control session invalidation
  internal/control/auth/session_store.go
  internal/control/auth/session_store_test.go
  internal/control/http/v3/auth.go
Due: unittests

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
