Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

governance: fail closed on empty PR delta (#204)
  .github/workflows/pr-required-gates.yml
  scripts/ci/check-empty-delta.sh
Due: none

obs(decision): expose decision summary fields
  internal/decision/summary.go
Due: unittests

obs(adapter): log decision input/output summary
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

test(obs): assert decision summary fields
  internal/decision/engine_test.go
Due: none

obs(codec): add decision summary fields and structured planner log (#205)
  internal/decision/engine_test.go
  internal/decision/summary.go
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

security hardening: csrf/auth gates, host trust model, proxy/hls fixes
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/middleware.go
  internal/api/middleware/csrf.go
  internal/api/middleware/csrf_test.go
  internal/api/ui.html
  internal/api/webui.go
  internal/api/webui_test.go
  internal/proxy/hls.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  webui/src/components/Channels.jsx
  webui/src/components/Files.jsx
Due: unittests, API Layer, Stream Proxy

metrics(decision): add decision summary counter
  internal/infra/media/ffmpeg/adapter.go
  internal/metrics/decision.go
Due: unittests

test(metrics): cover decision summary counter labels
  internal/metrics/decision_test.go
Due: none

Revert "security hardening: csrf/auth gates, host trust model, proxy/hls fixes"
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/middleware.go
  internal/api/middleware/csrf.go
  internal/api/middleware/csrf_test.go
  internal/api/ui.html
  internal/api/webui.go
  internal/api/webui_test.go
  internal/proxy/hls.go
  internal/proxy/proxy.go
  internal/proxy/proxy_test.go
  webui/src/components/Channels.jsx
  webui/src/components/Files.jsx
Due: unittests, API Layer, Stream Proxy

security: normalize csrf origins and harden token compare
  internal/control/auth/token.go
  internal/control/auth/token_test.go
  internal/control/middleware/csrf.go
  internal/control/middleware/csrf_test.go
Due: unittests

security hardening: csrf/auth gates, host trust model, proxy/hls fixes (#206)
  internal/control/auth/token.go
  internal/control/auth/token_test.go
  internal/control/middleware/csrf.go
  internal/control/middleware/csrf_test.go
Due: unittests

metrics: normalize decision labels to unknown and harden tests
  internal/metrics/decision.go
  internal/metrics/decision_test.go
Due: unittests

ops: add pre-push sanity guard for shared worktrees
  .gitignore
  .pre-commit-config.yaml
  WORKFLOW.md
  scripts/pre-push-sanity.sh
Due: none

chore(config): regenerate config surfaces
  docs/guides/CONFIG_SURFACES.md
Due: none

ops: add pre-push sanity guard for shared worktrees (#208)
  .gitignore
  .pre-commit-config.yaml
  WORKFLOW.md
  docs/guides/CONFIG_SURFACES.md
  scripts/pre-push-sanity.sh
Due: none

hardening: session lifecycle joins, timer error typing, and config env validation
  docs/guides/config.schema.json
  internal/api/server_refresh.go
  internal/config/alias_conflict.go
  internal/config/deprecations.go
  internal/config/env.go
  internal/config/env_validation.go
  internal/config/env_validation_test.go
  internal/config/guardrail.go
  internal/config/guardrail_test.go
  internal/config/loader.go
  internal/config/reload.go
  internal/config/removed_env.go
  internal/config/runtime_env.go
  internal/config/snapshot.go
  internal/control/http/v3/contract_v3_dvr_add_timer_test.go
  internal/control/http/v3/contract_v3_dvr_delete_timer_test.go
  internal/control/http/v3/contract_v3_dvr_update_timer_test.go
  internal/control/http/v3/handlers_config.go
  internal/control/http/v3/handlers_timers.go
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/manager/session_registry.go
  internal/domain/session/manager/session_registry_test.go
  internal/openwebif/client.go
  internal/openwebif/errors.go
  internal/openwebif/timer_errors.go
  internal/types/feature_flags.go
  internal/types/feature_flags_test.go
Due: unittests, Daemon, API Layer

build: align make toolchain with go.mod and refresh config surfaces
  Makefile
  docs/guides/CONFIG_SURFACES.md
  docs/guides/config.schema.json
Due: none

config: remove unused env helper to satisfy lint gate
  internal/config/env.go
Due: unittests

hardening: sprint 2/3 completion with lifecycle, timer errors, and config foundation (#209)
  Makefile
  docs/guides/CONFIG_SURFACES.md
  docs/guides/config.schema.json
  internal/api/server_refresh.go
  internal/config/alias_conflict.go
  internal/config/deprecations.go
  internal/config/env.go
  internal/config/env_validation.go
  internal/config/env_validation_test.go
  internal/config/guardrail.go
  internal/config/guardrail_test.go
  internal/config/loader.go
  internal/config/reload.go
  internal/config/removed_env.go
  internal/config/runtime_env.go
  internal/config/snapshot.go
  internal/control/http/v3/contract_v3_dvr_add_timer_test.go
  internal/control/http/v3/contract_v3_dvr_delete_timer_test.go
  internal/control/http/v3/contract_v3_dvr_update_timer_test.go
  internal/control/http/v3/handlers_config.go
  internal/control/http/v3/handlers_timers.go
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/manager/session_registry.go
  internal/domain/session/manager/session_registry_test.go
  internal/openwebif/client.go
  internal/openwebif/errors.go
  internal/openwebif/timer_errors.go
  internal/types/feature_flags.go
  internal/types/feature_flags_test.go
Due: unittests, Daemon, API Layer

refactor: split API bootstrap and remove dead pipeline exec adapter layer
  docs/ADR/003-transcoder-infrastructure-migration.md
  internal/api/server_bootstrap.go
  internal/api/server_new.go
  internal/pipeline/exec/interfaces.go
  internal/pipeline/exec/real_factory.go
  internal/pipeline/exec/stubs.go
  internal/pipeline/exec/transcoder_adapter.go
Due: unittests, API Layer

refactor: consolidate v3 runtime wiring via dependency contract
  cmd/daemon/main.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/server_bootstrap.go
  internal/api/server_new.go
  internal/api/server_v3_wiring.go
  internal/daemon/deps.go
  internal/daemon/manager.go
Due: unittests, Daemon, API Layer

refactor: split legacy API route wiring into focused builders
  internal/api/server_routes.go
  internal/api/server_routes_wiring.go
Due: unittests, API Layer

refactor: inject media pipeline into daemon manager
  cmd/daemon/main.go
  cmd/daemon/pipeline_wiring.go
  internal/daemon/deps.go
  internal/daemon/errors.go
  internal/daemon/manager.go
Due: unittests, Daemon

refactor: split daemon v3 worker bootstrap into focused steps
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

refactor: split api system handlers into focused modules
  internal/api/handlers_setup_validate.go
  internal/api/handlers_system.go
  internal/api/handlers_xmltv.go
Due: unittests, API Layer

refactor: split api v3 wiring into runtime and override modules
  internal/api/server_v3_override_wiring.go
  internal/api/server_v3_runtime_wiring.go
  internal/api/server_v3_wiring_types.go
Due: unittests, API Layer

refactor: extract legacy HTTP routes into dedicated package
  internal/api/handlers_test.go
  internal/api/server_legacy_runtime.go
  internal/api/server_routes.go
  internal/api/server_routes_legacy.go
  internal/control/http/legacy/handlers_lineup.go
  internal/control/http/legacy/handlers_picons.go
  internal/control/http/legacy/handlers_xmltv.go
  internal/control/http/legacy/picons_security_test.go
  internal/control/http/legacy/routes.go
  internal/control/http/legacy/runtime.go
Due: unittests, API Layer

refactor: move system handlers out of api package
  internal/api/handlers_setup_validate.go
  internal/api/handlers_system.go
  internal/api/server_routes_wiring.go
  internal/control/http/system/health.go
  internal/control/http/system/setup_validate.go
Due: unittests, API Layer

refactor: decouple v3 compatibility routes and harden deprecation gates
  Makefile
  internal/api/server_routes.go
  internal/api/server_routes_wiring.go
  internal/control/http/legacy/deprecation_test.go
  internal/control/http/legacy/routes.go
  internal/control/http/v3/routes_compat.go
Due: unittests, API Layer

breaking: remove legacy HTTP endpoint surface
  internal/api/handlers_test.go
  internal/api/http_test.go
  internal/api/server_legacy_runtime.go
  internal/api/server_routes.go
  internal/control/http/legacy/deprecation_test.go
  internal/control/http/legacy/handlers_lineup.go
  internal/control/http/legacy/handlers_picons.go
  internal/control/http/legacy/handlers_xmltv.go
  internal/control/http/legacy/picons_security_test.go
  internal/control/http/legacy/routes.go
  internal/control/http/legacy/runtime.go
Due: unittests, API Layer

chore: sync generated config surfaces
  docs/guides/CONFIG_SURFACES.md
Due: none

chore(api): remove dead route wiring helpers
  internal/api/server_paths.go
  internal/api/server_routes_wiring.go
Due: unittests, API Layer

breaking: sprint 4 step 1-11 - remove legacy HTTP surface (#210)
  Makefile
  cmd/daemon/main.go
  cmd/daemon/pipeline_wiring.go
  docs/ADR/003-transcoder-infrastructure-migration.md
  docs/guides/CONFIG_SURFACES.md
  internal/api/handlers_hdhr.go
  internal/api/handlers_picons.go
  internal/api/handlers_system.go
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/picons_security_test.go
  internal/api/server_bootstrap.go
  internal/api/server_new.go
  internal/api/server_paths.go
  internal/api/server_routes.go
  internal/api/server_routes_legacy.go
  internal/api/server_routes_wiring.go
  internal/api/server_v3_override_wiring.go
  internal/api/server_v3_runtime_wiring.go
  internal/api/server_v3_wiring.go
  internal/api/server_v3_wiring_types.go
  internal/control/http/system/health.go
  internal/control/http/system/setup_validate.go
  internal/control/http/v3/routes_compat.go
  internal/daemon/deps.go
  internal/daemon/errors.go
  internal/daemon/manager.go
  internal/daemon/manager_v3_worker.go
  internal/pipeline/exec/interfaces.go
  internal/pipeline/exec/real_factory.go
  internal/pipeline/exec/stubs.go
  internal/pipeline/exec/transcoder_adapter.go
Due: unittests, Daemon, API Layer

metrics: add decision.summary counters (#207)
  internal/infra/media/ffmpeg/adapter.go
  internal/metrics/decision.go
  internal/metrics/decision_test.go
Due: unittests

feat(codec): client codec negotiation + best-profile selection (#184)
  internal/infra/media/ffmpeg/adapter.go
  webui/src/components/V3Player.tsx
Due: unittests

security: redact credentials from receiver URLs in logs
  internal/core/urlutil/urlutil_test.go
Due: none

Truth hygiene: HLS allowlist + layering scorecard (#177)
  docs/arch/ARCHITECTURE.md
  internal/control/http/v3/recordings/hls_helpers.go
  internal/control/http/v3/recordings/validation.go
  internal/control/http/v3/recordings/validation_test.go
  internal/validate/imports_test.go
Due: unittests

test(urlutil): avoid denylisted auth-like query key
  internal/core/urlutil/urlutil_test.go
Due: none

chore(ci): remove transient test artifacts from branch
  test_output.log
  test_results.log
  vuln_full.txt
Due: none

fix(daemon): resolve leftover merge markers in manager
  internal/daemon/manager.go
Due: unittests, Daemon

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
