Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

chore(security): strict errcheck and adapter nosec justification
  .golangci.yml
  docs/review/walkthrough.md
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

chore: finalize docs hardening and architecture gates
  Makefile
  cmd/v3probe/main.go
  docs/review/task.md
  docs/review/walkthrough.md
  internal/api/middleware.go
  internal/config/config.go
  internal/config/deprecations.go
  internal/config/reload.go
  internal/control/http/v3/handlers_epg.go
  internal/control/http/v3/handlers_services.go
  internal/control/http/v3/server.go
  internal/control/playback/engine.go
  internal/control/recordings/service.go
  internal/control/recordings/validation.go
  internal/epg/id.go
  internal/epg/xmltv.go
  internal/jobs/refresh.go
  internal/jobs/slugify.go
  scripts/ci_gate_webui_audit.sh
Due: unittests, API Layer, EPG Module

fix: restore CI integrity and API consistency
  Makefile
  internal/api/middleware_test.go
  internal/control/http/v3/handlers_epg.go
  internal/control/http/v3/handlers_epg_test.go
  test_report.txt
Due: unittests

refactor: 2026 best practices - clean architecture
  .github/workflows/quality-gates.yml
  Makefile
  internal/api/middleware_test.go
  internal/api/testutil/helpers.go
Due: unittests, API Layer

governance: CTO mandate - critical fixes (zero tolerance)
  .github/workflows/quality-gates.yml
  .gitignore
  docs/review/task.md
Due: none

governance: acceptance hardening - SHA pinning + hygiene gate
  .github/workflows/quality-gates.yml
  Makefile
  scripts/ci_gate_repo_hygiene.sh
  test_report.txt
Due: none

fix: RFC7807 compliance in ProbeRecordingMp4
  internal/control/http/v3/recordings.go
Due: unittests

fix: bootstrap test failures - contract drift and async handling
  internal/app/bootstrap/vod_duration_test.go
  internal/app/bootstrap/vod_path_test.go
Due: none

fix: test wiring - mock matches decoded recordingID
  internal/app/bootstrap/vod_path_test.go
Due: none

feat: goldstandard test fix - production-grade RecordingsService mock
  internal/api/http.go
  internal/app/bootstrap/vod_mock_recordings_service.go
  internal/app/bootstrap/vod_path_test.go
  internal/control/http/v3/server.go
Due: unittests, API Layer

governance: Go 1.25.5 security upgrade + coverage policy hardening
  Makefile
  go.mod
  internal/app/bootstrap/vod_mock_recordings_service_test.go
  internal/app/bootstrap/vod_path_test.go
  internal/control/http/v3/equivalence_test.go
  internal/control/http/v3/handlers_playback_info.go
  internal/control/http/v3/handlers_playback_info_test.go
  internal/control/http/v3/recordings/handler_delete.go
  internal/control/http/v3/recordings/handler_delete_test.go
  internal/control/http/v3/recordings/handler_status.go
  internal/control/http/v3/recordings/handler_status_test.go
  internal/control/http/v3/recordings/validation.go
  internal/control/http/v3/recordings_resume.go
Due: unittests

fix(ci): replace fake SHA pins with valid action tags in quality-gates.yml
  .github/workflows/quality-gates.yml
Due: none

fix(ci): replace all SHA pins with stable tag references
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
Due: none

feat(ci): hermetic builds with go run -mod=vendor (offline ZIP support)
  Makefile
Due: none

feat(ci): hermetic builds with go run -mod=vendor (offline ZIP support)
  Makefile
  internal/api/server_gen.go
  internal/control/http/v3/server_gen.go
Due: none

fix(ci): allow golangci-lint installation with GOFLAGS override
  Makefile
Due: none

fix(ci): install golangci-lint v2 (config compatibility)
  Makefile
Due: none

fix(ci): use specific golangci-lint version v2.8.0
  Makefile
Due: none

feat(ci): implement Go 1.24 tool directive (2026 best practice)
  Makefile
  vendor/modules.txt
Due: none

fix(ci): use go install for golangci-lint v2.8.0 (pragmatic solution)
  Makefile
Due: none

fix(ci): golangci-lint v2.8.0 installation (correct tabs)
  Makefile
Due: none

fix(ci): use golangci-lint@latest (v2.8.0 tag path issue)
  Makefile
Due: none

fix(ci): address remaining blockers for full Green status
  .github/workflows/ci.yml
  .github/workflows/gosec.yml
  Makefile
  cmd/daemon/diagnostic_cmd.go
  cmd/v3probe/main.go
Due: Daemon

chore: finalize CI hardening and governance gates (all GREEN)
  Makefile
  docs/DEPRECATION_POLICY.md
  docs/deprecations.json
  internal/app/bootstrap/vod_duration_test.go
  internal/auth/token.go
  internal/config/deprecation.go
  internal/control/http/v3/system_info.go
  vendor/modules.txt
Due: unittests

docs: complete Phase 5 release and hardening walkthrough
  cosign.bundle
  internal/control/recordings/service_test.go
  sbom.json
Due: none

feat(ffmpeg): harden preflight logic and transport defaults
  cmd/daemon/main.go
  config.example.yaml
  docs/README.md
  docs/STREAMING_CONFIGURATION.md
  docs/guides/config.schema.json
  docs/ops/PREFLIGHT.md
  internal/config/config.go
  internal/config/manager.go
  internal/config/registry.go
  internal/config/validation.go
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/ports/errors.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  internal/jobs/validate.go
  internal/pipeline/api/hls.go
  internal/pipeline/exec/enigma2/client.go
  internal/pipeline/exec/enigma2/client_ext.go
  internal/pipeline/exec/enigma2/tuner.go
  scripts/inspect-ffmpeg-args.sh
  scripts/monitor-stream-metrics.sh
  webui/src/App.tsx
  webui/src/components/V3Player.tsx
Due: unittests, Daemon

feat: optimize FFmpeg flags for corrupted DVB satellite streams
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

feat: add configurable preflight timeout and enhanced observability
  docs/ops/PREFLIGHT.md
  internal/config/config.go
  internal/config/registry.go
  internal/daemon/manager.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  internal/metrics/streaming.go
  internal/pipeline/exec/enigma2/client_ext.go
Due: unittests, Daemon

feat: standardise high-quality streaming and 10s preflight timeout
  docs/ops/PREFLIGHT.md
  internal/config/registry.go
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

feat: upgrade to Gold Standard video quality (CRF 18)
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

perf: reduce HLS segment size to 2s for instant start
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

perf: enable Low-Latency mode (ultrafast + CRF 20)
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

fix(webui): improve stream startup responsiveness
  webui/src/components/V3Player.tsx
Due: none

perf: reduce HLS segment size to 1 second for instant startup
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

fix(ffmpeg): correct HLS playlist sizing logic for low latency
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

refactor(ffmpeg): use tagged switch for source type dispatch
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

fix(config): comment out enigma2 section to satisfy schema validation
  config.example.yaml
Due: none

build: downgrade Go version to 1.24.11 for CI compatibility
  go.mod
Due: none

build(docker): update Dockerfile.distroless to Go 1.24.11
  Dockerfile.distroless
Due: none

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
