Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

fix(test): cleanup v2 unit tests (env isolation, proxy mock)
  go.mod
  internal/api/http_test.go
  internal/config/main_test.go
  internal/config/reload_test.go
Due: none

fix(lint): resolve ci lint failures (errcheck, gosec, staticcheck, unused)
  internal/api/http_test.go
  internal/config/main_test.go
  internal/proxy/proxy.go
  internal/proxy/ready_check.go
Due: unittests, Stream Proxy

v3: Worker & API Implementation (#109)
  go.mod
  internal/api/http_test.go
  internal/config/main_test.go
  internal/config/reload_test.go
  internal/proxy/proxy.go
  internal/proxy/ready_check.go
  internal/v3/api/intent_handler.go
  internal/v3/api/state_handler.go
  internal/v3/api/types.go
  internal/v3/bus/memory_bus.go
  internal/v3/integration/flow_test.go
  internal/v3/origin/handler.go
  internal/v3/store/memory_store.go
  internal/v3/worker/orchestrator.go
Due: unittests, Stream Proxy

feat(v3): shadow canary (traffic guard, async client, metrics)
  cmd/daemon/main.go
  design/v3_roadmap.md
  internal/config/config.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/proxy/proxy.go
  internal/v3/api/types.go
  internal/v3/model/enums.go
  internal/v3/model/events.go
  internal/v3/shadow/client.go
  internal/v3/shadow/client_test.go
Due: unittests, Daemon, Stream Proxy

feat(v3): shadow canary (traffic guard, async client, metrics) (#111)
  cmd/daemon/main.go
  design/v3_roadmap.md
  internal/config/config.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/proxy/proxy.go
  internal/v3/api/types.go
  internal/v3/model/enums.go
  internal/v3/model/events.go
  internal/v3/shadow/client.go
  internal/v3/shadow/client_test.go
Due: unittests, Daemon, Stream Proxy

fix: prevent premature finalization of sessions that never started
  internal/v3/worker/orchestrator.go
  internal/v3/worker/recovery_contention_test.go
Due: unittests

fix: harden ShadowClient and BadgerStore against critical hazards
  internal/v3/shadow/client.go
  internal/v3/store/badger_store.go
Due: unittests

feat: Phase 9-4 metrics refactoring and session lifecycle improvements
  internal/v3/exec/enigma2/client_test.go
  internal/v3/exec/enigma2/readychecker.go
  internal/v3/exec/enigma2/tuner_test.go
  internal/v3/model/enums.go
  internal/v3/origin/handler.go
  internal/v3/store/store.go
  internal/v3/worker/metrics.go
  internal/v3/worker/orchestrator.go
  internal/v3/worker/orchestrator_test_extra.go
  internal/v3/worker/sweeper.go
Due: unittests

fix: production hardening - Phase 10-12 integration and critical fixes
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/OBSERVABILITY.md
  docs/TECH_TASK_HARDENING_2025-12-23.md
  docs/guides/CONFIGURATION.md
  go.mod
  go.sum
  internal/api/circuit_breaker.go
  internal/api/errors.go
  internal/api/handlers_v3.go
  internal/api/http.go
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
  internal/auth/token.go
  internal/config/config.go
  internal/config/validation.go
  internal/daemon/manager.go
  internal/metrics/circuit_breaker.go
  internal/openwebif/circuit_breaker.go
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/args_fmp4_test.go
  internal/v3/exec/ffmpeg/layout.go
  internal/v3/exec/ffmpeg/runner.go
  internal/v3/model/enums.go
  internal/v3/store/memory_store.go
  internal/v3/store/memory_store_test.go
  internal/v3/worker/orchestrator.go
  internal/v3/worker/recovery.go
  internal/v3/worker/recovery_test.go
  webui/package-lock.json
  webui/package.json
Due: unittests, Daemon, API Layer

refactor: unify circuit breaker and cleanup technical debt
  CHANGELOG.md
  api/openapi.yaml
  cmd/daemon/main.go
  config.example.yaml
  docs/ARCHITECTURE.md
  docs/TECH_TASK_HARDENING_2025-12-23.md
  docs/UPGRADE.md
  docs/adr/001-api-versioning.md
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  docs/v3_phase9_cleanup.md
  internal/api/auth.go
  internal/api/circuit_breaker.go
  internal/api/circuit_breaker_test.go
  internal/api/errors.go
  internal/api/errors_test.go
  internal/api/handlers_test.go
  internal/api/handlers_v3.go
  internal/api/http.go
  internal/api/middleware/otel_test.go
  internal/config/config.go
  internal/config/env.go
  internal/dvr/engine.go
  internal/openwebif/circuit_breaker.go
  internal/openwebif/circuit_breaker_test.go
  internal/openwebif/client.go
  internal/resilience/circuit_breaker.go
  internal/resilience/circuit_breaker_test.go
  internal/v3/api/state_handler.go
  internal/v3/integration/flow_test.go
  internal/v3/store/bolt_store.go
  internal/v3/worker/orchestrator.go
  transcoder/README.md
Due: unittests, API Layer

docs: update CHANGELOG, README, and add INTERNALS documentation
  CHANGELOG.md
  README.md
  docs/ARCHITECTURE.md
  docs/INTERNALS.md
Due: none

chore: cleanup legacy scripts, docs, and testdata
  detect-base-variant.sh
  docs/ARCHITECTURE.md
  docs/INTERNALS.md
  docs/PRODUCTION_READINESS_REVIEW_2025-12-18.md
  docs/TECH_TASK_HARDENING_2025-12-23.md
  docs/guides/llhls.md
  docs/guides/plex_ios.md
  docs/guides/proxmox_lxc.md
  docs/guides/upgrade.md
  docs/licensing.md
  docs/v3_phase9_cleanup.md
  internal/config/testdata/legacy.yaml
  mock_enigma2.py
  mock_ffmpeg
  verify_intent.sh
Due: none

feat: implement V3 HLS streaming backend with refined buffering and resilience
  Dockerfile.distroless
  cmd/daemon/main.go
  docker-compose.yml
  internal/api/handlers_v3.go
  internal/api/http.go
  internal/api/middleware/security_headers.go
  internal/config/config.go
  internal/config/env.go
  internal/jobs/refresh.go
  internal/jobs/refresh_id_test.go
  internal/jobs/refresh_test.go
  internal/jobs/util.go
  internal/v3/api/hls.go
  internal/v3/api/hls_test.go
  internal/v3/doc.go
  internal/v3/exec/enigma2/client.go
  internal/v3/exec/enigma2/client_ext.go
  internal/v3/exec/enigma2/readychecker.go
  internal/v3/exec/enigma2/tuner.go
  internal/v3/exec/enigma2/tuner_test.go
  internal/v3/exec/ffmpeg/.force-rebuild
  internal/v3/exec/ffmpeg/args.go
  internal/v3/exec/ffmpeg/layout.go
  internal/v3/exec/ffmpeg/runner.go
  internal/v3/exec/ffmpeg/runner_test.go
  internal/v3/exec/real_factory.go
  internal/v3/model/enums.go
  internal/v3/model/identifiers.go
  internal/v3/worker/orchestrator.go
  internal/v3/worker/sweeper.go
Due: unittests, API Layer

feat(webui): add V3 player component and update build assets
  internal/api/dist/.keep
  internal/api/dist/assets/index-DIp5vfbr.js
  internal/api/dist/assets/index-Dmr83qid.js
  internal/api/dist/assets/index-DnkYwVar.js
  internal/api/dist/assets/index-ZGkZ2-O6.js
  internal/api/dist/index.html
  webui/src/App.css
  webui/src/App.jsx
  webui/src/components/Navigation.css
  webui/src/components/Navigation.jsx
  webui/src/components/V3Player.jsx
Due: unittests, API Layer

fix(api): correct embedded UI path to use 'dist' directory
  internal/api/http.go
Due: unittests, API Layer

docs: add V3 setup and deployment guide
  docs/guides/v3-setup.md
Due: none

fix(webui): enable muted autoplay for V3 player
  internal/api/dist/assets/index-BlKbopSF.js
  internal/api/dist/assets/index-BwcGs5Ai.css
  internal/api/dist/assets/index-DIp5vfbr.js
  internal/api/dist/assets/index-Dmr83qid.js
  internal/api/dist/assets/index-T85dRDwt.css
  internal/api/dist/assets/index-ZGkZ2-O6.js
  internal/api/dist/index.html
  webui/src/components/V3Player.jsx
Due: unittests, API Layer

docs: update documentation to reflect V3 as production-ready
  README.md
  docs/ARCHITECTURE.md
  docs/INTERNALS.md
  docs/adr/001-api-versioning.md
  docs/guides/CONFIGURATION.md
Due: none

docs: cleanup V2-specific docs, update TROUBLESHOOTING for V3
  docs/RUNBOOK.md
  docs/SECURITY_INVARIANTS.md
  docs/TROUBLESHOOTING.md
  docs/guides/llhls.md
Due: none

fix(docs): enable V3 by default for proper setup experience
  README.md
  docker-compose.yml
Due: none

fix(config): add V3 settings to .env.example, remove obsolete proxy options
  .env.example
Due: none

docs: add DEVELOPMENT.md guide for simplified build workflow
  docs/DEVELOPMENT.md
Due: none

fix(docs): correct V3_WORKER_ENABLED default in v3-setup guide
  docs/guides/v3-setup.md
Due: none

docs(readme): add Documentation section with key guide links
  README.md
Due: none

docs(readme): clarify V3 as production streaming architecture
  README.md
Due: none

docs(readme): improve Quick Start clarity for AI setup
  README.md
Due: none

build(webui): update embedded WebUI assets
  internal/api/dist/assets/index-SIinkYma.js
  internal/api/dist/index.html
Due: unittests, API Layer

docs(dev): clarify separate frontend/backend development workflow
  docs/DEVELOPMENT.md
Due: none

docs: improve consistency across setup guides
  docs/DEVELOPMENT.md
  docs/guides/CONFIGURATION.md
  docs/guides/v3-setup.md
Due: none

feat(config): auto-inherit XG2G_V3_E2_HOST from XG2G_OWI_BASE
  README.md
  docs/DEVELOPMENT.md
  docs/guides/CONFIGURATION.md
  docs/guides/v3-setup.md
  internal/config/config.go
  webui/src/client/core/OpenAPI.ts
Due: unittests

docs: add minimal .env template for simplified Quick Start
  .env.minimal
  .gitignore
  README.md
Due: none

Revert "docs: add minimal .env template for simplified Quick Start"
  .env.minimal
  .gitignore
  README.md
Due: none

docs: remove legacy 'proxy' terminology, use 'V3 streaming'
  docs/ARCHITECTURE.md
  docs/INTERNALS.md
Due: none

chore: change default port from 8080 to 8088
  .env.example
  README.md
  docker-compose.yml
  docs/DEVELOPMENT.md
  docs/guides/plex_ios.md
  docs/guides/v3-setup.md
Due: none

fix(ci): replace CodeQL autobuild with explicit build steps
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

fix(ci): standardize codeql actions to v3 to resolve version mismatch
  .github/workflows/codeql.yml
  .github/workflows/container-security.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
Due: none

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
