Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

feat(ffmpeg): wire VAAPI GPU transcoding through ProfileSpec → buildArgs
  internal/config/merge.go
  internal/config/registry.go
  internal/config/types.go
  internal/control/http/v3/handlers_intents.go
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/ports/types.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  internal/pipeline/api/intent_handler.go
  internal/pipeline/hardware/gpu.go
  internal/pipeline/hardware/gpu_test.go
Due: unittests, Daemon

fix(review): extract vaapiEncodersToTest var + t.Cleanup in gpu_test
  internal/infra/media/ffmpeg/adapter.go
  internal/pipeline/hardware/gpu_test.go
Due: unittests

chore(config): regen config surfaces for vaapiDevice
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
Due: none

fix(layering): remove model import from adapter, pass StreamSpec to helpers
  internal/infra/media/ffmpeg/adapter.go
Due: unittests

feat(ffmpeg): VAAPI GPU transcoding via ProfileSpec (#181)
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
  internal/config/merge.go
  internal/config/registry.go
  internal/config/types.go
  internal/control/http/v3/handlers_intents.go
  internal/daemon/manager.go
  internal/domain/session/manager/orchestrator_helpers.go
  internal/domain/session/ports/types.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_args_test.go
  internal/infra/media/ffmpeg/adapter_preflight_test.go
  internal/pipeline/api/intent_handler.go
  internal/pipeline/hardware/gpu.go
  internal/pipeline/hardware/gpu_test.go
Due: unittests, Daemon

security: redact credentials from receiver URLs in logs
  internal/core/urlutil/urlutil_test.go
  internal/daemon/manager.go
  internal/health/startup.go
Due: unittests, Daemon

feat(codec): negotiate client codecs and select best profile
  internal/control/http/v3/codec_prefs.go
  internal/control/http/v3/codec_prefs_test.go
  internal/control/http/v3/handlers_intents.go
  internal/pipeline/profiles/resolve.go
  webui/src/components/V3Player.tsx
Due: unittests

fix(codec): add h264_fmp4 profile, remove webui debug noise, and gate VAAPI per encoder
  internal/control/http/v3/codec_prefs.go
  internal/control/http/v3/codec_prefs_test.go
  internal/control/http/v3/handlers_intents.go
  internal/infra/media/ffmpeg/adapter.go
  internal/pipeline/hardware/gpu.go
  internal/pipeline/hardware/gpu_test.go
  internal/pipeline/profiles/resolve.go
  webui/src/components/V3Player.tsx
Due: unittests

fix(codec): fix intent handler syntax after cherry-pick
  internal/control/http/v3/handlers_intents.go
Due: unittests

webui: handle 410 Gone in session readiness
  webui/src/components/V3Player.module.css
  webui/src/components/V3Player.tsx
  webui/src/locales/de.json
  webui/src/locales/en.json
Due: none

fix(docs,docker): align compose contract + docs
  .dev-notes/startup-guide.md
  .env.example
  BUILD.md
  Dockerfile
  config.example.yaml
  docker-compose.dev.yml
  docker-compose.hwaccel.yml
  docker-compose.yml
  docs/README.md
  docs/arch/ADR_014_FILECONFIG_CURATED_SURFACE.md
  docs/decision/SPEC_INDEX.md
  docs/guides/DEVELOPMENT.md
  docs/guides/REFERENCE.md
  docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md
  docs/ops/GOVERNANCE_CLOSURE_REPORT.md
  docs/ops/OPERATIONS_MODEL.md
  docs/ops/xg2g.service
  scripts/verify-compose-contract.sh
  scripts/verify-doc-image-tags.sh
  templates/docker-compose.yml.tmpl
  templates/docs/ops/DEPLOYMENT_RUNTIME_CONTRACT.md.tmpl
  templates/docs/ops/OPERATIONS_MODEL.md.tmpl
  templates/docs/ops/xg2g.service.tmpl
Due: none

docs(config): fix schema env var + engine note
  docs/guides/config.schema.json
  internal/pipeline/doc.go
Due: unittests

feat(ui): premium mobile polish and desktop design fixes
  webui/index.html
  webui/src/App.css
  webui/src/components/Config.module.css
  webui/src/components/Dashboard.module.css
  webui/src/components/Files.module.css
  webui/src/components/Logs.module.css
  webui/src/components/Navigation.module.css
  webui/src/components/Recordings.module.css
  webui/src/components/SeriesManager.module.css
  webui/src/components/Settings.module.css
  webui/src/components/Streams.module.css
  webui/src/components/Timers.module.css
  webui/src/components/V3Player.module.css
  webui/src/components/V3Player.tsx
  webui/src/components/ui/Button.module.css
  webui/src/components/ui/Card.module.css
  webui/src/features/epg/EPG.module.css
  webui/src/features/resume/resume.module.css
  webui/src/features/system/SystemInfo.module.css
  webui/src/index.css
Due: none

refactor(api): unify v3 routing and split server wiring
  internal/api/http.go
  internal/api/middleware.go
  internal/api/server_lifecycle.go
  internal/api/server_new.go
  internal/api/server_paths.go
  internal/api/server_refresh.go
  internal/api/server_routes.go
  internal/api/server_routes_legacy.go
  internal/api/server_state.go
  internal/api/server_v3_wiring.go
  internal/api/testutil/helpers.go
  internal/control/http/v3/auth_strict_test.go
  internal/control/http/v3/factory.go
  internal/control/http/v3/middleware/lan_guard.go
Due: unittests, API Layer

refactor(config): make reload restart policy registry-driven
  internal/api/config_reload.go
  internal/api/security_hardening_test.go
  internal/config/diff.go
  internal/config/diff_policy_test.go
Due: unittests, API Layer

refactor(config): split merge pipeline into focused modules
  internal/config/merge.go
  internal/config/merge_characterization_test.go
  internal/config/merge_defaults.go
  internal/config/merge_enigma2_file.go
  internal/config/merge_env.go
  internal/config/merge_file.go
  internal/config/merge_helpers.go
Due: unittests

refactor(api): return constructor errors instead of fatal
  cmd/daemon/main.go
  internal/api/handlers_test.go
  internal/api/http_test.go
  internal/api/integration_test.go
  internal/api/lifecycle_test.go
  internal/api/ordering_test.go
  internal/api/rbac_test.go
  internal/api/server_new.go
  internal/api/status_contract_test.go
  internal/api/test_helpers_test.go
  internal/app/bootstrap/bootstrap.go
  test/contract/api_contract_test.go
  test/helpers/server.go
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
Due: unittests, API Layer

test(config): migrate fixtures to enigma2 settings
  test/contract/api_contract_test.go
  test/contract/jobs_contract_test.go
  test/integration/api_fast_test.go
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
  test/integration/slow_test.go
Due: none

test(hdhr): drop removed env helper from contract
  test/contract/hdhr_contract_test.go
Due: none

test(contract): align api contracts with v3 middleware
  test/contract/api_contract_test.go
Due: none

docs(adr): define enigma2 canonical precedence matrix
  docs/ADR/022-enigma2-canonical-precedence-matrix.md
Due: none

config: prefer canonical enigma2 keys for streamPort and maxBackoff
  internal/config/loader_test.go
  internal/config/merge_characterization_test.go
  internal/config/merge_enigma2_file.go
  internal/config/merge_env.go
  internal/config/registry.go
Due: unittests

docs(config): expose canonical enigma2 env keys and legacy fallback guidance
  config.generated.example.yaml
  docs/DEPRECATION_POLICY.md
  docs/STREAMING_CONFIGURATION.md
  docs/deprecations.json
  docs/guides/CONFIGURATION.md
  docs/guides/CONFIG_SURFACES.md
  docs/guides/REFERENCE.md
  docs/guides/config.schema.json
  docs/ops/DEPRECATION_STATUS.md
Due: none

api/daemon: unify v3 runtime wiring behind single DI entrypoint
  internal/api/server_new.go
  internal/api/server_v3_wiring.go
  internal/daemon/deps.go
  internal/daemon/manager.go
Due: unittests, Daemon, API Layer

api/v3: replace positional dependency injection with typed struct
  internal/api/http_test.go
  internal/api/server_v3_wiring.go
  internal/control/http/v3/auth_strict_test.go
  internal/control/http/v3/contract_v3_test.go
  internal/control/http/v3/equivalence_test.go
  internal/control/http/v3/handlers_playback_info_contract_test.go
  internal/control/http/v3/nil_safety_test.go
  internal/control/http/v3/recordings_hls_reconcile_test.go
  internal/control/http/v3/recordings_status_test.go
  internal/control/http/v3/server.go
Due: unittests, API Layer

api: consolidate remaining v3 wiring setters into override struct
  internal/api/server_new.go
  internal/api/server_v3_wiring.go
  internal/app/bootstrap/vod_duration_test.go
  internal/app/bootstrap/vod_path_test.go
  internal/app/bootstrap/vod_scope_test.go
Due: unittests, API Layer

config: complete ADR-022 enigma2 canonical field migration
  README.md
  cmd/configgen/main.go
  config.example.yaml
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/REFERENCE.md
  docs/guides/config.schema.json
  docs/ops/RUNBOOK_SYSTEMD_COMPOSE.md
  docs/ops/xg2g.service
  internal/config/alias_conflict.go
  internal/config/loader_test.go
  internal/config/merge_env.go
  internal/config/registry.go
  templates/README.md.tmpl
  templates/docs/ops/xg2g.service.tmpl
Due: unittests

governance: fail-closed repo hygiene and remove runtime artifacts
  .gitignore
  debug.txt
  debug_25s.txt
  full_test.log
  hack/verify-repo-hygiene.sh
  stream_logs.txt
  switch_logs.txt
  test_output.log
  test_results.log
  vuln_full.txt
Due: none

soak: fail closed on unimplemented scenarios
  cmd/xg2g-soak/main.go
  cmd/xg2g-soak/main_test.go
Due: none

tests: stabilize async hot spots with signals and eventually
  internal/control/http/v3/recordings_hls_reconcile_test.go
  internal/daemon/manager_test.go
  test/integration/resilience_test.go
Due: none

ci: enforce idempotency and schema in PR baseline
  .github/workflows/ci.yml
  Makefile
  internal/control/http/v3/auth_strict_idempotency_off_test.go
  internal/control/http/v3/auth_strict_idempotency_test.go
  internal/control/http/v3/auth_strict_test.go
Due: none

ci: require guardrail workflows on PR and nightly
  .github/workflows/ci-v2.yml
  .github/workflows/lint.yml
  .github/workflows/phase4-guardrails.yml
Due: none

ui: enforce fail-closed contract and embed checks
  .github/workflows/ui-contract.yml
  internal/control/http/ui_embed_test.go
  scripts/check-ui-contract.sh
Due: none

tests: fix v3 idempotency race gate admission harness
  internal/control/http/v3/auth_strict_test.go
Due: none

config: fix schema drift and generated example contract
  cmd/configgen/main.go
  config.example.yaml
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
Due: none

ci: add always-on PR required gates aggregator
  .github/workflows/pr-required-gates.yml
Due: none

ci: harden required gates scope and skip visibility
  .github/workflows/pr-required-gates.yml
Due: none

ci: fail closed when PR diff range cannot be resolved
  .github/workflows/pr-required-gates.yml
Due: none

fix(auth): restore SameSite=Strict
  internal/control/http/v3/auth.go
Due: unittests
