Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

docs(lxc): enhance documentation with scope clarification and security details
  docker-compose.lxc.yml
  docs/runtime-lxc.md
Due: none

fix(docker): healthcheck should use GET instead of HEAD
  docker-compose.yml
Due: none

fix(docker): use /healthz instead of /readyz for healthcheck
  docker-compose.yml
Due: none

docs(health): enhance health check documentation with best practices
  deploy/docker-compose.production.yml
  docs/operations/HEALTH_CHECKS.md
Due: none

ci(health): add healthcheck regression tests and validation
  .github/workflows/healthcheck-regression.yml
  .pre-commit-config.yaml
  scripts/validate-healthchecks.sh
Due: none

docs(readme): add Health Checks & Observability section
  README.md
Due: none

ci(health): add two-phase readiness transition test
  .github/workflows/healthcheck-regression.yml
Due: none

feat: make Rust remuxer the default with automatic FFmpeg fallback
  README.md
  internal/proxy/proxy.go
  internal/proxy/transcoder_config.go
  internal/proxy/transcoder_config_gpu.go
  internal/proxy/transcoder_config_nogpu.go
  internal/proxy/transcoder_enabled_gpu.go
  internal/proxy/transcoder_enabled_nogpu.go
  internal/transcoder/rust.go
  internal/transcoder/rust_nogpu.go
Due: unittests, Stream Proxy

fix: add CGO-based build constraints for Rust remuxer compatibility
  internal/transcoder/rust.go
  internal/transcoder/rust_nocgo.go
Due: unittests, Stream Proxy

fix: respect nogpu build tag in CGO build constraints
  internal/transcoder/rust.go
  internal/transcoder/rust_nocgo.go
Due: unittests, Stream Proxy

fix: add proxy fallback when transcoding unavailable
  internal/proxy/proxy.go
Due: unittests, Stream Proxy

fix: address CI test failures and linter errors
  internal/proxy/proxy_server_test.go
  internal/transcoder/rust.go
Due: unittests, Stream Proxy

fix(ci): use nogpu build for integration smoke test
  .github/workflows/hardcore-ci.yml
Due: none

fix(ci): add graceful skip for chaos tests without K8s secrets
  .github/workflows/chaos-tests.yml
Due: none

docs: add CI/CD Pipeline section to README
  README.md
Due: none

fix(ci): use nogpu tag in test-report workflow
  .github/workflows/test-report.yml
Due: none

fix: enable Rust audio transcoding in Docker builds
  Dockerfile
Due: none

fix(k8s): use /healthz for liveness/readiness probes in Helm chart
  deploy/helm/xg2g/values.yaml
Due: none

fix(transcoder): increase Rust FFI output buffer to 100x input size
  internal/transcoder/rust.go
Due: unittests, Stream Proxy

feat(proxy): add native HLS streaming support for iOS devices
  internal/proxy/hls.go
  internal/proxy/proxy.go
Due: unittests, Stream Proxy

feat(proxy): add automatic iOS client detection for HLS
  internal/proxy/proxy.go
Due: unittests, Stream Proxy

fix(hls): improve robustness and debuggability
  internal/proxy/hls.go
Due: unittests, Stream Proxy

fix(hls): make Shutdown() idempotent to prevent double-close panic
  internal/proxy/hls.go
Due: unittests, Stream Proxy

refactor(hls): add configurable timeouts and comprehensive concurrency tests
  internal/proxy/hls.go
  internal/proxy/hls_race_test.go
Due: unittests, Stream Proxy

fix(lint): address errcheck and staticcheck linter issues
  internal/proxy/hls.go
  internal/proxy/hls_race_test.go
Due: unittests, Stream Proxy

feat(hdhr): add XG2G_PLEX_FORCE_HLS flag for iOS compatibility
  docs/deployment/CONTAINER_HDHOMERUN.md
  internal/api/handlers_test.go
  internal/api/http.go
  internal/hdhr/hdhr.go
Due: unittests, API Layer

fix(plex): change PlexForceHLS URLs to port 8080 instead of 18000
  docs/deployment/CONTAINER_HDHOMERUN.md
  internal/api/handlers_test.go
  internal/api/http.go
  internal/hdhr/hdhr.go
Due: unittests, API Layer

fix(plex): correct PlexForceHLS to use port 18000 (proxy) not 8080
  internal/api/handlers_test.go
  internal/api/http.go
  internal/hdhr/hdhr.go
Due: unittests, API Layer

fix(docker): add ffmpeg executable to runtime image for HLS streaming
  Dockerfile
Due: none

fix(transcoder): implement video passthrough in audio remuxer
  transcoder/src/audio_remux.rs
Due: none

feat: add H.264 stream repair for Plex compatibility
  internal/proxy/proxy.go
  internal/proxy/transcoder.go
Due: unittests, Stream Proxy

fix: add missing HLS segment serving for Safari compatibility
  internal/proxy/hls.go
Due: unittests, Stream Proxy

fix: use absolute path for ffmpeg binary
  internal/proxy/transcoder.go
Due: unittests, Stream Proxy

fix(lineup): rewrite URLs to use proxy port when H.264 repair is enabled
  internal/api/http.go
Due: unittests, API Layer

fix(lineup): use proxy host IP instead of receiver IP for H.264 repair URLs
  internal/api/http.go
Due: unittests, API Layer

fix(epg): decode HTML entities in EPG titles and descriptions
  internal/epg/programmes.go
Due: unittests, EPG Module

fix(devcontainer): update rust-analyzer config to use flat format
  .devcontainer/devcontainer.json
  docs/STREAMING_ARCHITECTURE.md
  docs/SYSTEM_INTELLIGENCE.md
Due: none

feat(v2.0): simplify configuration with better defaults and user-friendly aliases
  .env.example
  DOCKER_COMPOSE_GUIDE.md
  README.md
  cmd/daemon/main.go
  docker-compose.yml
  examples/docker-compose/docker-compose.yml
  internal/api/handlers_test.go
  internal/api/http.go
  internal/config/config.go
  internal/config/env.go
  internal/proxy/transcoder.go
Due: unittests, API Layer, Stream Proxy

feat: enhance health endpoint with component-level checks
  docker-compose.yml
  examples/docker-compose/docker-compose.yml
  internal/api/http.go
  internal/api/http_test.go
  internal/health/health.go
Due: unittests, API Layer

docs: add comprehensive v2.0.0 release notes
  CHANGELOG.md
  docs/CHANGELOG.md
Due: none
