Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

fix(ffmpeg): clean up process lifecycle and health checks (#223)
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_lifecycle_test.go
Due: unittests

fix(ffmpeg): align default segment length with config registry
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_defaults_test.go
Due: unittests

fix(daemon): always register runtime store close hooks
  internal/daemon/manager.go
  internal/daemon/manager_runtime_hooks_test.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

fix(daemon): always register runtime store close hooks (#225)
  internal/daemon/manager.go
  internal/daemon/manager_runtime_hooks_test.go
  internal/daemon/manager_v3_worker.go
Due: unittests, Daemon

fix(ffmpeg): align default segment length with config registry (#224)
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_defaults_test.go
Due: unittests

refactor(pipeline): move HLS content types to platform httpx
  internal/control/http/hls_contract.go
  internal/pipeline/api/hls.go
  internal/pipeline/origin/handler.go
  internal/platform/httpx/hls_content_types.go
Due: unittests

refactor(pipeline): move HLS content types to platform httpx (#226)
  internal/control/http/hls_contract.go
  internal/pipeline/api/hls.go
  internal/pipeline/origin/handler.go
  internal/platform/httpx/hls_content_types.go
Due: unittests

fix(openwebif): harden stream URL host handling and cache expiry
  internal/openwebif/client.go
  internal/openwebif/client_hygiene_test.go
Due: unittests

fix(api): fail fast when persisted manager state cannot load
  cmd/daemon/api_wiring.go
  cmd/daemon/main.go
  internal/api/server_constructor_deps.go
  internal/api/server_new.go
  internal/api/server_new_with_deps_test.go
Due: unittests, Daemon, API Layer

refactor(v3): enforce module dependency boundaries in intent flow
  internal/control/http/v3/contract_v3_coverage_test.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/module_boundary_test.go
  internal/control/http/v3/preflight_gate.go
  internal/control/http/v3/server_modules.go
Due: unittests

fix(config): centralize HLS segment default across registry and ffmpeg
  internal/config/registry.go
  internal/config/validation.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_defaults_test.go
Due: unittests

fix(devx): validate XG2G_MAX_UNTRACKED in pre-push sanity hook
  scripts/pre-push-sanity.sh
Due: none

refactor(openwebif): simplify capability cache get flow
  internal/openwebif/client.go
Due: unittests

refactor(daemon): avoid duplicate startup load error logging
  cmd/daemon/api_wiring.go
  cmd/daemon/main.go
Due: Daemon

fix(config): centralize HLS segment default across registry and ffmpeg (#231)
  internal/config/registry.go
  internal/config/validation.go
  internal/infra/media/ffmpeg/adapter.go
  internal/infra/media/ffmpeg/adapter_defaults_test.go
Due: unittests

fix(openwebif): harden stream URL host handling and capability cache expiry (#228)
  internal/openwebif/client.go
  internal/openwebif/client_hygiene_test.go
Due: unittests

fix(api): fail fast when channel/series manager state cannot load (#229)
  cmd/daemon/api_wiring.go
  cmd/daemon/main.go
  internal/api/server_constructor_deps.go
  internal/api/server_new.go
  internal/api/server_new_with_deps_test.go
Due: unittests, Daemon, API Layer

refactor(v3): enforce module dependency boundaries in intent flow (#230)
  internal/control/http/v3/contract_v3_coverage_test.go
  internal/control/http/v3/handlers_intents.go
  internal/control/http/v3/module_boundary_test.go
  internal/control/http/v3/preflight_gate.go
  internal/control/http/v3/server_modules.go
Due: unittests

fix(devx): validate XG2G_MAX_UNTRACKED in pre-push sanity hook (#232)
  scripts/pre-push-sanity.sh
Due: none

fix(webui): keep eslint 9 for react-hooks compatibility
  webui/package-lock.json
  webui/package.json
Due: none

fix(tests): avoid bootstrap logger reconfigure race
  internal/app/bootstrap/bootstrap_test.go
Due: none

ci: harden test gates and nightly execution
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  internal/validate/imports_test.go
Due: none

refactor(validate): simplify file filter guards
  internal/validate/imports_test.go
Due: none

fix(deps): keep eslint 9 for hooks peer compatibility
  webui/package-lock.json
  webui/package.json
Due: none

fix(tests): avoid bootstrap logger reconfigure race (#234)
  internal/app/bootstrap/bootstrap_test.go
Due: none

ci: harden WebUI gates and decouple nightly lint (#236)
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  internal/validate/imports_test.go
Due: none

test: ignore hidden fixture files in golden scans
  test/contract/p4_1/contract_matrix_test.go
  test/invariants/decision_goldens_test.go
Due: none

refactor(bootstrap): move production wiring into internal/app/bootstrap
  cmd/daemon/main.go
  internal/app/bootstrap/bootstrap.go
  internal/app/bootstrap/bootstrap_test.go
  internal/app/bootstrap/vod_duration_test.go
  internal/app/bootstrap/vod_mock_recordings_service_test.go
  internal/app/bootstrap/vod_path_test.go
  internal/app/bootstrap/vod_scope_test.go
  internal/app/bootstrap/wiring_helpers.go
  internal/app/bootstrap/wiring_test.go
Due: unittests

refactor(v3): modularize router and decouple pipeline hls contracts
  internal/api/server_v3_runtime_wiring.go
  internal/control/http/v3/contract_v3_coverage_test.go
  internal/control/http/v3/dvr.go
  internal/control/http/v3/factory.go
  internal/control/http/v3/handlers_config.go
  internal/control/http/v3/handlers_streams.go
  internal/control/http/v3/recordings.go
  internal/control/http/v3/router_v3.go
  internal/control/http/v3/router_v3_modules.go
  internal/control/http/v3/router_v3_ports.go
  internal/control/http/v3/router_v3_routes_system_timers.go
  internal/control/http/v3/storage_monitor.go
  internal/control/vod/manager.go
  internal/pipeline/api/hls.go
  internal/pipeline/api/intent_handler.go
  internal/pipeline/api/state_handler.go
  internal/pipeline/origin/handler.go
  internal/platform/httpx/content_types.go
Due: unittests, API Layer

refactor(core): remove deprecated internal/core package
  docs/arch/ARCHITECTURE.md
  docs/arch/PACKAGE_LAYOUT.md
  docs/ops/DEPRECATION_STATUS.md
  internal/core/README.md
  internal/core/openwebif/webapi.go
  internal/core/pathutil/pathutil.go
  internal/core/profile/hls.go
  internal/core/urlutil/urlutil.go
  internal/core/urlutil/urlutil_test.go
  internal/core/useragent/useragent.go
  internal/health/startup.go
  internal/platform/net/url.go
  internal/validate/imports_test.go
Due: unittests

refactor(config): unify server defaults and merge semantics
  internal/api/config_reload.go
  internal/config/merge_env.go
  internal/config/merge_file.go
  internal/config/registry.go
  internal/config/server.go
  internal/config/server_test.go
  internal/config/types.go
  internal/config/validation.go
Due: unittests, API Layer

refactor(errors): preserve chains and narrow session store ports
  internal/daemon/manager.go
  internal/domain/session/manager/lease_expiry.go
  internal/domain/session/store/sqlite_store.go
  internal/domain/session/store/store.go
  internal/library/service.go
  internal/library/store.go
  internal/library/store_get.go
  internal/pipeline/resume/sqlite_store.go
  internal/pipeline/scan/sqlite_store.go
Due: unittests, Daemon

refactor(runtime): harden ffmpeg lifecycle and secure file serving
  cmd/daemon/diagnostic_cmd.go
  cmd/daemon/report_cmd.go
  cmd/daemon/status_cmd.go
  internal/control/authz/policy.go
  internal/control/http/fileserver.go
  internal/infra/media/ffmpeg/adapter.go
Due: unittests, Daemon

fix(runtime): restore v3 module deps and shutdown hook registration
  internal/control/http/v3/server_modules.go
  internal/daemon/manager.go
  internal/platform/httpx/content_types.go
Due: unittests, Daemon

fix(ci): sync config artifacts and harden secure file path handling
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/CONFIG_SURFACES.md
  docs/guides/config.schema.json
  internal/control/http/fileserver.go
Due: unittests

chore(lint): annotate retained daemon wiring helpers for tests
  cmd/daemon/api_wiring.go
  cmd/daemon/main.go
  cmd/daemon/pipeline_wiring.go
  cmd/daemon/v3_orchestrator_factory.go
Due: Daemon

fix: unblock PR 240 failing CI gates
  internal/control/http/system/setup_validate_test.go
  webui/src/components/Settings.tsx
  webui/src/components/V3Player.tsx
  webui/src/features/system/SystemInfo.tsx
Due: none

chore: regenerate config surfaces for api legacy token toggle
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/CONFIG_SURFACES.md
  docs/guides/config.schema.json
Due: none
