Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

chore: repository hygiene and CI/CD stabilization (fix embed drift)
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/quality-gates.yml
  .github/workflows/safari-hls-smoke.yml
  .gitignore
  GREP_PROOF_FINAL.md
  panic_allowlist.txt
Due: none

chore: consolidate CI workflows and prune repository metadata
  .github/workflows/quality-gates.yml
  .github/workflows/safari-hls-smoke.yml
Due: none

sec: pin GitHub Actions to SHAs and upgrade Go to 1.25.3
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile
  go.mod
  webui/package-lock.json
  webui/package.json
Due: none

sec: complete security hardening and action pinning
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

sec: fix codeql sub-action names in workflows
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/phase4-guardrails.yml
  .github/workflows/release.yml
  .github/workflows/repo-health.yml
  .github/workflows/scorecard.yml
  .github/workflows/ui-contract.yml
Due: none

sec: finalize security hardening (pin actions and fix syntax)
  .github/workflows/codeql.yml
Due: none

chore: upgrade to Node 22 and Debian Trixie (2026 stable) with fixed build
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  Dockerfile
  internal/config/merge.go
  internal/config/registry.go
  internal/config/types.go
  internal/config/validation.go
Due: unittests

feat(trust): harden status api and cli (phase 7.1)
  cmd/daemon/report_cmd.go
  cmd/daemon/status_cmd.go
  internal/api/http.go
  internal/control/http/status.go
Due: unittests, Daemon, API Layer

test(trust): add mechanical contract and redaction gates (phase 7.1)
  cmd/daemon/report_cmd.go
  cmd/daemon/report_cmd_test.go
  internal/api/status_contract_test.go
Due: Daemon

verification: worker hardening + store implementation + checks interface
  internal/config/manager.go
  internal/platform/paths/resolve.go
  internal/verification/checks/checks.go
  internal/verification/checks/checks_test.go
  internal/verification/store.go
  internal/verification/store_test.go
  internal/verification/types.go
  internal/verification/worker.go
  internal/verification/worker_test.go
Due: unittests

phase8: wire-up verification worker, status api and cli drift display
  cmd/daemon/main.go
  cmd/daemon/status_cmd.go
  internal/api/http.go
  internal/control/http/status.go
Due: unittests, Daemon, API Layer

docs: walkthrough for drift simulation
  docs/drift_walkthrough.md
Due: none

feat(verification): add homelab profile (env flags + edge logging + metrics)
  cmd/daemon/main.go
  docs/drift_walkthrough.md
  internal/config/merge.go
  internal/config/types.go
  internal/config/verification_test.go
  internal/verification/worker.go
Due: unittests

chore(verification): final seal checks and config registry fix
  cmd/daemon/main.go
  internal/config/registry.go
  internal/config/verification_test.go
  internal/verification/worker.go
Due: unittests

feat: implement Best Practice 2026 architecture
  Makefile
  cmd/daemon/main.go
  internal/admission/monitor.go
  internal/api/handlers_picons.go
  internal/config/registry.go
  internal/control/http/v3/http.go
  internal/control/http/v3/receiver_current.go
  internal/control/http/v3/system_info.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/infra/media/ffmpeg/adapter.go
  internal/openwebif/client.go
  internal/pipeline/scan/manager.go
  webui/src/components/Dashboard.tsx
  webui/src/context/AppContext.tsx
  webui/src/i18n.ts
  webui/src/locales/de.json
  webui/src/locales/en.json
Due: unittests, Daemon, API Layer

docs: sync config surfaces documentation
  docs/guides/CONFIG_SURFACES.md
Due: none

feat(openwebif): finalize timer update refactoring with selective fallback and prometheus metrics
  internal/config/registry.go
  internal/control/http/v3/contract_v3_dvr_update_timer_test.go
  internal/control/http/v3/handlers_timers.go
  internal/openwebif/client.go
  internal/openwebif/client_golden_test.go
  internal/openwebif/client_metrics.go
  internal/openwebif/client_timer_types.go
Due: unittests

chore: regenerate config surfaces to match new registry defaults
  config.generated.example.yaml
  docs/guides/CONFIGURATION.md
  docs/guides/config.schema.json
Due: none

chore: sync docker-compose.yml with latest templates
  docker-compose.yml
Due: none

fix: robust digest extraction for stability gates
  scripts/verify-digest-lock.sh
  scripts/verify-runtime.sh
Due: none

chore: harden CI quality-gates with prioritized zero-drift checks
  Makefile
  internal/config/runtime_env.go
  internal/openwebif/client.go
  internal/openwebif/client_metrics.go
Due: unittests

chore: standardize TOOLCHAIN_ENV and upgrade Go to 1.25.6 for security
  Makefile
Due: none

chore: baseline CI hardening (Chef-Review implementation)
  .github/workflows/ci.yml
  Makefile
  debug.txt
  debug_25s.txt
  go.mod
  scripts/release-prepare.sh
  stream_logs.txt
  switch_logs.txt
Due: none

Add offline testing spec and split offline/online gates
  Makefile
  OFFLINE_TEST.md
  README.md
  templates/README.md.tmpl
Due: none

ci: split concurrency + pin tooling versions
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: split pr gate and nightly workflows
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/scorecard.yml
  Makefile
Due: none

ci: stabilize runs (repo-wide concurrency + smoke) and fix release scan steps
  .github/workflows/ci-v2.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/gosec.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/phase4-guardrails.yml
  .github/workflows/release.yml
  .github/workflows/repo-health.yml
  .github/workflows/runner-smoke.yml
  .github/workflows/scorecard.yml
  .github/workflows/ui-contract.yml
Due: none

ci: build webui only when affected (node-optional pr gate)
  .github/workflows/ci.yml
Due: none

ci: enforce cto pr gate policy
  .github/workflows/ci.yml
  .github/workflows/container-security.yml
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/phase4-guardrails.yml
  .github/workflows/repo-health.yml
  .github/workflows/ui-contract.yml
  Makefile
  docs/ops/CI_POLICY.md
Due: none

docs: add CI failure playbook and external audit mode
  docs/ops/CI_FAILURE_PLAYBOOK.md
  docs/ops/EXTERNAL_AUDIT_MODE.md
Due: none

docs: link CI playbook and audit mode from CI policy
  docs/ops/CI_POLICY.md
Due: none

ci: run required gates on push(main) + document triggers
  .github/workflows/ci.yml
  .github/workflows/repo-health.yml
  docs/ops/CI_POLICY.md
Due: none

chore: stabilize main (sync config surfaces and tidy go.mod)
  docs/guides/CONFIG_SURFACES.md
  go.mod
Due: none

chore: pin CI badge to main branch
  README.md
  templates/README.md.tmpl
Due: none
