Repository ManuGH/xg2g: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, contract, Daemon, API Layer, EPG Module, Playlist, Stream Proxy, OWI Client

Path conditions:
  unittests: any of: internal/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  integration: any of: test/integration/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  contract: any of: test/contract/, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Daemon: any of: cmd/daemon/**, internal/daemon/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  API Layer: any of: internal/api/**, internal/middleware/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  EPG Module: any of: internal/epg/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Playlist: any of: internal/playlist/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  Stream Proxy: any of: internal/proxy/**, internal/transcoder/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**
  OWI Client: any of: internal/owi/**, but not: **/*_test.go, test/**, docs/**, cmd/*/main.go, **/*.pb.go, **/*_mock.go, **/*_gen.go, **/testdata/**, transcoder/**

docs: update readme for universal binary and cleanup
  .golangci.yml
  PROXY_TEST_CONSOLIDATION_PLAN.md
  README.md
  docs/guides/DOCKER_IMAGES.md
Due: none

docs: update readme for universal binary and cleanup
  internal/api/webui.go
  webui/src/App.css
  webui/src/index.css
Due: unittests, API Layer

feat(webui): add HDHomeRun connection info to Files section
  internal/api/http.go
  internal/api/http_test.go
  webui/src/components/Files.jsx
Due: unittests, API Layer

feat: implement channel management and dynamic bouquets
  docker-compose.yml
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/m3u_management.go
  internal/api/webui.go
  internal/channels/manager.go
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
  internal/m3u/parser.go
  webui/src/components/Channels.jsx
Due: unittests, API Layer

feat: improve EPG with multi-bouquet support and metadata enrichment
  internal/epg/generator.go
  internal/epg/parser.go
  internal/jobs/fetch.go
Due: unittests, EPG Module

fix: optimize regex compilation in EPG parser to satisfy linter
  internal/epg/parser.go
Due: unittests, EPG Module

fix: resolve Plex iOS stream timeout by excluding Plex from HLS auto-detection
  internal/proxy/hls.go
  internal/proxy/proxy.go
Due: unittests, Stream Proxy

test: update integration tests to match API signature changes
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
Due: none

chore: add dev setup marker
  .dev-setup
Due: none

chore: remove devcontainer and add LXC build script
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  build-dev.sh
Due: none

refactor: simplify Dockerfile to Trixie + amd64 native build
  Dockerfile
Due: none

chore: migrate to amd64-only + cleanup ARM64/Alpine references
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  SECURITY.md
  contrib/workflows/docker-multi-cpu.yml
  docker-compose.yml
  docs/guides/DOCKER_COMPOSE_GUIDE.md
  docs/guides/PRODUCTION_DEPLOYMENT.md
  docs/guides/RELEASING.md
  docs/security/base-image-cves.md
Due: none

chore: moderate cleanup phase 2 (remove telemetry/docs bloat)
  RELEASE_NOTES_DRAFT.md
  build-dev.sh
  config/jaeger-sampling.json
  config/xg2g.example-telemetry.yaml
  contrib/codecov.yml
  contrib/experimental/dashboard/README.md
  contrib/experimental/dashboard/dashboard.go
  contrib/experimental/dashboard/dashboard_test.go
  contrib/misc/.claude-lessons-learned.md
  deploy/systemd-timer.conf
  docs/KNOWN_ISSUES.md
  docs/STREAMING_ARCHITECTURE.md
  docs/SYSTEM_INTELLIGENCE.md
  docs/WEBUI_WALKTHROUGH.md
  docs/adr/000-template.md
  docs/adr/001-api-versioning.md
  docs/adr/002-config-precedence.md
  docs/adr/003-validation-package.md
  docs/adr/004-opentelemetry-integration.md
  docs/adr/005-daemon-consolidation.md
Due: none

chore: standardize config and restore conditional gpu support
  .env.example
  .env.production.example
  .gitignore
  Makefile
  README.md
  docker-compose.production.yml
  docker-compose.yml
Due: none

fix(makefile): point prod targets to main docker-compose.yml
  Makefile
Due: none

fix(docker): rust:1.91-trixie → debian:trixie-slim + rustup
  Dockerfile
Due: none

fix(docker): node:25-alpine → node:25-slim (Trixie glibc)
  Dockerfile
Due: none

feat(modes): 3→2 Strategies (Rust Audio ⭐ default)
  .env.example
  docker-compose.yml
Due: none

docs(docker): add network_mode:host hint for LXC/Home Lab
  docker-compose.yml
Due: none

fix(docker): enable Trixie DNS fix & add Proxmox LXC guide
  docker-compose.yml
  docs/PROXMOX_LXC.md
Due: none

ci: add SOURCE_DATE_EPOCH to release workflow and update release notes
  .github/workflows/ci-v2.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Makefile
  cmd/daemon/main.go
  docs/releases/RELEASE_v1.7.0.md
  go.mod
Due: none

fix(ci): go 1.25 + security gate + SBOM + docker latest
  .github/workflows/release.yml
  README.md
  contrib/examples/docker-compose/.env.example
  contrib/examples/full-stack/.env.example
  contrib/examples/live-test/.env.example
  contrib/workflows/.env.example
  detect-base-variant.sh
  go.mod
  go.sum
Due: none

fix(ci): go 1.25.5 + deps + security gate
  go.mod
Due: none

fix(ci): Go 1.25.5 recovery (schema + cgo + lint)
  .github/workflows/ci.yml
  go.mod
Due: none

feat: update UI embedding to use `dist` directory, add `codex` Makefile target, and enable configurable SSDP port.
  REPO_FEEDBACK.md
  internal/hdhr/hdhr.go
  internal/hdhr/hdhr_test.go
  test/integration/shutdown_test.go
Due: unittests

feat: introduce Codex review checklist and `make codex` quality gate bundle, along with OpenTelemetry tests and linter improvements.
  .gitignore
  .golangci.yml
  Makefile
  README.md
  docs/checklist_codex.md
  internal/api/dist/.keep
  internal/api/http.go
  internal/api/m3u_management.go
  internal/api/middleware/csrf_test.go
  internal/api/middleware/otel_test.go
  internal/api/webui.go
  internal/proxy/proxy_helpers_test.go
  test/load/load_test.go
Due: unittests, API Layer

fix(ci): update config example version and add repro build debug
  .github/workflows/ci-v2.yml
  config.example.yaml
Due: none

fix(ci): use go-version-file in security workflows
  .github/workflows/codeql.yml
  .github/workflows/gosec.yml
Due: none

chore: unify api v2, optional auth, and hygiene cleanup
  .gitignore
  cmd/daemon/main.go
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/SECURITY.md
  docs/checklist_codex.md
  internal/api/dist/hls.min.js
  internal/api/dist/mpegts.min.js
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/middleware/ratelimit.go
  internal/api/middleware/ratelimit_test.go
  internal/api/middleware/tracing_test.go
  internal/api/ui.html
  internal/api/webplayer_v2.html
  internal/config/server.go
  internal/jobs/refresh_test.go
  internal/proxy/handlers.go
  internal/proxy/proxy.go
  internal/proxy/transcoder.go
  internal/telemetry/attributes_test.go
  restart.sh
  test/contract/api_contract_test.go
  test/helpers/request.go
  test/integration/full_flow_test.go
  test/integration/resilience_test.go
  test/integration/shutdown_test.go
  test/integration/smoke_test.go
Due: unittests, API Layer, Stream Proxy

feat(observability): implement strict traceability, lifecycle logging and ffmpeg stats parsing
  internal/proxy/ffmpeg_log.go
  internal/proxy/ffmpeg_log_test.go
  internal/proxy/plex_profile.go
  internal/proxy/transcoder.go
Due: unittests, Stream Proxy

chore: apply pending changes for HLS, security, and integration tests
  README.md
  cmd/daemon/main.go
  internal/api/http.go
  internal/config/server.go
  internal/config/server_test.go
  internal/openwebif/picon.go
  internal/openwebif/stream_detection_test.go
  internal/proxy/handlers.go
  internal/proxy/hls.go
  internal/proxy/ll_hls_profile.go
  internal/proxy/proxy.go
  internal/proxy/proxy_edge_cases_test.go
  internal/proxy/proxy_test.go
  test/integration/hardening_test.go
  test/integration/hls_test.go
  test/integration/security_test.go
  test/integration/shutdown_test.go
Due: unittests, API Layer, Stream Proxy

fix: stability overhaul for iOS and Encrypted Channels
  Makefile
  internal/api/dist/assets/index-B66JCZKX.css
  internal/api/dist/assets/index-BYpBwrX3.js
  internal/api/dist/assets/index-BsMY4wuZ.css
  internal/api/dist/assets/index-DlD1Et4F.js
  internal/api/dist/hls.min.js
  internal/api/dist/index.html
  internal/api/dist/mpegts.min.js
  internal/api/http.go
  internal/api/middleware.go
  internal/proxy/hls.go
  internal/proxy/ll_hls_profile.go
  services.json
  services_auth.json
  services_auth_bearer.json
  webui/src/App.css
  webui/src/App.jsx
  webui/src/components/Player.jsx
Due: unittests, API Layer, Stream Proxy

feat: stabilize HLS safe mode and add streaming UI
  internal/proxy/hls.go
  webui/src/App.css
  webui/src/App.jsx
  webui/src/components/Channels.jsx
  webui/src/components/Player.jsx
  webui/src/components/Streaming.jsx
Due: unittests, Stream Proxy

refactor: remove StreamDetector, re-enable LL-HLS, polish UI
  cmd/daemon/main.go
  internal/api/dist/assets/index-B66JCZKX.css
  internal/api/dist/assets/index-DHLnN-cK.css
  internal/api/dist/assets/index-DlD1Et4F.js
  internal/api/dist/assets/index-qTKixX_f.js
  internal/api/dist/index.html
  internal/api/fileserver_test.go
  internal/api/handlers_test.go
  internal/api/http.go
  internal/api/http_test.go
  internal/api/testing.go
  internal/daemon/deps.go
  internal/daemon/manager.go
  internal/jobs/refresh.go
  internal/openwebif/client.go
  internal/openwebif/stream_detection.go
  internal/openwebif/stream_detection_test.go
  internal/proxy/hls.go
  internal/proxy/hls_helper.go
  internal/proxy/proxy.go
  test/contract/api_contract_test.go
  test/helpers/server.go
  webui/src/components/Player.jsx
  webui/src/components/Streaming.jsx
Due: unittests, Daemon, API Layer, Stream Proxy
